$high: 75px;
$bkgd: rgba(50,50,0,0.4);
$b-rad: $high/2;
$fontStyle: italic;
$fontWeight: 300;

[class*="bubble"] {
  font-style: $fontStyle;
  font-weight: $fontWeight;
  background: $bkgd;
  border-radius: $b-rad;
//  display: -webkit-flex;
//  display: -moz-flex;
//  display: -ms-flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
}

.bubble {
//  height: $high;
}
.bubble {
  p {
    padding: 15px;
  }
}
.bubble-sm {

}
