$high: 350px;
$bkgd: rgba(100,100,0,0.4);
$b-rad: $high/2;
$fonty: italic 1.2em/1.3em;

.bubble {
  height: $high;
  width: $high;
  font: $fonty;
}

.bubble-sm {
  height: $high*0.66;
  width: $high*0.66;
  font: $fonty;
}
