/*All color, text styling, and visual touches*/
h1 {
  color: #918c2d;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  align-self: center;
  padding: 15px 0 15px 45px;
  border-bottom: 1px solid #918c2d; }

h2 {
  color: #918c2d;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  align-self: flex-end;
  padding: 15px 20px 12px 45px;
  margin: 0;
  border-bottom: 1px solid #918c2d; }

h3 {
  color: #918c2d;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: flex-end;
  padding: 15px 4vw 0 8vw;
  margin: 0;
  border-bottom: 1px solid #918c2d; }

figcaption {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-align: right;
  width: 90%; }

.note {
  font-weight: 600;
  font-size: 0.6rem;
  color: yellow; }

.note:hover {
  background-color: #3c3c0a;
  cursor: help; }

.tooltip_templates {
  display: none; }

summary {
  outline: none; }

table {
  border-collapse: collapse;
  border: 1px solid #50500f;
  font-size: 0.8rem; }

th, td {
  padding: 5px 10px;
  border: 1px solid #50500f; }

th {
  background: rgba(50, 50, 0, 0.6);
  letter-spacing: 1px; }

tr:nth-child(2n) {
  background: rgba(50, 50, 0, 0.6); }
