/*All color, text styling, and visual touches*/

$outerBkgd: rgba(50, 50, 0, 0.6);
$innerBkgd: rgba(10, 10, 10, 0.6);
$noteBkgd: rgba(0, 0, 0, 0.3);
$sideBkgd: rgba(0, 0, 0, 0.7);
$outRadius: 2rem;
$inRadius: 1.5rem;
$sideRadius: 1.5rem 0 0 1.5rem;
$mainPad: 15px;
$anchorColor: rgb(250, 200, 25);
$headingColor: rgb(145, 140, 45);
$darkAccent: rgb(80, 80, 15);
$introRadius: 0 1.5rem 1.5rem 0;
$figcapSize: 0.8rem;

h1 {
  color: $headingColor;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  align-self: center;
  padding: 15px 0 15px 45px;
  border-bottom: 1px solid $headingColor; }

h2 {
  color: $headingColor;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  align-self: flex-end;
  padding: 15px 20px 12px 45px;
  margin: 0;
  border-bottom: 1px solid $headingColor;
}
h3 {
  color: $headingColor;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: flex-end;
  padding: 15px 4vw 0 8vw;
  margin: 0;
  border-bottom: 1px solid $headingColor;
}

figcaption {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-align: right;
  width: 90%;
}

.note {
  font-weight: 600;
  font-size: 0.6rem;
  color: yellow;
}

 .note:hover {
   background-color: rgb(60,60,10);
   cursor: help;
 }

 .tooltip_templates {
   display: none;
 }

summary {
  outline: none;
}

 table {
   border-collapse: collapse;
   border: 1px solid $darkAccent;
   font-size: 0.8rem;
 }

 th, td {
   padding: 5px 10px;
   border: 1px solid $darkAccent;
 }

th {
  background: $outerBkgd;
  letter-spacing: 1px;
}

tr:nth-child(2n){
  background: $outerBkgd;
}
@mixin RadiusOut {
  -moz-border-radius: $outRadius;
  -webkit-border-radius: $outRadius;
  -ms-border-radius: $outRadius;
  border-radius: $outRadius;
}
@mixin RadiusIn {
  -moz-border-radius: $inRadius;
  -webkit-border-radius: $inRadius;
  -ms-border-radius: $inRadius;
  border-radius: $inRadius;
}
@mixin RadiusSide {
  -moz-border-radius: $sideRadius;
  -webkit-border-radius: $sideRadius;
  -ms-border-radius: $sideRadius;
  border-radius: $sideRadius;
}

@mixin linx ($link, $visit, $hover, $active) {
  a {
      color: $link;
      &:visited {
        color: $visit;
      }
      &:hover {
        background-color: $hover;
      }
      &:active {
        background-color: $active;
      }
      text-decoration: none;
    }
}
