html {
  margin: 0;
  color: #f7f7dc;
  font: 1rem/1.5rem 'Titillium Web', sans-serif; }

body {
  background-color: #000;
  background-image: url("http://www.moonwards.com/img/BlogHeaderOpt.svg"); }

.container {
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.8); }
  .container div {
    padding: 15px; }

figure {
  display: block;
  width: 80%;
  border: 1px solid #50500f;
  margin: auto; }
  figure img {
    width: 100%; }
  figure figcaption {
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.1rem;
    text-align: right;
    width: 90%;
    background: rgba(50, 50, 0, 0.7); }

a {
  text-decoration: none;
  color: yellow; }
  a:visited {
    color: #beee32; }
  a:hover {
    background-color: #3c3c0a; }
  a:active {
    background-color: #3c3c0a; }

ul {
  list-style-type: none; }

h1 {
  color: #96912d;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  margin: auto;
  padding: 15px 0 15px 45px;
  margin: 0;
  border-bottom: 1px solid #96912d; }

h2 {
  color: #96912d;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 20px 12px 45px;
  margin: 0;
  border-bottom: 1px solid #96912d; }
