@import '_layout.scss';
@import '_tooltipster.scss';
@import 'bourbon/bourbon';

html {
    color: rgb(247,247,220);
    font: 1rem/1.5rem 'Titillium Web', sans-serif;
    background: #000 url(http://www.moonwards.com/img/tycho-mod.png) no-repeat fixed right 250px;
    margin:0;
    padding: 0;
    background-size: 1600px;
    @media only screen and (min-width: 1350px) {
      background-size: 100% auto;
      }
}
body, ul {
  margin: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;

  ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  }
  a {
  text-decoration: none;
  font-weight: 300;
  color: $anchorColor;
  }
  a:hover {
    color: yellow;
  }
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 33px;
}

nav > ul li{
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
}
/* Make dropdown menus*/
nav li > ul /*ul whose parent li is a descendent of nav*/{
  display: none;
  border-radius: 15px;
  border: 1px solid #666;
  border-top: none;
  padding: 10px;
}

nav  li:hover > ul /* Statement applies only to
child ul, only when li is hovered */
{
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0;
 }

#Logo {
  flex: 0 0 40%;
  @media only screen and (min-width: 1350px) {
    flex: 0 0 25%;
  }
}

#note {
  flex: 0 0 40%;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #967832;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  border: 8px solid black;
  padding: 12px;
  text-align: right;
    p {
      width: 50%;
      margin-left: auto;
    }
}

.container {
  @include display(flex);
  @include linx(yellow,rgb(210, 238, 94),rgb(60, 60, 10),
  rgb(60,60,10));
  @include flex-wrap(wrap);
  @include justify-content(flex-end);
  @include align-items(flex-start);
  width: 100%;
}

section {
  @include display(flex);
  padding: $mainPad;
  @include flex(3 0 350px);
  @include flex-direction(column);
  margin-top: 30px;
  margin-left: 40px;
}
aside{
  @include flex(1 1 300px);
  margin-top: 5vw;
  @include display(flex);
  @include flex-flow(column nowrap);
  @include justify-content(flex-start);
  @include align-items(stretch);
  @media only screen and (min-width: 1700px) {
    flex: 2 0 400px;
  }
}
.outerDiv {
  background-color: $outerBkgd;
  @include RadiusOut;
}

.innerDiv {
  background-color: $innerBkgd;
  @include RadiusIn;
  @include display(flex);
  @include flex-flow(column nowrap);
  @include align-items(flex-end);
  margin: 15px;
    p {
      width: calc(100% - 38px);
      @include align-self(center);
    }
}

.pixWrap {
  @include display(flex);
  @include flex-flow(row wrap);
  @include align-items(center);
  margin: 15px;
    p {
      margin: 5px;
      padding: 10px;

    }
}
.pixHeader {
  background-color: $innerBkgd;
  border-radius: 15px 15px 0 0;
  margin: 15px 15px 0 15px;
}
.pixBody {
  background-color: $innerBkgd;
  border-radius: 0 0 15px 15px;
  @include display(flex);
  @include flex-flow(row wrap);
  @include align-items(center);
  margin: 0 15px 15px 15px;
}
div .gallery {
  @include flex(auto);
  width: 500px;
  margin: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.pix {
  margin: 15px;
  @include flex(auto);
  @include align-items(center);
  border: 1px solid rgb(80, 80, 0);
  img {
    width: 100%;
    height: auto;
  }
}

.sideDiv {
  background-color: $sideBkgd;
  border-radius: $sideRadius;
  padding: $mainPad;
}
.framewrap {
  position: relative;
  height: 0;
  overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

.frame16x9 {
  padding-bottom: 56.25%;
}
.frame4x3 {
  padding-bottom: 75%;
}

.byline {
  border-top: 1px solid $headingColor;
  margin-right: 20px;
  letter-spacing: 2px;
}

.datetime {
  color: #888;
  font-size: 12px;

}
.title {
  padding: 0 5px;
}

details, summary {display: block;}
details.details_shim_closed > * {display: none;}
details.details_shim_closed > summary {display: block;}
details.details_shim_open   > summary {display: block;}
details.details_shim_closed > summary:before {display: inline-block; content: "\25b6"; padding: 0 0.1em; margin-right: 0.4em; font-size: 0.9em;}
details.details_shim_open   > summary:before {display: inline-block; content: "\25bc"; padding: 0; margin-right: 0.35em;}
