@import '_standard_mixins.scss';
@import '_tooltip.scss';
/*TODO: Put all layout elements in a _layout.scss partial -
that includes all the variables below, and mixins for the
main elements of our layout. The current _standard_mixins
partial will be converted to that.

Incorporate rem for sizing
and get rid of px.

Incorporate media queries as part of
elements that need to be responsive but should stack below
a certain viewer width - there can be as many as you want,
i was confused, they don't involve an http call.

Make a really good page that people with incompatible
browsers are taken to, that sells the idea of upgrading,
and also explains why and has a link to a basic site
if they absolutely won't or can't.

Add variables and maybe mixins to the _tooltip partial.

Solve:
  Comment sections, in-house, fully-featured
  Twitter feed in sidebar that isn't obnoxious
  RSS feed generator
  Getting rid of Sketchfab - Three.js canvasses?
  YouTube channel - replace on the site with Vimeo?

Create reading list, codepens, and video that explains the
way the css and html works, so others can easily maintain
or add to it.

Check out Jade and see if the html should also be adapted.

Check out making Atom packages, hacking Atom, and Electron,
so we can essentially create a custom CMS for Moonwards.
*/
$outerBkgd: rgba(50, 50, 0, 0.5);
$innerBkgd: rgba(10, 10, 10, 0.5);
$noteBkgd: rgba(0, 0, 0, 0.3);
$outRadius: 2rem;
$inRadius: 1.5rem;
$mainPad: 20px;
$anchorColor: rgb(250, 200, 25);
$accentBkgd: rgba(0,0,0, 1);
$accentBorder: 1px solid gray;
$accentRad: 30px;
$accentStyle: italic;
$accentWeight: 200;
$accentFsize:22px;
$accentLnHt: 25px;


html {
    color: #fff;
    font: 1rem/1.5rem 'Titillium Web', sans-serif;
    background: #000 url(https://www.moonwards.com/img/tycho7left.png) no-repeat fixed right 33px;
    margin:0;
    padding: 0;
}

@media only screen and (min-width: 1350px) {
	html {
  background-size: 100% auto;
  }
}

@media only screen and (max-width: 1350px) {
  html {
    background-size: 1600px;}
}

nav {
  width: 100%;
  position: fixed;
  top: 0;

  ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  }
  a {
  text-decoration: none;
  font-weight: 300;
  color: $anchorColor;
  }
  a:hover {
    color: yellow;
  }
}

nav > ul {
  @include flexy;
  width: 100%;
  height: 33px;
  justify-content: space-around;
  align-items: baseline;
}

nav > ul li{
  font-size: 18px;
  font-weight: 300;
  padding: 5px;
}
/* Make dropdown menus*/
nav li > ul /*ul whose parent li is a descendent of nav*/{
  @include flexy;
  flex-direction: column;
  display: none;
  border-radius: 15px;
  border: 1px solid #666;
  border-top: none;
  padding: 10px;

}

nav  li:hover > ul /* Statement applies only to
child ul, only when li is hovered */
{
  display: flex;
}

header {
  @include flexy;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  height: 250px;
  padding: 50px 0;
}

.sec1 {
  flex-grow: 4;
  min-width: 350px;
  padding-right: 60px;
}
.sec2 {
  align-self: flex-end;
  flex-grow: 7;
  @include flexy;
flex-direction: row-reverse;
justify-content: center;
    p {
      width: 40%;
      min-width: 400px;
      padding: 12px 25px;
      text-align: right;
      margin-right: 40px;
      margin-bottom: 35px;
    }
}
.accent {
  font-style: $accentStyle;
  font-weight: $accentWeight;
  font-size: $accentFsize;
  line-height: $accentLnHt;
  background: $accentBkgd;
  border-radius: $accentRad;
}
.container {
  @include flexy;
  @include linx(yellow,rgb(210, 238, 94),rgb(60, 60, 10),
  rgb(60,60,10))
}
section {
  @include flexy;
  margin: auto;
  padding: 15px;

}
.outerDiv {
  background-color: $outerBkgd;
  @include b-RadiusOut;
}

.innerDiv {
  background-color: $innerBkgd;
  @include b-RadiusIn;
  margin: 15px;
    p {
      padding: 12px;
      margin: 12px;
    }
}

.intro {
  font-size: 1.1em;
  line-height: 1.8em;
}

aside {

}


a {
  text-decoration: none;

}
