/*Block level elements, and non-text objects

.container
  +display(flex)
  +flex-wrap(wrap)
  +justify-content(flex-end)
  +align-items(flex-start)
  width: 100%

.containerLearn
  width: 94%
  margin: auto

section
  +display(flex)
  +flex(2 1 500px)
  +flex-flow(column nowrap)
  padding: $mainPad
  margin-top: 3rem
  margin-left: 2rem

section.calc
  +display(flex)
  +flex-flow(row wrap)
  +justify-content(flex-start)
  +align-items(flex-start)
  +flex(0 1 0)
  margin-right: auto
  margin-bottom: 4rem

.wide
  +flex(1 1 900px)

aside
  +flex(1 1 400px)
  +display(flex)
  +flex-flow(column nowrap)
  +justify-content(flex-start)
  +align-items(stretch)
  margin-top: 4rem
  @media only screen and (min-width: 1700px)
    +flex(2 0 400px)

.outerDiv
  +RadiusOut
  background-color: $outerBkgd
  margin: 5px
  @media print
    background-color: transparent
    border: 1px solid black

.blackDiv
  +RadiusOut
  background-color: $sideBkgd
  padding: $mainPad
  @media print
    background-color: transparent

.innerDiv
  +RadiusIn
  +display(flex)
  +flex-flow(column nowrap)
  +align-items(center)
  background-color: $innerBkgd
  margin: 15px
  @media print
    background-color: transparent
  p
    padding: 0.5rem 1.2rem
    margin: 0
    width: 90%
    +align-self(flex-start)

.blackInnerDiv
  +RadiusIn
  +display(flex)
  +flex-flow(column nowrap)
  +align-items(center)
  background-color: $sideBkgd
  margin: 15px
  @media print
    background-color: transparent
  p
    padding: 0.5rem 1.2rem
    margin: 0
    width: 90%
    +align-self(flex-start)

.calcDiv
  +RadiusIn
  +display(flex)
  +flex-flow(column nowrap)
  +align-items(flex-end)
  +justify-content(center)
  background-color: $innerBkgd
  margin: 15px
  @media print
    background-color: transparent
  p, img
    +align-self(center)
  p
    width: calc(100% - 3rem)

.diagram
  background-color: #FFFFFF99
  +Radius5px
  margin: 2px

.pixWrap
  +display(flex)
  +flex-flow(row wrap)
  +align-items(center)
  margin: 15px
  p
    margin: 5px
    padding: 10px

.pixHeader
  background-color: $innerBkgd
  @media print
    background-color: transparent
  border-radius: 15px 15px 0 0
  margin: 15px 15px 0 15px

.pixBody
  background-color: $innerBkgd
  @media print
    background-color: transparent
  border-radius: 0 0 15px 15px
  +display(flex)
  +flex-flow(row wrap)
  +align-items(center)
  margin: 0 15px 15px 15px

.pix
  margin: 15px
  +flex(auto)
  +align-items(center)
  border: 1px solid $darkAccent
  img
    width: 100%
    height: auto

div .gallery
  +flex(auto)
  width: 500px
  margin: 20px
  img
    width: 100%
    height: auto

.imgResize
  +flex(auto)
  +align-self(center)
  img
    width: 90%
    height: auto

.thumbs
  padding: 10px
  +display(flex)
  +flex-flow(row wrap)
  img
    padding: 10px
    flex: 0 1 auto

.sideDiv
  background-color: $sideBkgd
  border-radius: $sideRadius
  padding: $mainPad
  @media print
    background-color: transparent
  img
    width: 90%
    border: 1px solid $lightAccent

.sidePairTop
  background-color: $sideBkgd
  border-radius: 1.5rem 0 0 0
  padding: $mainPad
  @media print
    background-color: transparent
  img
    width: 90%
    border: 1px solid $lightAccent

.sidePairBottom
  background-color: $sideBkgd
  border-radius: 0 0 0 1.5rem
  padding: 0 15px 15px 15px
  font-size: 0.8rem
  letter-spacing: 1px
  line-height: 1.1rem
  text-align: right
  @media print
    background-color: transparent

details
  box-sizing: border-box
  margin-left: 2%

summary
  color: $headingColor
  font-weight: 600
  background-color: $tabBkgd
  @media print
    background-color: transparent
  margin-bottom: 12px

.columnSet
  +display(flex)
  +flex-flow(column nowrap)
  +justify-content(center)
  +align-items(stretch)
  width: 90%
  margin: 0 auto
  padding: 0
  background-color: rgba(0, 0, 0, 0.6)
  @media print
    background-color: transparent
  border-bottom: 3px solid black
  article:nth-child(0n+1)
    background-color: $outerBkgd
    @media print
      background-color: transparent
  article:nth-child(0n+2)
    background-color: $innerBkgd
    @media print
      background-color: transparent
  article:nth-child(0n+3)
    background-color: $thirdBkgd
    @media print
      background-color: transparent

.column
  +flex(1 1 30%)
  box-sizing: border-box
  margin: 0
  padding: 15px

.spanAll
  box-sizing: border-box
  width: 100%
  margin: 0
  padding: 15px
  background-color: $tabBkgd
  @media print
    background-color: transparent
