$outerBkgd: rgba(50, 50, 0, 0.7)
$innerBkgd: rgba(10, 10, 10, 0.7)
$tabBkgd: rgba(0, 0, 0, 0.4)
$sideBkgd: rgba(0, 0, 0, 0.7)
$outRadius: 2rem
$inRadius: 1.5rem
$sideRadius: 1.5rem 0 0 1.5rem
$mainPad: 1rem
$navAnchor: rgb(250, 200, 25)
$navAHover: yellow
$headingColor: rgb(150, 145, 45)
$lightAccent: rgb(115, 115, 15)
$darkAccent: rgb(80, 80, 15)
$introRadius: 0 1.5rem 1.5rem 0
$figcapSize: 0.8rem
$linx: yellow
$aVisited: rgb(190,238,50)
$aHoverBk: rgb(60,60,10)

html
  margin: 0
  color: rgb(247,247,220)
  font: 1rem/1.5rem 'Titillium Web', sans-serif

header.blog
  background-color: #000
  border-top: 1px solid $aHoverBk
  border-bottom: 1px solid $aHoverBk
  width: 100%
  p
    box-sizing: border-box
    margin-left: 1rem
    padding-bottom: 0.2rem
    color: $headingColor
    font-weight: 300
    font-size: 1.1rem
    line-height: 1.4rem
    letter-spacing: 2px

body.blog
  background-color: #000

.blogcontainer
  margin-left: 3%
  background-color: rgba(0, 0, 0, 0.8)

figure.blog
  display: block
  width: 80%
  border: 1px solid $darkAccent
  margin: auto
  img
    width: 100%
  figcaption
    font-size: 0.8rem
    letter-spacing: 1px
    line-height: 1.1rem
    text-align: right
    width: 90%
    background: $outerBkgd



ul.blog
  list-style-type: none
  margin: 0
  padding: 7px 15px


h1.blog
  color: $headingColor
  font-weight: 300
  font-size: 20px
  font-style: italic
  line-height: 24px
  padding: 15px 20px 12px 45px
  margin: 0
  border-bottom: 1px solid $headingColor

h2.blog
  color: $headingColor
  font-weight: 300
  font-style: italic
  font-size: 20px
  line-height: 22px
  margin: auto
  padding: 15px 0 15px 30px
  margin: 0

h3.blog
  color: $headingColor
  font-weight: 300
  font-size: 18px
  line-height: 20px
  margin: auto
  padding: 15px 0 15px 45px
  margin: 0
