header
  +display(flex)
  +flex-flow(row-reverse wrap)
  +justify-content(flex-start)
  +align-items(center)
  +align-content(flex-start)
  padding: 35px 0 0 0
  width: 100%

#Logo
  +flex(1.5 1 250px)
  padding: 1.5rem 3rem 4.5rem 3rem

.intro
  +flex(3 1 30%)
  font-size: 1rem
  line-height: 1.6rem
  text-align: right
  background: $outerBkgd
  border-radius: $introRadius
  padding: 2rem 3rem 2rem 2rem
  margin-left: auto
