.container_SF_iframe
  width: 100%


.SF-Div
  background-color: $sideBkgd
  +RadiusIn
  padding: 15px
  margin-bottom: 30px


.framewrap
  position: relative
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.frame16x9
  padding-bottom: 56.25%

.frame4x3
  padding-bottom: 75%
