html
  margin: 0
  color: rgb(247,247,220)
  font: 1rem/1.6rem 'Titillium Web', sans-serif

body, ul, figure
  margin: 0

.back2index
  +display(flex)
  +justify-content(center)
  +align-items(center)
  position: fixed
  top: 0px
  width: 100%
  height: 2rem
  z-index: 2
  background-color: black
  a
    padding: 0 3px
    letter-spacing: 2px
    font-size: 0.8rem
    text-align: center
    color: $navAnchor
    &:visited
      color: $navAnchor
    &:hover
      color: $linx
    &:active
      color: $aVisited


header
  background-color: #000
  background-image: url("http://www.moonwards.com/img/BlogHeaderOpt.svg")
  border-top: 1px solid $aHoverBk
  border-bottom: 1px solid $aHoverBk
  width: 100%
  p
    box-sizing: border-box
    width: 70%
    margin: 2rem auto
    color: $headingColor
    font-weight: 300
    font-size: 1.1rem
    line-height: 1.5rem
    letter-spacing: 2px
    background-color: rgba(0, 0, 0, 0.9)
    border-radius: 2rem
    border: 1px solid $aHoverBk
    padding: 1rem 2rem

.container
  margin-top: 30px
  margin-left: 4%
  width: 90%
  background-color: rgba(50, 50, 50, 0.7)
  position: relative
  p
    padding: 15px
  figure
    display: block
    width: 80%
    border: 1px solid $aHoverBk
    margin: auto
    img
      width: 100%
    figcaption
      font-size: 0.8rem
      letter-spacing: 1px
      line-height: 1.1rem
      text-align: right
      width: 90%
      background: $outerBkgd





a
  text-decoration: none
  color: $linx
  &:visited
    color: $aVisited
  &:hover
    background-color: $aHoverBk
  &:active
    background-color: $aHoverBk


h1
  color: $headingColor
  font-weight: 300
  font-style: italic
  font-size: 24px
  line-height: 28px
  padding: 15px 0 15px 45px
  margin: 0
  border-bottom: 1px solid $headingColor

h2
  color: $headingColor
  font-weight: 300
  font-size: 20px
  line-height: 24px
  padding: 15px 20px 12px 45px
  margin: 0
  border-bottom: 1px solid $headingColor

h3
  color: $headingColor
  font-weight: 400
  font-size: 18px
  line-height: 24px
  padding: 15px 4vw 0 8vw
  margin: 0
  border-bottom: 1px solid $headingColor

h5
  color: $headingColor
  font-weight: 400
  line-height: 20px
  font-size: 18px
  padding: 4px 20px
  margin: 20px 0 5px 0

.byline
  border-top: 1px solid $headingColor
  margin-right: 20px
  letter-spacing: 2px

.note
  font-weight: 600
  font-size: 0.6rem
  color: yellow
  &:hover
    background-color: rgb(60,60,10)
    cursor: help

.note-inline
  font-weight: 400
  font-size: 1rem
  color: yellow
  &:hover
    background-color: rgb(60,60,10)
    cursor: help

/*This hides Tooltipster tooltips until hovered
.tooltip_templates
  display: none

@mixin RadiusOut
  -moz-border-radius: $outRadius
  -webkit-border-radius: $outRadius
  -ms-border-radius: $outRadius
  border-radius: $outRadius

@mixin RadiusIn
  -moz-border-radius: $inRadius
  -webkit-border-radius: $inRadius
  -ms-border-radius: $inRadius
  border-radius: $inRadius

@mixin RadiusSide
  -moz-border-radius: $sideRadius
  -webkit-border-radius: $sideRadius
  -ms-border-radius: $sideRadius
  border-radius: $sideRadius
