.formBuffer
	padding-bottom: 5px
	margin-bottom: 0

.diagram
	background-color: #D0D0D099
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	margin: 2px

#applet_container2
	width: 500px
	height: 500px
	align-self: center
	padding: 10px
	margin-bottom: 20px

#applet_container1
	width: 500px
	height: 355px
	display: block
