$outerBkgd: rgba(40, 45, 15, 0.8)
$innerBkgd: rgba(50, 50, 50, 0.8)
$thirdBkgd: rgba(50, 38, 0, 0.7)
$tabBkgd: rgba(0, 0, 0, 0.4)
$sideBkgd: rgba(0, 0, 0, 0.8)
$outRadius: 2rem
$inRadius: 1.5rem
$sideRadius: 1.5rem 0 0 1.5rem
$mainPad: 1rem
$navAnchor: rgb(250, 200, 25)
$navAHover: yellow
$headingColor: rgb(165, 165, 45)
$lightAccent: rgb(115, 115, 15)
$darkAccent: rgb(80, 80, 15)
$extraDarkAccent: rgb(47, 52, 0)
$introRadius: 0 1.5rem 1.5rem 0
$figcapSize: 0.8rem
$linx: rgb(193,218,25)
$aVisited: rgb(210,200,0)
$aHoverBk: rgb(60,60,10)
$Radius5px: 5px

@mixin RadiusOut
  -moz-border-radius: $outRadius
  -webkit-border-radius: $outRadius
  -ms-border-radius: $outRadius
  border-radius: $outRadius

@mixin RadiusIn
  -moz-border-radius: $inRadius
  -webkit-border-radius: $inRadius
  -ms-border-radius: $inRadius
  border-radius: $inRadius

@mixin RadiusSide
  -moz-border-radius: $sideRadius
  -webkit-border-radius: $sideRadius
  -ms-border-radius: $sideRadius
  border-radius: $sideRadius

@mixin Radius5px
  -moz-border-radius: $Radius5px
  -webkit-border-radius: $Radius5px
  -ms-border-radius: $Radius5px
  border-radius: $Radius5px
