table
  border-collapse: collapse
  border: 1px solid $darkAccent
  font-size: 1rem
  @media only screen and (max-width: 775px)
    font-size: 0.8rem

th, td
  padding: 5px 10px
  border: 1px solid $darkAccent


th
  background: $outerBkgd
  letter-spacing: 1px


tr:nth-child(2n)
  background: $outerBkgd

tr:nth-child(odd)
  background: $innerBkgd

.verticalText
  transform: rotate(90deg)
  transform-origin: left top 0
  float: left
