/*All color, text styling, visual touches, and basic doc styles*/

body, ul, figure
  margin: 0

a
  text-decoration: none
  color: $linx
  &:visited
    color: $aVisited
  &:hover
    background-color: $aHoverBk
    color: $navAHover
  &:active
    background-color: $aHoverBk

a.clearbk:hover, a.clearbk:active
  background-color: transparent


h1
  +align-self(center)
  color: $headingColor
  font-weight: 300
  font-style: italic
  font-size: 26px
  line-height: 30px
  padding: 15px 0 15px 45px
  margin: 0
  border-bottom: 2px solid $headingColor

h2
  +align-self(flex-end)
  color: $headingColor
  font-weight: 400
  font-size: 24px
  line-height: 24px
  padding: 15px 20px 12px 45px
  margin: 0
  border-bottom: 1px solid $headingColor

h3
  +align-self(flex-end)
  color: $headingColor
  font-weight: 600
  font-size: 24px
  line-height: 30px
  padding: 15px 4vw 0 8vw
  margin: 0
  border-bottom: 1px solid $headingColor

h4
  +align-self(flex-start)
  color: $headingColor
  font-weight: 400
  font-size: 24px
  line-height: 30px
  padding: 15px 20px 12px 45px
  margin: 0
  border-bottom: 1px solid $headingColor

h5
  +align-self(center)
  color: $headingColor
  font-weight: 400
  line-height: 24px
  font-size: 20px
  padding: 4px 20px
  margin: 20px 0 5px 0

h6
  color: $headingColor
  background-color: $tabBkgd
  display: inline
  font-size: 20px
  font-weight: 400
  padding-left: 0.2rem
  padding-right: 0.3rem
  margin-right: 0.3rem

.column h1
  font-weight: 400
  letter-spacing: 1px

.column h2
  font-weight: 400
  text-align: right
  padding: 10px
  margin: 5px auto
  display: inline

.column h5
  display: inline

figcaption
  font-size: 0.8rem
  letter-spacing: 1px
  line-height: 1.1rem
  text-align: right
  width: 90%


.byline
  border-top: 1px solid $headingColor
  margin-right: 20px
  letter-spacing: 2px

.note
  font-weight: 600
  font-size: 0.6rem
  color: yellow
  &:hover
    background-color: rgb(60,60,10)
    cursor: help

.note-inline
  font-weight: 400
  font-size: 1rem
  color: yellow
  &:hover
    background-color: rgb(60,60,10)
    cursor: help

.postindex
  font-size: 1.1rem
  font-weight: 300

ul
  padding: 10px
  width: 87%

.plzNoHoverBackground
  &:hover
    background-color: transparent
