					<figure class="pix" style="max-width: 1618px;">
						<img src="img/AS16-P-5401-LalandeCrop.png">
						<figcaption>For the complete orginal file, totally zoomable, with all the metadata and a set of download choices, go here -
							<a href="http://wms.lroc.asu.edu/apollo/view?image_name=AS16-P-5401">
							AS16-P-5401</a>. This is the sort of awesomeness you find deep in the rabbit-holes of the <a href="http://lroc.sese.asu.edu/">LROC
							website</a>. The image here is best viewed by right-clicking it and choosing 'view image' or 'open image' in your browser, as it is large.
						</figcaption>
						<p>
							This image was taken when the sun was 37&deg; above the horizon. (To be precise, at 11:19:13 pm GMT on April 24th, 1972. It was a Monday.) So from the shadows on the east wall it's clear it's inclined almost exactly 37&deg; on average. The wall must be
							a little steeper in that black puddle where the galleries of Cernan's Promise will be.
						</p>
						<p>
							The shot shows well the collection of house- to barn-size boulders below the colony site. Perhaps they were created when the large crater just by the rim, inside the indicator square (and nicknamed Teacup), was created. They look like they rolled down
							the slope, and that jibes with the slight inward dip in the crater rim there, and the flattening at the top of it, to say the impact shook material loose and it pooled down where the crater wall begins to flatten out, against those rocky shelves.
							All the craters that close to Lalande are younger than it is, otherwise the debris thrown up by the asteroid that created Lalande would have filled them in.
						</p>
						<p>
							Maybe the layered rocky shelves visible here indicate interfaces between strata with different mineral compositions, or maybe they are just where the rock was flawed due to the particular way it shifted around as it cooled solid, a few billion years ago
							when this basalt lava sea formed, and the impact blast fractured off the more superficial material there. On average the granular layer is about 1 km deep. 'Granular' refers to chunks of any size, as opposed to rock that is continuous, which is
							bedrock. Nearer the bottom of that layer the chunks are mostly boulders
							<sup class="note tooltip" data-tooltip-content="#Crust">
							[1]</sup><sup class="note tooltip" data-tooltip-content="#Ap17Seismic">
							[2]</sup>
						</p>
					</figure>
					<div class="tooltip_templates">
						<span id="Crust">
							<img src="img/LunarCrustDepth.png" />
							<p>
							How the lunar surface changes with depth. From the
								<a href="http://www.lpi.usra.edu/publications/books/lunar_sourcebook/pdf/Chapter04.pdf">
								Lunar Sourcebook</a>, ch. 4 page 93. This is a 'typical' profile which
								naturally changes a lot depending on the particular history of an area.
							</p>
						</span>
					</div>
					<div class="tooltip_templates">
						<span id="Ap17Seismic">
							<img src="img/ian-regolith-3.jpg" />
							<p>
							The structure of the ground under Taurus-Littrow, the landing
							site of Apollo 17. The graphic is from the
							<a href="https://moonzooblog.wordpress.com/2012/12/15/december-15-measuring-the-regolith-thickness-at-the-apollo-17-site/">
								Moonzoo blog</a>
							</p>
						</span>
					</div>
