					<figure class="pix" style="max-width: 1200px;">
						<img src="img/Apollo16full1200.png">
						<figcaption>This is the far north end of a frame taken by the
							<a href="http://www.lpi.usra.edu/lunar/missions/apollo/apollo_16/experiments/mpc/">
							Apollo 16</a><a href="https://history.nasa.gov/afj/simbaycam/itek-pan-camera.htm">
								 panoramic camera</a>. Each frame covers a ground area 320 km long and 20 km wide, with the smallest detail recorded being about 2 m across - almost as good as the resolution of the Lunar Reconnaissance Orbiter, whose best images have pixels equal
							to 50 cm on the ground. The location of 'downtown' Cernan's Promise is indicated.
						</figcaption>
						<p>
							The anatomy of a crater is really clear here. The rim remains sharp, and all the features clear. It is younger than most lunar craters, but still 2.2 to 2.8 billion years old. The age when the Moon was being battered by meteors all the time had long since
							ended when the Lalande impact occurred. The way the surrounding ground was raised near the rim, and thickened by a carpet of blast debris, is visible in the slope upwards to the rim extending 3 or 4 km outside the crater. The line where the granular
							layer of the ground ends and solid bedrock begins is evident where a pretty even, flat slope suddenly switches to a series of scallops and shelves that then descend at a much shallower angle towards the crater floor. The difference is especially
							dramatic on the south and west walls. The flat crater floor clearly demarks where lava and debris pooled after the blast. The lava was created by the energy of the explosion - the impacting asteroid would have been between 1 and 2 km wide and moving
							at something like 20 or 30 km/s. The central mountains show where the shockwaves from the blast caused the ground to rebound and well up.
						</p>
						<p>
							The Apollo 16 service module took 1435 images of the lunar surface during its 3 days in lunar orbit. The image above is from one of two taken of the area during the last orbit recording these photos. It shows about a tenth of the full image. These photos
							were designed to be combined in pairs to produce a stereoscopic image of the surface - the kind that look 3D when viewed with those red-and-blue glasses. (Yes, i'll do that when i have a chance and figure out how.) The full images from this camera
							looked like the one below, which is the pair of the image above:
						</p>
					</figure>
