					<figure class="pix">
						<img src="img/A16-5401-thumb.jpg">
						<figcaption>Each of these is a swath showing 12&deg; of latitude and about 1&deg; of longitude. Note how much the perspective changes between the middle and the edges. This is an extreme wide-angle view. </figcaption>
						<p>
							The exposure in the 2nd image of the pair is higher. A lot more detail is visible in the shadows, but the bright areas are washed out. The area of greatest interest is in the shadows of the crater's east wall, that's where the galleries of Cernan's Promise
							go. So, i got the highest resolution image available of that section, and rotated and cropped it to take a good look:
						</p>
					</figure>
