					<figure class="pix" style="max-width: 1100px;">
						<img src="img/HiResDebrisNoon.png" alt="Lalande Crater east wall
						below rim Lunar Reconnaissance Orbiter image at noon showing
						flows of debris and depth of stony outcroppings">
						<figcaption>Noon image near the colony site. Also by the LRO, as are the remaining black and white images. They are from <a href="http://target.lroc.asu.edu/q3/">QuickMap</a>. All the LRO images seamlessly laid onto a globe of the Moon. It's for people like
								us.
						</figcaption>
						<p>
								The lion's tail shape of the landslide shown at top right of this image is also in the previous image. So, you can see how different the Moon looks at different times of day. Noon is when you can see what shade a material is, instead of the shade value
								of an area being determined by shadows cast between particles. Suddenly, the long, slender rivulets formed by material rolling down the crater wall are visible. They suggest to me that little patches of stone and regolith crumble occasionally,
								triggered by the vibrations of a moonquake or an impact in the area, and then roll quite far before coming to rest. Their fluid look indicates a high proportion of small grains in the material slipping down the face.
						</p>
						<p>
								Things like this are important to consider when you are deciding how to send rovers into this terrain. This is landslide territory. The galleries of Cernan's Promise go right through the middle of it, in fact going through the next gap below the lion's
								tail one to reduce excavation through those outcroppings that look so rocky. The mass and activity of a rover might not be enough to destabilize the slope, or your extremely expensive rovers might be at serious risk of crushing or burial. It will
								have to be done carefully.
						</p>
						<p>
								Those outcroppings are interesting. This image reveals how vertical their faces are, implying the material there is quite cohesive. I don't want to call it rock, because it is too shallow to be a layer of solid rock, and there are no processes on the
								Moon that produce sedimentary rock. That requires water. Once that occured to me, as i was writing this up, i went on a little mission to find out what that material could be, then. That got nowhere, but led me to other interesting things that
								were productive. This happens to me all the time. Anyhow, i don't think that material can be supposed to be like rock, but instead like an extra-compacted version of regolith. In particular, the thermal properties of it need to be assumed to be
								pretty similar to hard-packed regolith, meaning it is more like insulation than a thermal sink.
						</p>
					</figure>
