					<figure class="pix" style="max-width: 750px;">
						<img src="img/HiresCPsite.png" alt="Lalande Crater east wall
						Lunar Reconnaissance Orbiter image showing detail of debris and strata">
						<figcaption>Evening image of the Cernan's Promise site by the Lunar Reconnaissance Orbiter.
						</figcaption>
						<p>
								Outside the lip of the crater is in darkness. About 100 to 200 m inside the lip there is a wavy dividing line where the wall gets steeper, you can tell because its west side is brighter where material has slumped downwards and there are even several landslides.
								The area between that dividing line and the crater lip is the flattened rim area visible in the third image above. That division exists around the majority of the east and northeast walls. It must correspond to a change in density, meaning
								a change in composition or an increase in large fragments. Taken together, the photos indicate this division is about 50 or 60 m below the surface outside the rim.
						</p>
						<p>
								The material that has crumbled is bright because it's fresh, relatively speaking. The faces of those chunks and particles may have been exposed to the sun and sky for less than a billion years. Exposed regolith cracks ever more with the thermal cycle
								from very hot to very cold every day, and fragments thanks to steady bombardment by very small meteorites micrometers to centimeters in size, and loses its lustre. Fresh material reflects light better. By contrast, dark patches show where the
								ground is covered by larger chunks - pebbles and small rocks. The gaps between these larger fragments are in shadow so these areas look darker.
						</p>
					</figure>
