<section class="frameContainer" id="CraterModel">
 <div class="framePairTop">
  <figure class="framewrap frame16x9">
						<iframe src="LalandeCrater.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</figure>
 </div>
 <div class="framePairBottom">
  This model of Lalande is based on LOLA topographical data, the oblique photos taken by Apollo 16, and the above image made from the LRO data, which is laid overtop. Detail will be added to it over time, and it will form the basis of the landscape of the virtual colonies. The photographic texture will be replaced with algorithmic textures that are a good representation of the lunar surface. The largest boulders will be modeled and placed on the model of the ground.
 </div>
</section>
