<figure class="pix" style="max-width: 750px;">
    <img src="img/Lal-boulders2.jpg">
    <figcaption>Same exact place as the previous image, at noon.</figcaption>
    <p>It looks awfully different at lunar noon, doesn't it? Try the trick of opening each of these images in its own tab by right-clicking and choosing 'View Image' or 'Open in new tab' (depending on which browser you use). Now switch between tabs a few
        times. The first image exactly overlays the second, everything lines up just the same. But there is no sign at all of that jet-black material in the morning picture. What is that stuff?
    </p>
    <p>It is important to remember that the sun was exactly behind the camera when this image was taken. That maximizes the contrast due to different light absorption of materials. Stuff that is light or white typically is material that broke into chunks with nice, clean flat faces, which reflect light best. Those bits could also be of highlands material, which is largely anorthosite, and that is pale. But the black? Basalt is often very dark stone. And the Moon reflects little light. You don't notice, because you look at it in a black sky, but it is as dark as asphalt. The contrast here could have as much to do with the camera settings as anything else. After looking at a bunch of examples of this phenomenon, such as
      <span class="note-inline tooltip"
          data-tooltip-content="#black-boulders1">this</span>, and <span class="note-inline tooltip" data-tooltip-content="#black-boulders2">this</span>, and <span class="note-inline tooltip" data-tooltip-content="#black-boulders3">this</span>, it seems to me these places could be where big pieces of solid basalt were smashed into smaller pieces still large and jagged enough that dust slips down their faces, leaving their darkness intact. Or there are lots of pieces of obsidian in these areas, some stuck on faces of larger rocks. Hard to say without going there. At any rate, if you are looking for the rock with the most KREEP, those ones are maybe the best place to start.
    </p>
</figure>
<div class="tooltip_templates">
    <span id="black-boulders1">
       <img src="https://www.moonwards.com/img/blackBoulders1.jpg">
      </span>
</div>
<div class="tooltip_templates">
    <span id="black-boulders2">
       <img src="https://www.moonwards.com/img/blackBoulders2.jpg">
      </span>
</div>
<div class="tooltip_templates">
    <span id="black-boulders3">
       <img src="https://www.moonwards.com/img/blackBoulders3.jpg">
      </span>
</div>
