					<figure class="pix" style="max-width: 750px;" id="LalSoilTemp">
						<img src="img/LalandeTempDiff.jpg">
						<figcaption>Map of nighttime soil temperatures by the Lunar Reconnaissance Orbiter Diviner instrument. Each pixel the instrument records is about 200 m across.
						</figcaption>
						<p>
							Large rocks stores heat better than small grains. The spots that were recorded as being hottest in the image above correspond well to areas where LRO photos show lots of boulders or talus slopes (inclines composed of rocky debris). So the hotspot down
							the crater wall stays about 30 K warmer (54&deg;F) than the rim at Cernan's Promise overnight, but at its coldest, that warm spot is still about -135&deg;C (-275&deg;F). By noon it is 115&deg;C (240&deg;F).
						</p>
					</figure>
