# Temporary Files #
*~
*.swp
# stuff used by jekyll or something #
# tmp sass #
*.sass-cache
# sass mapping files? #
*.map
# config files for Visual Studio Code #
.vscode/
# folders not needed #
moonwards.com/
css/
downloads/
