---
layout: null
---
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Recent blog posts</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="css/blogMain.nest.sass.css">
 </head>
 <body>
  <section class="container">
  	<header>
     <p>
       What if a group of nations was determined to
       colonize the Moon, and they based their decisions only on
       technical and economic merit?
     </p>
     <p>All blog posts linked below:</p>
  	</header>
  <ul>
  {% for post in site.posts %}
    {% if forloop.index <= 5 %}
    <li>
     <h1><a href="{{post.url | remove_first: "/" }}">{{post.title}}</a></h1>
     <h3>{{ post.excerpt | strip_html}}</h3>
    </li>
    {% else %}
    <li>
     <h2><a href="{{post.url | remove_first: "/" }}">{{post.title}}</a></h2>
     <h3>{{ post.content | truncatewords: 50 | strip_html}}</h3>
    </li>
    {% endif%}
  {% endfor %}
  </ul>
  </section>
 <!--<script type="text/javascript" src="js/iframeResizer.contentWindow.min.js"></script>-->
 </body>
</html>
