---
layout: defaultMinimal
title: Moonwards Virtual Moon Colony Project
stylesheet: "css/main.nest.sass.css"
description: "A realistic virtual lunar colony, showing how space
settlement will affect our future. The technology and science of living on the Moon, the challenges and opportunities of low gravity, hard vacuum, high radiation, intense sun, large temperature swings, and the substances
of the Moon."
image: "img/NewTESS-Stirlings.jpg"
---


{%include headerMain.html%}
<div class="container">
	<section>
		<div class="outerDiv">
			<ul class="tabs">
				<li>
					<a href="javascript:void(0)"
					onclick="openContent(event,'blog')" id="defaultOpen">Blog</a>
				</li>
				<li>
					<a href="javascript:void(0)"
					onclick="openContent(event, 'intro')">Introduction</a>
				</li>
			</ul>
			<article class="blackInnerDiv under-tabs tabcontent" id="blog">
			<section class="goodHeight" style="overflow-y:auto; margin-top: 1rem">
	 				<p class="blog">All blog posts linked below:</p>
	 				<div>
	 					<ul class="blog">
	 					    {% for post in site.posts %}
	 							{% if forloop.index <= 5 %}
	 						<li>
	 							<h1><a href="{{post.url }}">{{post.title}}</a></h1>
	 							<h3>{{ post.excerpt | strip_html}}</h3>
	 						</li>
	 						{% else %}
	 						<li>
	 							<h2><a href="{{post.url }}">{{post.title}}</a></h2>
	 							<h3>{{ post.content | truncatewords: 50 | strip_html}}</h3>
	 						</li>
	 						{% endif%}
	 					{% endfor %}
	 					</ul>
 				</div>
 			</section>
			</article>
			<article class="innerDiv under-tabs tabcontent" id="intro">
				<h1>Realistic Lunar Colony, Coming Online</h1>
					<p>
						This project is building a series of virtual colonies on the Moon and in the Earth-Moon system. We are building rich immersive environments that are entirely plausible, technically and scientifically. In them we'll examine all the questions, consider all the implications of space settlement. When humanity undertakes ventures on such a vast scale, it matters a great deal
						how many people have given it real thought beforehand. These colonies serve
						that purpose.
					</p>
					<p>
						The core colony, Cernan's Promise, shows a full town with a population of 25,000.
						It has developed industries and facilities, spacious beautiful architecture,
						and transport systems moving high volumes of people and cargo around the Moon and the solar system. It shows what happens just beyond the tipping point, when technology enables a space boom. To evaluate the importance of space exploration, this is the stage the public needs to understand.
					</p>
					<p>
						The next two colonies work outwards from there... forwards to the city that
						grows from the town, when technology allows a segmented glass dome to be placed over
						a crater 23 km across, becoming home to a million people... and backwards to
						the first missions that develop the basic techniques and infrastructure that
						make it all possible.
					</p>
					<p>
						These environments are places to explore, create, collaborate, tell stories, play,
						and above all to learn and to contemplate our future. To that end, the project
						assumes an ideal political environment, in which a broad alliance of countries
						pursues lunar settlement with determination and vision, making the best
						technical decisions and investing as much as it takes to do it properly. In this
						way the project can educate regarding the real gamut of options before us,
						and the complete scope of such a vast endeavor.
					</p>
					<p>
						Moonwards will always be open source, free of copyright, and free of
						charge to the public. In this way, as long as it has a strong core
						framework, it has incredible potential for growth. Some virtual world project
						along these lines is going to explode in the near future. The time is right.
						Once a world is vivid enough, and provides the right tools, it will mushroom
						as talented people see the potential and dive in. Never before has there
						existed a way for so very many people to collaborate so powerfully.
						Moonwards can reach towards two final frontiers -
						the one above our heads, and the one inside our heads. Let us see how powerful
						vision can be.
					</p>
					<p>
						All the project's files are on the <a href="https://github.com/briligg/moonwards"> GitHub repository of Moonwards</a>. It is at an early stage. It will always be 'under construction', though - that's its nature. You will see this website filling out and then get new content regularly as the project advances. You will see the models changing and new models being added, animated, and supplemented with other media. When the first, simple version of the virtual colony comes online, then we are really rolling. If you are inclined to take part, please use the contact options shown on the <a href="project.html">Project</a> page, or email me.
					</p>
					<p class="byline">
						Kim Holder -- kim@moonwards.com
					</p>
				</article>
		</div>
	</section>

{%include asideMain.html%}
</div>
<script type="text/javascript" src="js/TabJS.js"></script>
