---
layout: content
title: Lalande Crater Fanpage
stylesheet: "css/content.nest.sass.css"
description: "Photos, models, and data on Lalande Crater, near the Moon's equator. Discussion of its properties, topography, mineral deposits, and the history of
its documentation."
headline: "Lalande Crater"
intro: "Steep walls, riddled with boulders, fields of scree, full of fissures - there are few craters on the Moon like Lalande. This page gets about as nerdy as possible about lunar geography. I bet there is no place else in the solar system (beyond Earth) that has a fan page like this. Prepare for the full nerd treatment."
comments: true
---
<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<div class="pixWrap">
          {% include_relative _includes/lalande/Apollo16-a.html %}
          {% include_relative _includes/lalande/AS16-P-5401.html %}
          {% include_relative _includes/lalande/Apollo16-b.html %}
          {% include_relative _includes/lalande/LalSoilTemp.html %}
          {% include_relative _includes/lalande/CP-Site-1.html %}
          {% include_relative _includes/lalande/CP-Site-2.html %}
          {% include_relative _includes/lalande/Lal-Thorium.html %}
          {% include_relative _includes/lalande/Lal-boulders1.html %}
          {% include_relative _includes/lalande/Lal-boulders2.html %}
          {% include_relative _includes/lalande/BigLal.html %}
          {% include_relative _includes/lalande/CraterModel.html %}
				</div>
			</div>
		</div>
	</section>
</div>
</body>

</html>
