---
layout: learnpage
title: Learn Moon Settlement Science and Math
stylesheet: "css/content.nest.sass.css"
description: "A realistic virtual lunar colony, showing how space
settlement will affect our future. The technology and science of living
on the Moon, the challenges and opportunities of low gravity, hard vacuum,
high radiation, intense sun, large temperature swings, and the substances
of the Moon."
---

<header>
	<div id="Logo">
		<a class="clearbk" href="index.html"><img src="img/MWLogo-for-black-bckgnd.svg" alt="Moonwards"></a>
	</div>
	<div class="intro">
		<h1>How Space Works</h1>
		<p>This is a collection of calculators, animations, and mini-apps that illustrate the physics of space. There are also tutorials on core concepts. This is being expanded over time to get across a feel for space and space travel in an intuitive way.
		</p>
	</div>
</header>
<div class="containerLearn">
	<section class="calc" id="tryit">
		<div class="outerDiv">
			<div class="calcDiv">
				<a href="tools/pelletSimulator.html"><img src="img/pelletSimulatorLink.png" width="400" alt="Pellet simulator"></a>
			</div>
		</div>
		<div class="outerDiv">
			<div class="calcDiv">
				{%include_relative _includes/learn/suborbital.html%}
			</div>
		</div>
		<div class="outerDiv" id="LunarElevator">
			<div class="calcDiv">
				{%include_relative _includes/learn/lunarElevator.html%}
			</div>
		</div>
		<div class="outerDiv">
			<div class="calcDiv">
				{%include_relative _includes/learn/rocketEquation.html%}
			</div>
		</div>
		<div class="outerDiv">
			<div class="calcDiv">
				<h2>Rotovators</h2>
				<div class="imgResize">
					<a href="rotovator.html">
						<img src="img/RotovatorCanvasLink.png" alt="link to rotovator page">
					</a>
				</div>
			</div>
		</div>
		<div class="outerDiv" id="MiscTools">
			<div class="calcDiv">
				<h2>Misc tools</h2>
				<ul>
					<li><a href="tools/teth.html">Tether Tool</a></li>
					<li><a href="tools/starplotter.html">Starplotter</a></li>
					<li><a href="tools/pelletSimulator.html">Pellet Simulator</a></li>
					<li><a href="tools/engineSearch.html">Engine Search</a></li>
					<li><a href="tools/gravityTurn.html">Gravity Turn [bad UI]</a></li>
					<li><a href="tools/planets.html">Transfer Calculator [in "progress"]</a></li>
				</ul>
			</div>
		</div>
		<div class="outerDiv">
			<div class="calcDiv">
				<!--Geogebra applet-->
				<div id="applet_container3" style="width:900px;height:500px;padding:10px;margin-bottom:20px;"></div>
				<!--end Geogebra applet-->
			</div>
		</div>
	</section>
</div>
<div class="container">
<section class="wide" id="lessons">
	<div class="outerDiv">
		<div class="innerDiv">
			<h2>A quick introduction to orbital mechanics</h2>
			<p>
				Orbital motion? That is just what happens when gravity is the only force that applies. In space, which mostly consists of space, things are seldom touching each other. As gravity is the only way objects then interact, orbital mechanics becomes the tool of choice to analyse what is going on.
			</p>
			<!--Geogebra applet-->
			<div id="applet_container2" style="width:500px;height:500px;padding:10px;margin-bottom:20px;">
				Applet not loading? <a href="img/orbit.png">Here is an image instead</a>
			</div>
			<!--end Geogebra applet-->
			<h5>
				The following terms are important when describing an orbit:
			</h5>
			<ul>
				<li><b>Periapsis:</b> The point where the orbiting craft is <i>closest</i> to the object it orbits.</li>
				<li><b>Apoapsis:</b> The point where the orbiting craft is <i>farthest</i> from the object it orbits.</li>
				<li><b>Semi-major axis:</b> The largest central radius of an ellipse. This is half the distance between the periapsis and apoapsis. Often shortened to $a$.</li>
			</ul>
			<br>
			<h5>Let us then get started with the math!</h5>
			<p>
				We have a spacecraft orbiting in a circular orbit. What is its velocity?
					$$v=\sqrt{\frac{\mu}{r}}$$
				$v$ is of course the velocity. $\mu$ is the gravitational parameter. You would often see that as $GM$, which is the same
				thing. That is the mass of the object you are orbiting ($M$) multiplied with the gravitational constant ($G=6.674 \cdot 10^{-11} \frac{m^3}{kg s^2}$).
			</p>
			<p>To save you some time:</p>
			<ul>
				<li>$\mu _{Earth}=3.98600441 \cdot 10^{14} \frac{m^3}{s^2}$</li>
				<li>$\mu _{Moon}=4.9048695 \cdot 10^{12} \frac{m^3}{s^2}$</li>
				<li>$\mu _{Sun}=1.32712440018 \cdot 10^{20} \frac{m^3}{s^2}$</li>
			</ul>
			<p>
				Using that information, we can calculate things like the orbital velocity in low Earth orbit:
				$\sqrt{\frac{\mu _{Earth}}{r_{LEO}}}=\sqrt{\frac{3.986 \cdot 10^{14} \frac{m^3}{s^2}}{6600000m}}=7771 \frac{m}{s}$
			</p>
			<p>
				But wait a minute, not all orbits are circles! How can be calculate the orbital velocity in an elliptical orbit? Well,
				first of all, the velocity varies depending on where in the orbit you are, having a larger velocity at the periapsis than
				at the apoapsis. But there is an equation here to:
					$$v=\sqrt{\mu \left(\frac{2}{r}-\frac{1}{a}\right)}$$
				$r$ is here your current distance to the centre of the object you are orbiting, and $a$ is the semi-major axis that we just
				talked about. Notice that in the case of a circular orbit, $r=a$ so this equation simplifies back to $v=\sqrt{\frac{\mu}{r}}$
			</p>
			<h3 id="TransferOrbits">Transfer Orbits</h3>
			<p>
				We can already start to put the things we have learned together. Take a look at the figure below. Imagine you are
				orbiting in the blue orbit, and want to change to the red orbit:
			</p>
			<img class="diagram" src="img/transfer.svg" width="50%" alt="circular blue orbit, elliptical red orbit touching the blue one">
			<p>
				What do you do? Well, take a look at the point where the orbits touch each other. Why are we in the blue orbit there,
				and not in the red one? After all, you can be in that location if you where in the red orbit too. Not everything is
				the same. What matters here is that you would have a different velocity, depending on which of the orbits you are in.
				Let us calculate that. We say $\mu = 1$ for simplicity:
					$$v_{blue}=\sqrt{\frac{1}{1}}=1$$
					$$v_{red}=\sqrt{1\left(\frac{2}{1}-\frac{1}{2}\right)}=1.225$$
				Below is an illustration of the velocity vectors. The pink part is the $\Delta v$ we have to spend. Note that the difference is 				smallest when the vectors point in the same direction.
			</p>
			<img src="img/difference.png" alt="comparission of vectors">
			<h5>Hohmann transfer orbits</h5>
			<p>
				A very common type of orbital transfer is between two circular orbits with different radius. The most efficient transfer is almost 					always an elliptical orbit touching both cirles. Below is an illustration. Click "start" to view an animation.
			</p>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50%" viewBox="0 0 100 100">
				<rect x="0" y="0" width="100%" height="100%" fill="black"/>
				<circle cx="50" cy="50" r="5" fill="yellow" stroke="white" stroke-width="1"/>
				<circle cx="50" cy="50" r="20" fill="none" stroke="white" stroke-width="0.1"/>
				<circle cx="50" cy="50" r="40" fill="none" stroke="white" stroke-width="0.1"/>
				<ellipse cx="60" cy="50" rx="30" ry="28.3" fill="none" stroke="white" stroke-width="0.1"/>
				<circle cx="30" cy="50" r="2" fill="blue">
					<animateTransform attributeName="transform" type="rotate" begin="svgstart.click" attributeType="XML" dur="9.185s" values="0 50 50;331 50 50" fill="freeze"/>
				</circle>
				<circle cx="10" cy="50" r="2" fill="red" transform="rotate(63 50 50)">
					<animateTransform attributeName="transform" type="rotate" begin="svgstart.click" attributeType="XML" dur="9.185s" values="63 50 50;180 50 50" fill="freeze"/>
				</circle>
				<g transform="translate(30 50)">
					<circle cx="0" cy="0" r="1" fill="pink">
						<animateMotion id="svga" path="m0 0A30 28.3 0 0 1 11.6 -22.34" begin="svgstart.click" dur="1.837s"/>
						<animateMotion id="svgb" path="m11.6 -22.34A30 28.3 0 0 1 30 -28.3" begin="svga.end" dur="1.837s"/>
						<animateMotion id="svgc" path="m30 -28.3A30 28.3 0 0 1 46.24 -23.78" begin="svgb.end" dur="1.837s"/>
						<animateMotion id="svgd" path="m46.24 -23.78A30 28.3 0 0 1 56.61 -13.06" begin="svgc.end" dur="1.837s"/>
						<animateMotion path="m56.61 -13.06A30 28.3 0 0 1 60 0" begin="svgd.end" dur="1.837s" fill="freeze"/>
					</circle>
				</g>
				<g id="svgstart">
					<rect x="9" y="5.2" width="15" height="6" fill="#00FF00" stroke="white">
						<set attributeName="fill" attributeType="XML" begin="mouseover" to="#00A000"/>
						<set attributeName="fill" attributeType="XML" begin="mouseout" to="#00D000"/>
					</rect>
					<text pointer-events="none" x="10" y="10" fill="white" font-size="5">Start</text>
				</g>
			</svg>
			<p>
				The $\Delta v$ cost would be the elliptical velocity at periapsis minus the velocity of the smaller circle,
				plus the velocity of the greater circle minus the elliptical velocity at apoapsis.
			</p>
			<h5>More math!</h5>
			<p>
				Let us take another look at the equation for velocity in an elliptical orbit:
					$$v=\sqrt{\mu \left(\frac{2}{r}-\frac{1}{a}\right)}$$
				What happens if we tries to travel "to infinity"? We start at distance $r$, and travels to $a=\infty$:
					$$v=\sqrt{\mu \left(\frac{2}{r}-\frac{1}{\infty}\right)}$$
				That simplifies to
					$$v=\sqrt{\mu \left(\frac{2}{r}-0\right)}$$
				and that is equal to
					$$v_e=\sqrt{\frac{2\mu}{r}}$$
				"$v_e$" is here short for "escape velocity". It turns out that travelling as far away as you would like has a limited cost.
				Of course, reaching infinity takes an ehm... infinite time... From this point, when I say infinity, I mean sufficiently far away.
			</p>
			<p>
				You can also notice that the escape velocity at a given distance is $\sqrt{2}$ times larger than the orbital velocity of a 					circular orbit. $v_e = \sqrt{2}v_c$.
			</p>
			<h3 id="EscapeVelocity">Escape Velocity: Beyond Infinity</h3>
			<p>
				You have now seen 3 of the 4 different shapes an orbit can have, circular, elliptical and parabolic.
				The parabolic orbit is the one where we reach infinity.
				The remaining orbit is the one shaped like a hyperbola.
				This one also reach infinity, like the parabola, but with a mayor difference:
				In a parabolic orbit, we only "just reach infinity", that is, we are slowed down all the time by gravity, and the velocity is 					approaching zero as we get farther away.
				That is not always what we want.
				For instance, if we only "just escape Earth",
				our relative velocity to it is zero, and that means we have the same orbit around the Sun as Earth!
				In many cases, we want to have some extra velocity once we have escaped,
				for example for heading towards Mars, Jupiter, or for escaping the solar system entirely.
				An example closer to home is when we escape the Moon for a return trip. We do not want to end up in the same orbit as the Moon, instead, we want to head back home.
			</p>
			<p>
				How can we achieve that? The answer is naturally to get a velocity higher than the escape velocity. But how exactly does that relate to the final velocity we end up with once we have escaped?
				Behold. The Pythagoras formula of orbital mechanics:
			</p>
			<img src="img/orbitalPythagoras.png" alt="v² = v_escape² + v_infinity²" width="50%">
			<p>
				Example: Say we are in an orbit again around a mass with a $\mu$ of 1. Our distance is also 1. The escape velocity at this distance is then $\sqrt{2}$. Say then that we have an actual velocity larger than that, for instance $v=2$. In that case, we are going to escape. However, we are still going to be slowed down by gravity, so our final velocity when we have travelled far away is going to be lower than 2 for sure.
					$$v^2 = v_{\infty}^2 + v_{e}^2$$
				We have some of the numbers to plug in to this equation.
					$$2^2 = v_{\infty}^2 + \sqrt{2}^2$$
				We can rearrange that to get:
					$$v_{\infty}^2 = 2^2 - \sqrt{2}^2$$
				And then get our velocity "at infinity":
					$$v_{\infty}=\sqrt{2}$$
			</p>
		</div>
	</div>
	<div class="outerDiv">
		<div class="innerDiv">
			<a href="http://www.gnu.org/licenses/">
				<p>All calculator scripts are released under the GPL version 3</p>
			</a>
		</div>
	</div>
</section>
<section id="rockets">
	<div class="outerDiv">
		<div class="innerDiv">
			<h2>Delta-v: The core idea of rockets</h2>
		</div>
	</div>
</section>
</div><!--end container-->
<script type="text/javascript">
var applet1 = new GGBApplet(
	{
		filename:"GeoGebra/suborbital.ggb",
		"showtoolbar":false
	},true
);
var applet2 = new GGBApplet(
	{
		filename:"GeoGebra/orbit.ggb",
		"showtoolbar":false
	},true
);
var applet3 = new GGBApplet(
	{
		filename:"GeoGebra/delta-v_ToScale.ggb",
		"showtoolbar":false
	},true
);
window.onload = function(){
	applet1.inject('applet_container1','preferHTML5');
	applet2.inject('applet_container2','preferHTML5');
	applet3.inject('applet_container3','preferHTML5');
}
</script>
