---
layout: default
title: Project Resources
description: "Guide to our files and software, and a list of resources for learning about space exploration."
comments: true
---

<header>
	<div id="Logo" style="margin-left: 60%; margin-right: 10%;">
		<img src="img/MWLogo-for-black-bckgnd.svg" alt="Moonwards">
	</div>
</header>
<div class="container">
<section>
	<div class="outerDiv">
		<div class="innerDiv">
			{% include downloads.html %}
		</div>
	</div>
</section>


<aside>
	<div class="sideDiv">
		<p>Some of the things we have are standalone and not integrated into the website, for example
			<a href="tools/engineSearch.html">"Engine Search"</a> a selection tool for rocket engines.</p>
		<p>The interactive applets we have made can be downloaded from <a href="http://www.moonwards.com/GeoGebra/">www.moonwards.com/GeoGebra/</a>. The directory also contains quite a few that are not on the website yet.</p>
		<p>We also have some datasets available at <a href="http://www.moonwards.com/json/engines.json">www.moonwards.com/json/engines.json</a> and <a href="http://www.moonwards.com/json/planets.json">www.moonwards.com/json/planets.json</a></p>
	</div>


</div>
<div class="container">

	<section id="resources" class="wide">
		<div class="outerDiv">
			<div class="innerDiv">
				{% include resources.html %}
			</div>
		</div>
	</section>
</div>
<div class="container">
	<section>
		<div class="pixWrap">
			<div class="pix">
				<img src="img/Apollo14LEM-crop.jpg" alt="Apollo 14 Lunar Module above the Moon, with Lalande Crater below" title="Apollo 14 Lunar Module above the Moon, with Lalande Crater below <br> 'We leave as we came and, God willing, as we shall return - with peace and hope for all mankind.' - Gene Cernan, ">
			</div>
		</div>
	</section>
</div>



</body>

</html>
