---
layout: content
title: Timeline for Lunar Colonization
description: Events leading to colonization of the Moon, steps taken for profitable lunar industry, and the foundation of a lunar society.
headline: Timeline to a Lunar Society
intro: What matters is understanding what <i>needs</i> to happen, and what <i>can</i> happen. Then if people feel it is a goal worth pursuing, it happens. This page explains the best conceivable path if that will is there and pushes aside conflict politics. In that situation, from when the first mission launches, it would take about 50 years to get to the part called The Space Boom. <br><br>The path uses known technology, a reasonable pace of development, and a small assumption that artificial intelligence develops at a pace actually rather slower than it has in the last 5 years. If we knew what amazing things we could achieve if only we worked together, perhaps we'd find the will to do so. What follows shows a world like that.
---
<br><br>
{% include_relative _includes/timeline/timelineIntros.html %}
{% include_relative _includes/timeline/ph1-ships.html%}
{% include_relative _includes/timeline/ph1-robots.html%}
{% include_relative _includes/timeline/ph1-ISA.html %}
{% include_relative _includes/timeline/ph2-skyhooks.html %}
{% include_relative _includes/timeline/ph2-longHab.html %}
{% include_relative _includes/timeline/ph2-RP-begins.html %}
{% include_relative _includes/timeline/residenceProgramChart.html %}
{% include_relative _includes/timeline/inukshukRP1.html %}
{% include_relative _includes/timeline/3baseRP2-4.html %}
{% include_relative _includes/timeline/RPround5.html %}
{% include_relative _includes/timeline/RProunds6-7.html %}
{% include_relative _includes/timeline/spaceBoom.html %}
{% include_relative _includes/timeline/postBoom.html %}
