<div class="container" id="CargoShip">
					<section>
						<div class="outerDiv">
							<div class="innerDiv">
								<h3>Cargo ship from Low Earth Orbit to Low Lunar Orbit</h3>
								<p>The cargo ship might as well have next-generation hydrolox engines, such as <a href="http://www.rocket.com/common-extensible-cryogenic-engine">Aerojet Rocketdyne CECE engines</a>, which are designed for up to 50 restarts. After the first tether orbiting the Moon is complete, there would be no role for low-thrust ships on the Moon-Earth run. A cargo ship with hydrolox engines will need maintenance in orbit earlier, but a space station in support of these missions is needed anyways, so that is no issue.
        </p>
        <p>It will be so large that it needs to be assembled in orbit. That type of construction would allow the best overall design, as its shape would be less constrained by the size and shape of rocket fairings. Thus it could have an open, wine-rack sort of shape, with solar panel wings and rocket engines at one end. It may need to be modified after its first trip, as on that trip it takes the nuclear shuttle to the Moon, which will itself be large enough that it couldn't be placed in sectioned cargo bays. After that initial mission, payloads would go on the cargo ship in pods designed to slip into bays, a standardized system like container shipping.
        </p>
        <p>
        If the harvesting of water from the poles turns out to be as easy as some data indicates is possible, it could start bringing full loads of water back to the space station in short order, and be fueled from that source. If that task is instead difficult, fuelling from the Moon would only slowly ramp up.
        </p>
							</div>
						</div>
					</section>
					<aside>
					</aside>
				</div>
