				<div class="container" id="TetherTransport">
					<section>
						<div class="outerDiv">
							<div class="innerDiv">
								{% include_relative _includes/transport/tethers/skyhookIntro.html %}
								{% include_relative _includes/transport/tethers/maintainOrbits.html %}
			</div>
		</div>
	</section>
	<aside>
    {% include_relative _includes/transport/tethers/verticalTether.html %}
	</aside>
</div>
<div class="container" id="AsteroidAnchors">
    {% include_relative _includes/transport/tethers/tetherStrength.html %}
</div>
<div class="container" id="skyhookTable">
    {% include_relative _includes/transport/tethers/skyhookTable.html %}
</div>
<div class="container" id="AsteroidAnchors">
    {% include_relative _includes/transport/tethers/AsteroidAnchors.html %}
</div>
<div class="container" id="EarthTether">
    {% include_relative _includes/transport/tethers/EarthTether.html %}
</div>
