	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3>Asteroid Anchors</h3>
				<p>
					To get a good anchor for the tether, an asteroid retrieval mission
					along the lines of the Keck mission architecture
					would be needed. To get something worthwhile, the virtual colony
					version beefs it up by a factor of 10, meaning an asteroid massing about
					7500 metric tons. A nice one full
					of carbon chemicals, pure metals, and hydrated minerals. That one
					goes into a polar orbit. With it, the small initial polar colony
					could go anywhere on the Moon every two weeks, and could lauch to
					Earth that frequently too.
				</p>
				<p>
					One of the great things about combining asteroid retrieval with
					tethers, is that it makes mining the asteroid so much easier. Most
					of the delta v needed to get the products to a place where they can
					be used is looked after by the tether. The colony can send machinery
					to do the mining and run it from the surface. As material is
					removed from the asteroid for use in the colony, they can replace the
					mass with lunar material. In fact, they can replace it partly with
					modules and gear they've made for a space station. An asteroid
					mining business and a lunar colony would make great partners.
				</p>
				<p>
					Once an asteroid has been placed in orbit this way, it is a lot
					easier to do the same thing again. The full design for the Moon is
					four tethers in staggered polar orbits and one in equatorial orbit.
					The polar tethers would make any point on the Moon accessible every
					3.5 days, and the equatorial tether could launch to Earth, or
					anywhere else, twice a day. The equatorial tether would be much easier for
					any ship from Earth (or Mars, or the ateroid belt, or anywhere) to
					dock with than the polar tethers, requiring a plane-change of
					a few degrees at most and a much greater range of possible
					trajectories.
				</p>
			</div>
		</div>
	</section>
	<aside>
	</aside>
