<div class="sidePairTop">
	{% include_relative img/animations/verticalTether.svg %}
</div>
<div class="sidePairBottom">
This animation shows a rocket meeting the bottom of the tether, climbing to the anchor, and continuing on up the outer tether until it is released into space. You get a feel for how a ship that did this would get a lot of speed from being flung off the outer tether. It would probably be more practical to trasfer a payload from a shuttle that meets the tether foot, to a car that climbs to the anchor, that then transfers it to another ship, and that ship is ferried up the outer tether attached to another cable car, until it is released.
</div>
<div class="sideDiv">
 <a href="https://docs.google.com/spreadsheets/d/1f2jspdtsoC6xkiKpGhinL7vS4eHck0CJxtG3a2BuFcI/edit?usp=sharing">This spreadsheet</a> looks at calculations for vertical tethers. It is being expanded and refined, and will be converted to an interactive form here in a while. You can comment on it by right-clicking a cell, then clicking 'Insert Comment'.
</div>
