				<h3 id="TESS">Solar Thermal Power Plants - STePP units</h3>
				<p>
					The main power source once Lalande has a genuine town,
					and later for the city, isn't nuclear or solar panels.
					It's generators running on stored solar heat. Specifically,
					Stirling engines using a gaseous working fluid,
 					heated by a mass of molten
					regolith, which in turn is heated by tubes filled with
					molten sodium that circulate through
					parabolic mirrors.
				</p>
				<p>
					In an earlier version, the chemicals that boil off the lava were going to be collected for use elsewhere, and the plant was sized with extra capacity so that some lava could be drawn off and used to produce things like glass and construction materials. But the plant is much more efficient and easier to build if it runs at temperatures too low for that to be viable, so now a separate solar furnace will be designed for bulk molten regolith production.
				</p>
				<p>
					Some of the components for STePP units are simple and can
					be produced on-site early in colony development - mirrors,
					the tanks, pipes. With 3d printing of parts out of sintered metal powder
					and casting of molten minerals, most of the radiators, pumps, and generators can also be made. Production of efficient working units made entirely locally
					seems feasible sooner than the same goal for solar panels or
					nuclear plants, especially if early units work
					at lower temperatures.
				</p>
				<p>
					We have been working on a <a href="https://docs.google.com/spreadsheets/d/1DDefCpumWyTrvg8uSErBu8aJNAgiLPnV-yYAWZB_vGc/edit?usp=sharing">spreadsheet</a> that roughly calculates how well this thing would run and the power it would produce. Very roughly, and it is being added to bit by bit. It does help in thinking it through and has been a good learning tool. It will be nice to have spreadsheets, scripts, and simulations for all of these models down the road.
				</p>
			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/ThermalStorePaper.jpg">
			<figcaption><a href="https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/19920005262.pdf">
				Analysis of Lunar Regolith Thermal Energy Storage</a>, a paper by Anthony
				Colozza for the Lewis Research Center under contract to NASA, 1991. It
				examines running pipes into the ground on the Moon and heating it - how
				the heat moves, the temperature fluctuations over a full day, and system
				efficiency.
			</figcaption>
		</figure>
		<figure class="sideDiv">
			<img src="img/BraytonTurbineForSpace.png">
			<figcaption><a href="https://ntrs.nasa.gov/search.jsp?R=20100026654&hterms=brayton+generator&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dbrayton%2Bgenerator">
				Closed Brayton Cycle Power Conversion Unit for Fission Surface Power</a> by Robert L Fuller, a paper for
				the Glenn Research Center under contract to NASA, 2010. This was based on the
				heat source being a small nuclear reactor, for the early days of Cernan's Promise, it would need to be much bigger. This paper has good illustrations for the connected turbine, as shown above. Possibly a Stirling engine version would be preferable later, as that is the generator favored for the subsequent solar thermal system.
			</figcaption>
		</figure>
	</aside>
</div>
<section class="frameContainer">
 <div class="framePairTop" id="STePP">
		<div class="framewrap frame16x9">
						<iframe src="STePP.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</div>
 </div>
 <div class="framePairBottom">
	 This shows a single mirror unit, tank complex, Stirling engine, and radiator unit, for the sake of a clear explanation. Units placed in the colonies will have as many mirror, generator, and radiator units as the tank can support, and be scaled as large as simulations indicate would work well enough. That simulating remains to be done, but guesstimating from what we have now, this concept is a good option for units producing up to 10 MW of electricity, steadily day and night.
 </div>
</section>
