<div class="container" id="transport">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h1>Transport</h1>
				<p>
					About 3/5 of the velocity needed to get to the Moon has to be
					acquired just to get to orbit around Earth. So, unless you make
					that part cheap and reliable, getting to the Moon is always going to
					be extremely expensive. We are going to do something nifty about
					half way along the current timeline to achieve that - build a tether
					that would actually be practical in Earth orbit. Let us come back
					to that.
				</p>
				<p>
					After you get to Earth orbit, getting safely to the Moon's
					surface involves a speed change of around 6 km/s, which is 21,600 km/h
					or 13,400 mph. The last part of that involves braking from a speed of
					close to 2 km/s (4500 mph) to a speed close enough to zero when you
					reach the lunar surface for a safe landing. Transport in space is a
					really big deal.
				</p>
				<p>
					The plans for the transport system for Moonwards haven't been
					modeled yet, but they have been thought about. That contemplation is
					what first led to the policy of 'politics and budgets be damned,
					we're going to examine what we <strong>could</strong> do in space
					if we tried'. The question of transport is where it is really striking
					how much our capabilities would change if we made a serious commitment.
				</p>
			</div>
		</div>
	</section>
</div>
{% include_relative _includes/transport/transportNuclearShuttles.html %}
{% include_relative _includes/transport/transportFutureEngines.html %}
{% include_relative _includes/transport/transportCargoShip.html %}
{% include_relative _includes/transport/transportTethers.html %}
