				<h3>Solar Thermal Turbines</h3>
				<p>
					The main power source once Lalande has a genuine town,
					and later for the city, isn't nuclear or solar panels.
					It's turbines running on stored solar heat. Specifically,
					closed Brayton cycle turbines using a gaseos working fluid,
 					heated by a mass of molten
					regolith, which in turn is heated by tubes filled with
					molten salts that circulate through a trough of
					parabolic mirrors. These are being called the Thermal
					Energy Storage Systems - the TESS.
				</p>
				<p>
					The reservoirs of molten regolith these systems produce
					are useful. Important volatiles such as
					oxides of potassium, phosphate, and sodium boil off
					them and are collected. If operated
					at a high enough temperature, vapors of pure oxygen
					could also be collected. The systems are sized to have extra
					capacity so that some of the lava produced can be drawn
					off for use elsewhere - such as to supply the dust roasters,
					or as pre-processed feedstock for reactors making glass. The
					heat reservoir would thus need to be resupplied with fresh
					regolith as its contents are drawn off or boil off. Any
					regolith will do, so it can function as a giant cauldron
					contantly stewing a regolith soup. By adjusting the
					minerology of the ingredients and how long the contents are
					left to boil, the chemistry of the lava can be tuned to best
					serve the needs of the furnaces and reactors
					that later use it.
				</p>
				<p>
					Some of the components for TESS units are simple and can
					be produced on-site early in colony development - mirrors,
					turbine housings, radiator units. A while later the pipes,
					turbine blades, and generators can also be made there.
					Production of efficient working units made entirely locally
					seems feasible sooner than the same goal for solar panels or
					nuclear plants, especially if early units work
					at lower temperatures.
				</p>
			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/ThermalStorePaper.jpg">
			<figcaption><a href="https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/19920005262.pdf">
				Analysis of Lunar Regolith Thermal Energy Storage</a>, a paper by Anthony
				Colozza for the Lewis Research Center under contract to NASA, 1991. It
				examines running pipes into the ground on the Moon and heating it - how
				the heat moves, the temperature fluctuations over a full day, and system
				efficiency.
			</figcaption>
		</figure>
		<figure class="sideDiv">
			<img src="img/BraytonTurbineForSpace.png">
			<figcaption><a href="https://ntrs.nasa.gov/search.jsp?R=20100026654&hterms=brayton+generator&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dbrayton%2Bgenerator">
				Closed Brayton Cycle Power Conversion Unit</a> by Robert L Fuller, a paper for
				the Glenn Research Center under contract to NASA, 2010. This was based on the
				heat source being a small nuclear reactor, so a number of parameters are
				different than contemplated for the colony, but the basic system would be
				similar. This paper will be used to make a much improved model of the
				turbine structures.
			</figcaption>
		</figure>
	</aside>
</div>
<section class="frameContainer">
 <div class="framePairTop" id="TESS">
		<div class="framewrap frame16x9">
						<iframe src="TESS.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</div>
 </div>
 <div class="framePairBottom">
	 This model shows an older radiator design, otherwise it's similar to the	more recent model shown in the Phase 1 Overview model.
 </div>
</section>
