<div class="container" id="robots">
	<section>
	<div class="outerDiv">
		<div class="innerDiv">
			<h1>Rovers and Robots - the Workhorses</h1>
			<p>
				In this project, the approach is taken that the first missions to settle
				the Moon will focus on developing the robotic infrastructure needed to
				do construction entirely without humans present. Such robots do not yet
				exist, but the field is advancing quickly. Development of that
				technology has a wealth of applications here on Earth, it would make
				sense to make such R&amp;D a central part of a settlement space program.
				A few missions
				would be needed where a minimal crew go to support the prototype robots,
				testing and fixing them, until there is confidence the robots can be
				operated remotely from Earth. After that, the robots build the
				first permanent habitat and its infrastructure without
				anyone on-site. Once that hab is near completion,
				again a crew
				arrives. They test everything, maybe make some minor final touches.
				Then they stay.
				After that the human population ramps up quickly and they operate the
				robotic machinery from within the habs.
				<br><br>
				So, great things come from great robots. Rovers in space are already
				designed to handle factors not present on Earth. Rovers and robots on
				the Moon will have extra challenges that have not yet been solved. The
				list below takes them in ascending order of difficulty:
			</p>
				<ul>
				<li>The	high radiation environment, which requires special design of computer
					components. This technology is well developed, but does add cost and
				  increases the bulk of components.</li>
				<li>The 290 K temperature swing between day and night. Two key things
				are important here:
					<ul>
						<li>Thermal wadis - which are masses of solid stone
				that store the sun's heat far better than the powdery soil. If a rover can
				snuggle up to one at sundown and throw a reflective tarp over
				itself to slow
				heat loss, the cold it has to withstand overnight is greatly reduced.
				</li>
					<li>Nuclear power - there is no reason to fear nuclear power on the
						Moon. It is a great way to get through the long cold night, when
						there is no solar power. Robots working at night can run their
						heaters by drawing power beamed to them as microwaves from the
						nuclear power plant
					</li>
				</ul> </li>
				<li>
				The extremely abrasive, finely
				powdered soil that will grind away at any moving part it gets into.
				And it comes with static cling. Some things can be wrapped to minimize
				the dust that enters. Magnetic brushes seem quite effective for
				dusting things off, though they haven't been tested on-site.
				Ultimately, the best thing is to fuse the surface soil into a
				solid cap of stone wherever robots
				work (or people).
			</li>
			<li>
				The 3 second round-trip transmission delay between Earth and Moon,
				that will need to be designed for to make remote operation work.
				So, if a robot is tipping over, it needs to look after that itself.
				It needs to be able to handle simple, repetitive tasks on its own.
				It needs protocols for collision avoidance. It needs to understand
				what it is looking at well enough to direct itself as it moves around
				and manipulates things.
			</li>
		</ul>
		<p> The videos in the sidebar show we've made
		big advances on these things, but there is a ways to go. It is
		hard to overstate how much of a difference robots with these
		capabilities make. They are absolutely necessary for success.
		</p>
		</div>
	</div>
</section>
<aside>
	<div class="sidePairTop">
		<div class="framewrap frame16x9">
				<iframe
				src="https://www.youtube.com/embed/Tb0_GNyczCA"
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="sidePairBottom">
		The <a href="https://www-robotics.jpl.nasa.gov/systems/system.cfm?System=11">
			ATHLETE rover</a> designed for the Constellation program.
		A working prototype exists.
	</div>
	<div class="sidePairTop">
		<div class="framewrap frame16x9">
				<iframe
				src="src="https://www.youtube.com/embed/AO4In7d6X-c" 
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""
				allowfullscreen></iframe>"
		</div>
	</div>
	<div class="sidePairBottom">
		<a href="https://en.wikipedia.org/wiki/Boston_Dynamics">Boston
			Dynamics</a> has made great progress in responsive,
		agile robots in the last 15 years. It is currently owned
		by Google subsidiary Alphabet Inc.
	</div>
	<div class="sidePairTop">
		<div class="framewrap frame16x9">
				<iframe
				src="https://www.youtube.com/embed/3yCAZWdqX_Y?rel=0&amp;controls=0"
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""
				allowfullscreen></iframe>"
		</div>
	</div>
	<div class="sidePairBottom">
		<a href="https://www.tesla.com/autopilot">Tesla Autopilot
		</a>test. Lots of companies are working on this, and
		Google pioneered it. This video was just chosen because Elon.
	</div>
	<div class="sidePairTop">
		<div class="framewrap frame16x9">
				<iframe
				src="ATHLETErover.html"
				allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
				onmousewheel=""></iframe>
		</div>
	</div>
	<div class="sidePairBottom">
		The beginnings of an adaptation of the ATHLETE rover for the
		virtual colony.
	</div>
</aside>
</div>
