<div class="container" id="building">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h1>Construction and Fabrication - the Road to Big Business </h1>
				<p>If there was a way to build a habitable shelter on the
					Moon that wasn't super hard, we'd already be there. It
					is important not to underestimate how hard it is to do
					this. But, the needed technology is coming together and
					turns out to change the equation of what the best method is.
					<br><br>
					Most designs for lunar construction up to now have
					focused on batch processes that don't require much
					finesse (such as making lunar concrete blocks). Few
					designs have contemplated use of in situ materials,
					though, because of the difficulty of delivering
					the machinery to work them, and the probability
					such machinery wouldn't last long in such a harsh
					environment. Almost all serious designs send
					finished modules built on Earth.
					<br><br>
					If you plan to stay, you have to be able to build there.
					If you can build there, you have something you can
					sell. If you are good at it, you can build for space, too,
					and that's our whole idea.
				</p>
					<p>
					All construction designs here are centered around the use
					of melted regolith, in particular the basalt of the lunar
					maria. When basalt is drawn into fibers it has
					good tension strength. A material that is strong in tension
					is the key to space development. Holding in an atmosphere
					requires it. Basalt rope and cloth can be made
					with no additives other than a thin application of a
					sizing chemical to the surface of the threads. This
					makes construction with basalt much easier.
				</p>
				<p>
					Some highlands materials spun into fibers will also
					have good tension strength, but likely need to
					be processed to change their chemical composition
					before that is true, and such processing would take
					considerable infrastructure. Once they are, they might
					also need to be embedded in a matrix, like fiberglass
					is embedded in plastics on Earth. Glass fibers aren't
					used for rope or fabric on Earth because it only takes
					slight damage to cause the fibers to lose their
					strength. On the other hand, quite possibly the
					different chemistry and environment of the Moon means
					that they would work well without needing a
					protective matrix. Still, unless deposits very high
					in silica are found, resource-intensive processing
					will be needed in the highlands to produce
					materials capable of containing an atmosphere. That
					complicates construction of habitats a great deal, a
					principal reason why only a small human colony will be
					made at the pole, and then construction will be concentrated
					at Lalande.
				</p>
				<p>
					All these designs absolutely depend on the use of agile
					robots. They don't have to be carpenters, but they do
					need the manual skills of your typical 5 year old.
					Guided by human operators on Earth, that would be enough.
					Several development missions would need to go to the Moon
					to test and refine that technology.
				</p>
				<p>
					If you have those robots, what follows is the best way to
					build. By far, no contest. It is far less energy intensive,
					and far more adaptable, than anything else I've seen. The
					equipment needed to start is far less, and less complex.
					Except for the robots, of course, which are so broadly useful
					they are still quite mass-efficient, even if they need a bunch
					of modular drop-in replacement parts shipped with them.
				</p>
				<p>
					So, if you perhaps calculate that
					such robots are a long way off, still by the time Cernan's
					Promise was fully developed, they would exist and have been
					used for the bulk of that construction. We can quibble
					later about the most plausible way to
					present the first few missions, when those robots are in
					development and can't be relied on. The winds blow very
					strongly towards their development, so
					it is sound policy to explore what they can do.
				</p>
			</div>
		</div>
	</section>
	<aside>
			<div class="sidePairTop">
			<div class="framewrap frame16x9" >
				<iframe src="NISTcrane.html" frameborder="0" allowfullscreen
				mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
				</iframe>
			</div>
		</div>
		<div class="sidePairBottom">
			This crane design bears its loads entirely under tension. It is a light
			and strong design that works entirely using cables and winches. The
			central platform can move anywhere in the volume under the crane and
			remain stable and strong. Add robot to platform, this thing can do a lot
			of stuff.
		</div>
	</aside>
</div>
<section class="frameContainer">
	<div class="SF-Div">
		<h2>Interactive 3d models</h2>
		Click the play arrow to load the 3d models
		below. Check out the controls at the bottom
		of the model window - especially the bar to click through the
		annotations, and the double arrows in the corner to make it
		full screen.<br><br>
		These models are in development, both in what is in them, and in how it
		is presented. They go through spurts of changes, which should become
		more frequent and dramatic with time. Right now they are at a pretty early
		stage.
	</div>
<div class="framePairTop" id="BasaltFiberStation">
	<div class="framewrap frame16x9">
					<iframe src="BasaltFiberProd.html" frameborder="0" allowfullscreen
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" style="overflow-y: hidden;" scrolling="no">
					</iframe>
	</div>
</div>
<div class="framePairBottom">
  The production of basalt fiber is critical technology for large construction. Cable can perhaps be imported for the first hab, after that this has to be made to work.
</div>
<div class="framePairTop" id="MIPstation">
	<div class="framewrap frame16x9">
					<iframe src="MIPstation.html" frameborder="0" allowfullscreen
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" style="overflow-y: hidden;" scrolling="no">
					</iframe>
	</div>
</div>
<div class="framePairBottom">
 The Melt-In-Place stations need to be the backbone of early construction.	They can produce a wide range of useful items, a very wide range if the	rovers are agile enough to assist. They can produce materials in bulk, so if	the materials have some weaknesses, you can simply use more to compensate.
</div>
<div class="framePairTop" id="HangarsOverview">
	<div class="framewrap frame16x9">
					<iframe src="HangarCutaway.html" frameborder="0" allowfullscreen
					mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" style="overflow-y: hidden;" scrolling="no">
					</iframe>
	</div>
</div>
<div class="framePairBottom">
	The hangars will be filled up with lots more things. This early draft gives some sense that industrial scales are sought, and the work flow will be	complex.
</div>
	<div>
		<div class="SF-Div">
			On to <a href="machines2.html">Power, Mining, and Transport</a>
		</div>
	</div>
</section>
