		<aside>
			<figure class="sideDiv">
				<img src="img/LalandeWideshot.jpg" alt="Lalande Region">
				<figcaption>The equatorial region around
				Lalande Crater, showing the ejecta blanket from the impact that created
				it as lighter soil, and the many highland hills nearby</figcaption>
			</figure>
			<figure class="sideDiv">
				<img src="img/Apollo16full750.jpg" alt="Apollo 16 photo of Lalande from
				orbit">
				<figcaption> A photo taken of Lalande Crater by Apollo 16 from orbit,
					viewing it from the south. <a href="lalande.html">More images and
						information on Lalande</a>. (That page is a few MB, so you know.)
				</figcaption>
   </figure>
		</aside>
