	<div class="container_SF_iframe">
		<div class="SF-Div">
			<h2>Interactive 3d models</h2>
			Click the play arrow to load the 3d models
			below. Check out the controls at the bottom
			of the model window - especially the bar to click through the
			annotations, and the double arrows in the corner to make it
			full screen.<br><br>
			These models are in development, both in what is in them, and in how it
			is presented. They go through spurts of changes, which should become
			more frequent and dramatic with time. Right now they are at a pretty early
			stage.
		</div>
  <section class="framewrap frame16x9">
						<iframe src="modelProxy10.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</section>
  <section class="framewrap frame16x9">
						<iframe src="modelProxy11.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</section>
  <section class="framewrap frame16x9">
						<iframe src="modelProxy12.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</section>
  <section class="framewrap frame16x9">
						<iframe src="modelProxy13.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</section>
  <section class="framewrap frame16x9">
						<iframe src="modelProxy14.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</section>
{% include colonyModelsLalande-comments.html %}
</div>
