<h1 id="assets">Models and Assets of the Virtual Settlements</h1>
<p>If you click a model or asset below it will download to your computer. Please take note of the size of the files, shown under each image. A few of them are very large.</p>
<p>This page is updated periodically with new versions and more items. Some of these models are still at the conceptual stage and as such are only rough drafts. Most are being actively worked on and are likely to change a great deal. If you have any technical issues with any item below, please email kim@moonwards.com.</p>
<p>Note: You must use a browser other than Internet Explorer in order to download these files. (And anyhow, um, you really should be using a different browser.)</p>
<h4>Blender 3d models and scenes</h4>
<div class="pixBody" id="models">
  <div class="pix" style="width: 180px;">
    <a href="downloads/AtriumHabMaster.blend" download><img class="overlay" src="img/DL-thumb/atrium-hab.jpg"></a>
    <p>The first Atrium Hab - 2.4 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/CernansPromise-Phase1-All15-AllPacked.blend" download><img class="overlay" src="img/DL-thumb/CP-Aug2018.jpg"></a>
    <p>Cernan's Promise Settlement and Environs, including Lalande Crater, all habitats, and just everything 75 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Gagarin.blend" download><img class="overlay" src="img/DL-thumb/gagarin.jpg"></a>
    <p>Gagarin Anchor Station - 4.8 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/LalandeCity.blend" download><img class="overlay" src="img/DL-thumb/lalande-city.jpg"></a>
    <p>Lalande City - 23.8 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Light-Tube-Straight.blend" download><img class="overlay" src="img/DL-thumb/lighttube.jpg"></a>
    <p>Light Tube (funnels sunlight into the habs) - 908 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/NuclearCore.blend" download><img class="overlay" src="img/DL-thumb/nuclear-core.jpg"></a>
    <p>Nuclear Reactor - 572 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Parabolic-Mirrors-4-Units.blend" download><img class="overlay" src="img/DL-thumb/mirror-unit.jpg"></a>
    <p>Solar Thermal Mirror Unit - 685 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/PolarHab.blend" download><img class="overlay" src="img/DL-thumb/polar-hab.jpg"></a>
    <p>First Polar Hab at Inukshuk Settlement - 685 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Rad-Unit-Rotating-Shielded.blend" download><img class="overlay" src="img/DL-thumb/rotating-radiator.jpg"></a>
    <p>Rotating Shielded Radiator Unit - 1.2 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/STEMP-Unit.blend" download><img  class="overlay" src="img/DL-thumb/solar-thermal-melter.jpg"></a>
    <p>Solar Thermal Melter - 3.6 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Stirling-FreePiston.blend" download><img class="overlay" src="img/DL-thumb/stirling-freepiston.jpg"></a>
    <p>Free Piston Stirling Engine (much like what might actually be used) - 1.1 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/StirlingDemo-Animated.blend" download><img class="overlay" src="img/DL-thumb/stirling-demo.jpg"></a>
    <p>Demonstration Stirling Engine (to explain the principal) - 1.7 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/TetherClimber.blend" download><img class="overlay" src="img/DL-thumb/tether-climber.jpg"></a>
    <p>Skyhook Lower Cable Climber - 824 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Tube-Hab-Long.blend" download><img class="overlay" src="img/DL-thumb/tube-hab-long.jpg"></a>
    <p>Tubular Habitat - Long - 605 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Tube-Hab.blend" download><img class="overlay" src="img/DL-thumb/tube-hab-short.jpg"></a>
    <p>Tubular Habitat - Short - 553 KB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/Window-Hexpane.blend" download><img class="overlay" src="img/DL-thumb/hex-window.jpg"></a>
    <p>Hexagonal Windows - 2.5 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/toilet.blend" download><img class="overlay" src="img/DL-thumb/toilet.jpg"></a>
    <p>Moon Toilet - 903 KB</p>
  </div>
  <div class="empty-filler" style="width: 180px;">
  </div>
  <div class="empty-filler" style="width: 180px;">
  </div>
</div>
<h4>Other Assets</h4>
<h5>Height Maps<sup class="note tooltip" data-tooltip-content="#heightmap">
[?]</sup> of the Moon</h5>
<div class="tooltip_templates">
<p id="heightmap">
Height maps are used in 3d software to create terrain. The dark spots in the height map images become the low points in the terrain, the bright spots become the high points.</p>
</div>
<p>The source of the following height maps is the Lunar Reconnaissance Orbiter LOLA instrument. The source file is hosted by the USGS on <a href="https://astrogeology.usgs.gov/search/map/Moon/LRO/LOLA/Lunar_LRO_LOLA_Global_LDEM_118m_Mar2014">this page</a>.  The data of that original file was modulated in Image Magick so it would display properly in non-GIS software.
</p>
<div class="pixBody">
  <div class="pix" style="width: 180px;">
    <a href="downloads/MoonHM-LOLA-8-65536.png" download><img class="overlay" src="img/DL-thumb/LOLA-Heightmap.jpg"></a>
    <p>High Resolution Height Map of the Moon<sup class="note tooltip" data-tooltip-content="#MoonHM-1">[?]</sup>, 65,536 x 32,768 px - 146 MB. Take note of file size.</p>
  </div>
  <div class="tooltip_templates">
  <p id="MoonHM-1">
    This is an 8 bit image with the same number of gray tones as the original file, though the original is a 16 bit TIFF file. When the image was resized, a nearest neighbor interpolation was done on it, which will have introduced a small amount of inaccuracy. If this concerns you, instead download the tiles in the 2nd set below, which were cut from the original file, and only remodulated so that the gray tones display properly on non-GIS software. The accuracy of the original is only good to about +/- 100 m, so i wouldn't stress about it.
  </p>
  </div>
    <div class="pix" style="width: 180px;">
      <a href="downloads/MoonHM-LOLA-8-32768.png" download><img class="overlay" src="img/DL-thumb/LOLA-Heightmap-32768.jpg"></a>
      <p>32768 x 16384 - 57 MB.</p>
    </div>
    <div class="pix" style="width: 180px;">
      <a href="downloads/MoonHM-LOLA-8-16384.png" download><img class="overlay" src="img/DL-thumb/LOLA-Heightmap-16384.jpg"></a>
      <p>16384 x 8192 - 21 MB.</p>
    </div>
    <div class="pix" style="width: 180px;">
      <a href="downloads/MoonHM-LOLA-8-8192.png" download><img class="overlay" src="img/DL-thumb/LOLA-Heightmap-8192.jpg"></a>
      <p>8192 x 4096 - 7.5 MB.</p>
    </div>
  <div class="pix" style="width: 180px;">
    <a href="downloads/MoonHM-LOLA-8-4096.png" download><img class="overlay" src="img/DL-thumb/LOLA-Heightmap-4096.jpg"></a>
    <p>Small Height Map of the Moon, 4096 x 2048 px - 2.5 MB.</p>
  </div>
  <div class="empty-filler" style="width: 180px;">
  </div>
  <div class="empty-filler" style="width: 180px;">
  </div>
</div>
<div>
    <details>
      <summary style="cursor: pointer;">Tile Set 1 - Image broken into 32 tiles 8192 px on a side
      </summary>
      <p>The whole image above, which these tiles were cut from, is centered on the center of the near side of the Moon. Thus, the first tile, and the eighth tile, are on either side of the center of the far side of the Moon, at the north pole.
      </p>
      <p>If you would like all of these tiles as a set, you can download them as a zipped folder - just click <a href="downloads/MoonHM-LOLA-8-Tiles.zip" download>Here</a>.
      </p>
      <div class="pixBody">
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-0.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-1.jpg"></a>
        <p>Tile 1, 4.2 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-1.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-2.jpg"></a>
        <p>Tile 2, 4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-2.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-3.jpg"></a>
        <p>Tile 3, 3.4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-3.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-4.jpg"></a>
        <p>Tile 4, 3.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-4.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-5.jpg"></a>
        <p>Tile 5, 3.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-5.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-6.jpg"></a>
        <p>Tile 6, 3.9 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-6.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-7.jpg"></a>
        <p>Tile 7, 4.3 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-7.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-8.jpg"></a>
        <p>Tile 8, 4.3 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-tiles-8.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-9.jpg"></a>
        <p>Tile 9, 6.6 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-9.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-10.jpg"></a>
        <p>Tile 10, 6.4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-10.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-11.jpg"></a>
        <p>Tile 11, 3.2 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-11.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-12.jpg"></a>
        <p>Tile 12, 2.7 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-12.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-13.jpg"></a>
        <p>Tile 13, 3.7 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-tiles-13.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-14.jpg"></a>
        <p>Tile 14, 5.2 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-14.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-15.jpg"></a>
        <p>Tile 15, 6.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-15.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-16.jpg"></a>
        <p>Tile 16, 6.7 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-16.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-17.jpg"></a>
        <p>Tile 17, 6.4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-17.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-18.jpg"></a>
        <p>Tile 18, 6.6 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-18.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-19.jpg"></a>
        <p>Tile 19, 5.6 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-19.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-20.jpg"></a>
        <p>Tile 20, 4.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-20.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-21.jpg"></a>
        <p>Tile 21, 5.8 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-21.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-22.jpg"></a>
        <p>Tile 22, 5.6 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-22.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-23.jpg"></a>
        <p>Tile 23, 6.4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-23.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-24.jpg"></a>
        <p>Tile 24, 6.6 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-24.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-25.jpg"></a>
        <p>Tile 25, 3.9 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-25.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-26.jpg"></a>
        <p>Tile 26, 4.3 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-tiles-26.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-27.jpg"></a>
        <p>Tile 27, 4.2 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-27.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-28.jpg"></a>
        <p>Tile 28, 4.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-28.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-29.jpg"></a>
        <p>Tile 29, 4.3 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-29.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-30.jpg"></a>
        <p>Tile 30, 4.1 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-30.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-31.jpg"></a>
        <p>Tile 31, 4 MB.</p>
      </div>
      <div class="pix" style="width: 180px;">
        <a href="downloads/MoonHM-LOLA-Tiles-31.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-32.jpg"></a>
        <p>Tile 32, 4 MB.</p>
      </div>
    </div>
    </details>
</div>
<div>
    <details>
      <summary style="cursor: pointer;">Tile Set 2 - 32 tiles 11,520 px on a side, from the original
      </summary>
      <p>If you would like all of these tiles as a set, you can download them as a zipped folder - just click <a href="downloads/LOLA-fullRes-Tiles.zip" download>Here</a>.
      </p>
      <div class="pixBody">
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-0.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-1.jpg"></a>
          <p>Tile 1, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-1.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-2.jpg"></a>
          <p>Tile 2, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-2.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-3.jpg"></a>
          <p>Tile 3, 6 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-3.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-4.jpg"></a>
          <p>Tile 4, 6 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-4.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-5.jpg"></a>
          <p>Tile 5, 6 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-5.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-6.jpg"></a>
          <p>Tile 6, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-6.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-7.jpg"></a>
          <p>Tile 7, 8 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-7.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-8.jpg"></a>
          <p>Tile 8, 8 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-8.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-9.jpg"></a>
          <p>Tile 9, 13 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-9.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-10.jpg"></a>
          <p>Tile 10, 12 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-10.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-11.jpg"></a>
          <p>Tile 11, 6 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-11.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-12.jpg"></a>
          <p>Tile 12, 5 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-12.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-13.jpg"></a>
          <p>Tile 13, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-13.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-14.jpg"></a>
          <p>Tile 14, 10 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-14.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-15.jpg"></a>
          <p>Tile 15, 12 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-15.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-16.jpg"></a>
          <p>Tile 16, 12 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-16.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-17.jpg"></a>
          <p>Tile 17, 12 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-17.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-18.jpg"></a>
          <p>Tile 18, 13 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-18.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-19.jpg"></a>
          <p>Tile 19, 11 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-19.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-20.jpg"></a>
          <p>Tile 20, 8 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-20.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-21.jpg"></a>
          <p>Tile 21, 11 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-21.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-22.jpg"></a>
          <p>Tile 22, 11 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-22.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-23.jpg"></a>
          <p>Tile 23, 12 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-23.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-24.jpg"></a>
          <p>Tile 24, 13 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-24.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-25.jpg"></a>
          <p>Tile 25, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-25.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-26.jpg"></a>
          <p>Tile 26, 8 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-26.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-27.jpg"></a>
          <p>Tile 27, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-27.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-28.jpg"></a>
          <p>Tile 28, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-28.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-29.jpg"></a>
          <p>Tile 29, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-29.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-30.jpg"></a>
          <p>Tile 30, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-30.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-31.jpg"></a>
          <p>Tile 31, 7 MB.</p>
        </div>
        <div class="pix" style="width: 180px;">
          <a href="downloads/LOLA-fullRes-tiles-31.png" download><img class="overlay" src="img/DL-thumb/LOLA-Tile-32.jpg"></a>
          <p>Tile 32, 7 MB.</p>
        </div>
      </div>
    </details>
</div>
<h5>Sculpting References for Lalande Crater<h5>
<div class="pixBody">
  <div class="pix" style="width: 180px;">
    <a target="top" href="img/Apollo14.jpg"><img src="img/Apollo14-small.jpg"></a>
    <p>From Apollo 14 - 1.4 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a target="top" href="img/AS16-P-5401_LalandeRegionQ35.jpg"><img src="img/AS16-P-5401_LalandeRegionQ35-Small.jpg"></a>
    <p>From Apollo 16 (Shot 1) - 1.3 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a target="top" href="img/Apollo16view-from-south-Q35.jpg"><img src="img/Apollo16view-from-south-Q35-Small.jpg"></a>
    <p>From Apollo 16 (Shot 2) - 1.3 MB</p>
  </div>
  <div class="pix" style="width: 180px;">
    <a target="top" href="img/LalandeShapeReferenceQ35.jpg"><img src="img/LalandeShapeReferenceQ35-Small.jpg"></a>
    <p>From <a href="https://quickmap.lroc.asu.edu">QuickMap</a> (Montage) - 1.3 MB</p>
  </div>
</div>
