<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3>Nuclear Reactors</h3>
				<p>
					We'll come back to nuclear reactor designs in the Transportation
					section below, but there is a link in the sidebar to a very good
					overview of the matter, in power-point format. The current
					model Moonwards has for a nuclear plant on the
					lunar surface is quite crude. Expanding it into a
					good representation of a working reactor in space would be great
					for educational purposes. That is a goal for all the models of
					course, but as nuclear generators are so very misunderstood it
					is especially appealing to make that model. (Alas, i don't know
					how to interpret and adapt the drawings i've found of such
					things very well. When i work next work on it i'll seek consultations
					on the matter.)
				</p>
				<p>
					On slide 35 is a great comparison: "Standing next to a
					NTP [Nuclear Thermal Propulsion] engine before launch
					for one year is less radiation than a diagnostic x-ray".
				</p>
			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/NuclearSlidesHouts.jpg">
			<figcaption>
				<a href="https://ntrs.nasa.gov/search.jsp?R=20160004957&hterms=nuclear+fission+generator&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dnuclear%2Bfission%2Bgenerator">
					An overview of the science and history of nuclear power and propulsion for space</a>. This slide show was for the Kilopower
					project, which is working on a modern compact nuclear plant.
			</figcaption>
		</figure>
	</aside>
</div>
