<div class="container" id="mining">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h1>Extraction: Mining and Refining Elements and Compounds</h1>
				<p>
					The Moon has a marked tendency to either have lots of something, or none at all of something. Once we are able to really dig around there
					is reason to hope we will find some stuff there is no sign of on the
					surface. For the first years, it is prudent to assume what you have to
					work with is only what has been proven to be there.
				</p>
				<p>
					That list is adequate for a lot of things, but some ingenuity will be
					required to turn it into all we need for survival. Every
					way we process ore must be reinvented to suit the Moon.
					The chemicals most used in batch reactions to refine out certain products -
					acids and bases - are entirely absent from the Moon. If water and other
					volatiles were extracted from the poles in sufficient quantity, some
					of those chemicals could be made. That will take time and the resulting
					resources will be precious for much longer. The more water
					and nitrogen and carbon chemicals you use in materials processing,
					the less you have for farming and living spaces. It will likely be a
					long time before volatile mining can satisfy all local demands.
					Chemical catalysts can be imported from
					Earth and carefully recycled, but a bit will be lost in each batch and
					more will need to be imported regularly. Ways to use plentiful local
					resources to reduce reliance on these chemicals are important.
				</p>
			</div>
		</div>
	</section>
	<aside>
		<div class="sidePairTop">
			<div class="framewrap frame16x9">
				<iframe src="https://www.youtube.com/embed/FGYC0u566gs?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="sidePairBottom">
			This lecture is from the <a href="http://www.lpi.usra.edu/lunar/moon101/">
				Moon 101 series</a> by the Lunar and Planetary Institute. It gives a
				sense of
		</div>
		<div class="sidePairTop">
				<div class="framewrap frame16x9">
					<iframe src="https://www.youtube.com/embed/-QqfKN_eFVQ?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
		<div class="sidePairBottom">
					The <a href="http://lunarnetworks.blogspot.mx/2010/04/new-lunar-globe-as-seen-by-chandrayaan.html">
					Moon Mineralogy Mapper</a> (M3) on the Chandrayaan-1 probe
					took images of most of the lunar surface in a set of 85 specific wavelengths
					in the visible to near-infrared range. This video takes different
					combinations of those wavelengths and combines them as red, green, and
					blue images to produce rainbow-colored results. Minerals can be identified
					by how much light they reflect in each of a set of wavelengths, so these
					colorful results reveal differences in the composition and state of the
					lunar surface. Much analysis of these results remains to be done.
			</div>
	</aside>
	<section>
		<div class="sideDiv">
			<table>
				<caption>Chemical makeup of lunar regolith. HL = Highlands,
					LTB = Low-Ti Basalt, HTB = High-Ti Basalt. <br>From
					<a href="http://www.uapress.arizona.edu/onlinebks/ResourcesNearEarthSpace/resources11.pdf">
						R. D. Waldron's </a>chapter in <a href="http://www.uapress.arizona.edu/onlinebks/ResourcesNearEarthSpace/contents.php">
						Resources of Near-Earth Space</a>
						<details>
							<summary>Things to remember about lunar chemistry</summary>
							Because water was not involved in the Moon's formation, and exists
							only at the poles, and only as captured vapors from meteor impacts,
							the absence of water in lunar minerals gives them somewhat different
							properties than Earth equivalents. One anticipated effect is that
							glass made of lunar materials will have much greater tensile
							strength due to the absence of the microscopic flaws created
							by water molecules in the matrix.<br><br>
							All lunar minerals are highly
							reduced, meaning they tend to have extra electrons. This also
							changes their chemical properties, but it won't be clear how
							until we can experiment on-site.
						</details>

				</caption>
			  <tr>
			    <th rowspan="2" style="vertical-align: bottom;">
						Metal<br>Oxide</th>
			    <th colspan="3">Pyroxene
						<sup class="note tooltip" data-tooltip-content="#pyroxene">
						[?]</sup><br>
					(Ca,Fe,Mg)<sub>2</sub>Si<sub>2</sub>O<sub>6</sub>
					<sup class="note tooltip" data-tooltip-content="#pyr-formula">
					[?]</sup>
					</th>
			    <th colspan="3">Olivine<br>
					(Mg,Fe)<sub>2</sub>SiO<sub>4</sub></th>
			    <th colspan="3">Plagioclase<br>
					(Ca,Na)(Al,Si)<sub>4</sub>O<sub>8</sub></th>
			    <th colspan="3">Opaques<br>
					(mostly Ilmenite, FeTiO<sub>3</sub>)</th>
			  </tr>
			  <tr>
			    <td>HL<sup class="note tooltip" data-tooltip-content="#vol">
					[?]</sup>
						<br>(5 - 35)<sup class="note tooltip" data-tooltip-content="#volnum">
						[?]</sup>
					</td>
			    <td>LTB <br>(42 - 60)</td>
			    <td>HTB <br>(42 - 60)</td>
			    <td>HL <br>(0 - 35)</td>
			    <td>LTB <br>(0 - 36)</td>
			    <td>HTB <br>(0 - 10)</td>
			    <td>HL <br>(45 - 95)</td>
			    <td>LTB <br>(17 - 33)</td>
			    <td>HTB <br>(15 - 33)</td>
			    <td>HL <br>(0 - 5)</td>
			    <td>LTB<br> (1 - 11)</td>
			    <td>HTB <br>(10 - 34)</td>
			  </tr>
			  <tr>
			    <td>SiO<sub>2</sub>
						<sup class="note tooltip" data-tooltip-content="#SiO2">
						[?]</sup>
					</td>
			    <td>51 - 55</td>
			    <td>41 - 54</td>
			    <td>44 - 54</td>
			    <td>38 - 40</td>
			    <td>34 - 38</td>
			    <td>29 - 39</td>
			    <td>44 - 48</td>
			    <td>44 - 48</td>
			    <td>47 - 53</td>
			    <td>&le;0.1</td>
			    <td>&lt;1</td>
			    <td>&lt;1</td>
			  </tr>
				<tr>
			    <td>Al<sub>2</sub>O<sub>3</sub>
						<sup class="note tooltip" data-tooltip-content="#Al2O3">
						[?]</sup>
					</td>
			    <td>1 - 3</td>
			    <td>1 - 12</td>
			    <td>1 - 6</td>
			    <td>&le;0.1</td>
			    <td>0</td>
			    <td>0</td>
			    <td>32 - 36</td>
			    <td>32 - 35</td>
			    <td>29 - 35</td>
			    <td>1 - 65</td>
			    <td>&le;1.2</td>
			    <td>&le;2</td>
			  </tr>
				<tr>
			    <td>TiO<sub>2</sub></td>
			    <td>0.5 - 1.3</td>
			    <td>0.2 - 3</td>
			    <td>0.7 - 6</td>
			    <td>&le;0.1</td>
			    <td>0</td>
			    <td>0</td>
			    <td>&le;0.3</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.4 - 53</td>
			    <td>51 - 54</td>
			    <td>52 - 74</td>
			  </tr>
			  <tr>
			    <td>Cr<sub>2</sub>O<sub>3</sub></td>
			    <td>0.3 - 0.7</td>
			    <td>&le;1.5</td>
			    <td>&le;0.7</td>
			    <td>&le;0.1</td>
			    <td>0.3 - 0.7</td>
			    <td>0.1 - 0.2</td>
			    <td>trace</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.4 - 4</td>
			    <td>0.2 - 0.8</td>
			    <td>0.4 - 2.2</td>
			  </tr>
			  <tr>
			    <td>FeO</td>
			    <td>8 - 24</td>
			    <td>13 - 45</td>
			    <td>8 - 46</td>
			    <td>13 - 27</td>
			    <td>21 - 47</td>
			    <td>25 - 29</td>
			    <td>0.2 - 0.3</td>
			    <td>0.4 - 3</td>
			    <td>0.3 - 1.4</td>
			    <td>12 - 36</td>
			    <td>44 - 47</td>
			    <td>15 - 46</td>
			  </tr>
			  <tr>
			    <td>MnO</td>
			    <td>0</td>
			    <td>&le;0.6</td>
			    <td>&le;0.7</td>
			    <td>0</td>
			    <td>0.1 - 0.4</td>
			    <td>0.2 - 0.3</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.3 - 0.5</td>
			    <td>&lt;1</td>
			  </tr>
			  <tr>
			    <td>MgO</td>
			    <td>17 - 31</td>
			    <td>0.3 - 26</td>
			    <td>2 - 23</td>
			    <td>33 - 27</td>
			    <td>19 - 39</td>
			    <td>34 - 37</td>
			    <td>&le;0.2</td>
			    <td>0.1 - 1.2</td>
			    <td>&le;0.3</td>
			    <td>7.7 - 20</td>
			    <td>0.1 - 2.3</td>
			    <td>0.7 - 8.6</td>
			  </tr>
			  <tr>
			    <td>CaO</td>
			    <td>2 - 17</td>
			    <td>2 - 17</td>
			    <td>4 - 21</td>
			    <td>0.2 - 0.3</td>
			    <td>&le;0.3</td>
			    <td>0</td>
			    <td>19 - 20</td>
			    <td>17 - 19</td>
			    <td>14 - 19</td>
			    <td>&le;0.6</td>
			    <td>&lt;1</td>
			    <td>&lt;1</td>
			  </tr>
			  <tr>
			    <td>Na<sub>2</sub>O</td>
			    <td>0</td>
			    <td>&le;0.1</td>
			    <td>&le;0.2</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.2 - 0.6</td>
			    <td>0.4 - 1.3</td>
			    <td>0.7 - 2.7</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			  </tr>
			  <tr>
			    <td>K<sub>2</sub>O</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>&le;0.15</td>
			    <td>&le;0.3</td>
			    <td>&le;0.4</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			  </tr>
			</table>
			<div class="tooltip_templates">
			<p id="pyroxene">
			On Earth this mineral is different. It often includes sodium (Na) or zinc(Zn),
			and aluminum is so typical it is part of its formula.
			</p>
			</div>
			<div class="tooltip_templates">
			<p id="pyr-formula">
			The formula means that 2 atoms that could be calcium, iron, or magnesium
			combine with 2 atoms of silicon and 6 atoms of oxygen. The crystal
			lattice of the rock alternates between oxygen atoms and the others.
			</p>
			</div>
			<div class="tooltip_templates">
			<p id="vol">
			Figures in this row are the percent of volume taken up
			by the mineral above in rocks and soil of each type.
			</p>
			</div>
			<div class="tooltip_templates">
			<p id="volnum">
			For instance, between 5 and 35 percent of the volume of highland
			rocks and soil are made of pyroxene. This covers a wide range of
			different rocks made of many different minerals that fall under
			the general category of pyroxenes. The usefulness of all these
			figures is to give a bit of an idea how much you can increase the
			content of desired elements in the rocks you gather by looking
			for ones mostly composed of certain minerals. Soil of preferred
			composition can also be collected by color or location.
			</p>
			</div>
			<div class="tooltip_templates">
			<p id="SiO2">
			Silicon dioxide, or silica - glass is mostly this. Pure, as a glass it
			is fused
			quartz, a stong, non-reactive glass that transmits most wavelengths -
			including ultraviolet light (for a tan, or a sunburn). It can withstand
			very high temperatures. It has an extremely low coefficient of thermal
			expansion, meaning it doesn't shrink when it gets cold or expand when it
			gets hot. So, glazing made of it won't develop leaks around the edges.
			Tubes made of it can run through heat exchangers and radiators, without
			cracking. At pressure of 1 atmosphere, it softens at 1665&deg;C. In
			vacuum that temperature will be lower by several hundred K, but it
			would still be high enough to serve well in the applications mentioned.
			It can be drawn into fibers with high optical quality (fiberoptics).

			</p>
			</div>
			<div class="tooltip_templates">
			<p id="Al2O3">
			Aluminum oxide, or alumina - in crystalline form, it is sapphire. It
			is very hard, and like silica very clear, transmitting light from
			150 t0 5500 nm.
			</p>
			</div>

		</div>
	</section>
</div>

<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<p>
					Then there is the question of how you get the stuff out of the
					ground in the first place. The powder on the surface that can simply
					be scooped up is good enough for many things, with the designs
					adapted for that shown in these sections, including the dust roasters,
					MIP stations, and the collectors skimming the vapors off the TESS
					reservoir. For purer minerals, at Lalande Crater there
					is a wealth of rocks exposed on
					the surface, with a variety of compositions. Some
					are chunks of the bedrock that was blasted sky high during the
					impact that created Lalande. There are enough such rocks to supply
					reactors with good feedstock for quite some time, you just have to map and
					catalogue what kinds there are and haul the good ones a few kilometers to the
					refineries. But Peary Crater doesn't seem to have many rocks, as it is
					a far older part of the Moon. In such places fine-grain regolith has
					long since buried larger rock chunks, leaving them many meters under the
					surface. And anyways, there are more immediate reasons why you will want
					to make big, deep, steep-walled holes on the Moon than simply for
					mining. That's where you
					are going to put your habitats.
				</p>
				<p>
					Under the first 20 cm or so of powdery regolith (8 inches), the ground
					quickly becomes very hard packed. The individual particles of the soil
					look like shrapnel, because that is basically what they are - blast
					debris. Some of them are glass globules because they were from ground
					close enough to an impacting asteroid to be melted by it, and
					the molten spray of droplets cooled solid before they hit the ground,
					but it's
					largely shrapnel. That seems to be why the stuff clumps so well, it
					is all sort of gnarled together. So breaking it up isn't easy.
				</p>
				<p>
					Low gravity is another issue. If you could teleport an
					excavator to the Moon and run it, what would happen when you tried to
					dig with it, is it would tip over on its side.
					When everything weighs one-sixth
					as much, the force of the arm pushing the bucket into the ground is
					enough to lift the body. Just like with refining, excavation has to
					be done very differently.
				</p>
			</div>
		</div>
	</section>

</div>
<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3>Refining to get metals, oxygen, and metal oxides</h3>
				<p>
					The alternative to using chemicals for refining processes is using
					energy. It takes a lot of it and comes with challenges of its own.
					This is the approach taken by the dust roaster shown
					in the next section. This one
					device can do a lot. It produces a range of
					pure metals, pure oxygen, slag that makes good refractory materials,
					and a vapor byproduct that can be applied as a hard coating and sealant on
					objects placed at the machine's outlet. Because any kind of
					uprocessed regolith that is put into a dust roaster comes out as
					100% useful products, it is reasonable to calculate it outcompetes
					batch methods based on chemicals despite using a lot of energy to
					do so. By filling its hopper with extra-hot lava melted in the MIP
					stations or from solar thermal power plants, its power needs can also
					be considerably reduced.
				</p>
				<p>
					What the dust roaster can't provide is pure metal oxides. That is the
					unresolved issue that really hangs in the air. Building big and
					beautiful on the Moon takes a lot of glass, and making glass takes a
					very specific mix of metal oxides. There are a range of formulas for
					different kinds of glass, and they can stand a small amount of
					impurities. None of those formulas are close to the mineral
					composition of anything found on the Moon. Getting from what there is
					to what is needed requires either heating a suitable feedstock so
					hot for so long that most of it evaporates, or using an awuful lot of
					water and chemicals. The consistent, strong sun can easily do the
					heating with simple mirrors or lenses. The challenge is figuring out
					how to control that so specific substances can be collected, and
					the infrastructure can handle the heat.
				</p>

			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/dustroasterSchematic.jpg" alt="Schematic of a dust roaster">
			<figcaption>All the parts of a dust roaster, from a
				<a href="http://enu.kz/repository/2010/AIAA-2010-8703.pdf">paper</a> presented
				at the AIAA space conference in 2010.
			</figcaption>
		</figure>
		<div class="sideDiv">
			The patent filing for the dust roaster:
			<a href="http://www.google.com.mx/patents/US7935176">'Oxygen extraction apparatus and
			process'</a>, patent US 7935176 B2
		</div>
	</aside>
</div>
<section class="frameContainer">
 <div class="framePairTop">
		<div class="framewrap frame16x9">
						<iframe src="modelProxy19.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
	 </div>
 </div>
 <div class="framePairBottom">
  The dust roaster hasn't been labelled. It is an important piece.	It takes a molten regolith feed and super-heats it by induction, then passes	that through an electric field that causes different ions to deflect by	different amounts. You get a set of pure metals in the collector, neatly	separated. And you can also skim off pure oxygen during the process. This one	machine solves several problems. Even the slag is useful.
</div>
</section>
<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3>Excavation</h3>
				<p>
					Provisionally, the excavation for the habitats is planned to be
					done by blasting, just a teeny bit. The kind of blasting done in
					quarries on Earth wouldn't be safe unless all your machinery was
					moved quite a distance away. It would leave a lot of dust
					and debris to be cleaned up too. Since dust on moving parts is a serious
					problem on the Moon, you want to avoid anything that might lead to that.
					Instead, the idea is to bore holes into the ground with a sun gun,
					and place micro-charges of explosive that would be just enough to
					loosen the soil without throwing anything into the non-existent air.
				</p>
				<p>
					It would take experimentation to find the depth and explosive energy
					needed for the right result. To give the soil somewhere to expand into,
					a trench needs to be dug around the grid of boreholes.
					That way the energy of the blasts can be released as movement to the
					the side as well as movement upwards and compaction, resulting in
					loose soil.
					Boring by melting the ground with the sun is important. A
					conventional drill would heat up so fast in the vacuum and
					high-friction soil it would seize in no time. If that was
					overcome, there
					is an excellent chance dust would get into the moving parts and break
					them.
				</p>
				<p>
					Once the soil is broken up, a gantry crane like the one shown in
					the Construction section is used to clear the debris. To go deeper,
					a new trench is dug (or rather, mostly melted) and the process is
					repeated. If you reach bedrock, hopefully it will be composed
					of a useful mineral, or a strata not far down will be.
				<br><br>
					Boring and trenching becomes a different challenge at
					that point. Heat diffuses through solid rock many times faster than
					through the regolith. The sun gun won't be very effective any more.
					Quite possibly the thing to do then would be to clear the
					regolith from a large section of bedrock, cover the area well
					enough to fill the space with a very thin atmosphere, and
					switch to conventional drills and saws.
				</p>
				<p>
					When you need to do conventional digging, the machine will need to
					borrow mass from elsewhere by either being anchored to a cable set in
					something suitably immovable, or being loaded with ballast.
				</p>
			</div>
		</div>
	</section>
	<aside>

	</aside>
</div>
