<div>
  <p>Would you like a newsletter telling you when Moonwards has new stuff? Sign up below.</p>
</div>
<div class="sideDiv">
<form method="post" action="http://scripts.dreamhost.com/add_list.cgi">
<table style="width: 90%;"><input type="hidden" name="list" value="news" />
<input type="hidden" name="domain" value="moonwards.com" />

<!-- Optional: -->
<input type="hidden" name="unsuburl" value="https://www.moonwards.com/unsubscribed.html" />
<input type="hidden" name="alreadyonurl" value="https://www.moonwards.com/alreadysubbed.html" />
<input type="hidden" name="notonurl" value="https://www.moonwards.com/notsubscribed.html" />
<input type="hidden" name="invalidurl" value="https://www.moonwards.com/badaddress.html" />
<input type="hidden" name="emailconfirmurl" value="https://www.moonwards.com/subscribing.html" />
<input type="hidden" name="emailit" value="1" />

<!-- Required: -->
<tr><td>E-mail</td><td><input type="text" name="email" style="background-color: black; color: rgb(205,205,170); border: none; width: 100%"/></td></tr>


<!-- Required: -->
<tr><td></td><td><input type="submit" name="submit" value="subscribe" />&nbsp; &nbsp;<input type="submit" name="unsub" value="unsubscribe"/></td>
</tr>

</table>
</form>
</div>
