	<nav>
		<ul>
			<li><a href="https://www.moonwards.com/index.html" title="Where recent items appear, and a project outline">Vision</a>
				<ul>

					<li><a href="https://www.moonwards.com/project.html" title="Core philosophy, about us, and the stuff below">Project</a>
						<ul>
							<li><a href="https://www.moonwards.com/project.html#assets" title="Get the 3d models and other assets used in Moonwards">Assets</a></li>
							<li><a href="https://www.moonwards.com/project.html#resources" title="Lots of ways to learn about space exploration and lunar colonization">Resources</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/timeline.html" title="How colony development unfolds in our virtual world">Virtual Timeline</a>
						<ul>
							<li><a href="https://www.moonwards.com/timeline.html#ph1-ships" title="The ships for high-volume cargo, the first skyhook, remote operations by robot, First Hab at the pole, water mining, and the International Space Agency.">Ships, Skyhook, ISA</a></li>
							<li><a href="https://www.moonwards.com/timeline.html#skyhookHabsRP" title="2 more skyhooks, Fetcher and Hopper ships, Long Hab, Greenhouse,  the Residence Program">Habs, Industry, RP</a></li>
							<li><a href="https://www.moonwards.com/timeline.html#residenceProgramChart" title="Showing the population, cost, and revenue of each round, and notes on rule changes in later rounds">Residence Program Chart</a></li>
							<li><a href="https://www.moonwards.com/timeline.html#ph3" title="High-functioning robots and AI, allowing big interplanetary missions, fast expansion to Lalande, Lunar society fleshes out">Interplanetary, AI, Culture</a></li>
							<li><a href="https://www.moonwards.com/timeline.html#ph4" title="Space booms with traffic, many skyhooks across the solar system, grand projects built by robot, political power arrives in space">The City, the Planets, Power</a></li>
							<li><a href="https://www.moonwards.com/timeline.html#birthOfWorlds" title="A true independent civilization on the Moon, healthy colonies on Mars, Venus, Mercury, Callisto, and in O'Neill colonies">Birth of Worlds</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="https://www.moonwards.com/colonies.html">Colonies</a>
				 <ul>
					<li><a href="https://www.moonwards.com/colonies.html#lalande">Lalande</a>
						<ul>
							<li><a href="https://www.moonwards.com/lalande.html">Site</a>
								<ul>
									<li><a href="https://www.moonwards.com/lalande.html#LalSoilTemp">Rockiness</a></li>
									<li><a href="https://www.moonwards.com/lalande.html#thorium">Thorium</a></li>
									<li><a href="https://www.moonwards.com/lalande.html#CraterModel">Crater Model</a></li>
								</ul>
							</li>
						</ul>
					<li><a href="https://www.moonwards.com/colonies.html#3dLalande">Structures</a>
						<ul>
							<li><a href="https://www.moonwards.com/colonies.html#Phase1_Overview">Cernan's Promise</a></li>
							<li><a href="https://www.moonwards.com/colonies.html#AtriumCutaway">Atrium Hab</a></li>
							<li><a href="https://www.moonwards.com/colonies.html#AtriumRadBlind">Radiation Blind Roofs</a></li>
							<li><a href="https://www.moonwards.com/colonies.html#GalleryCutaway">Gallery Hab</a></li>
							<li><a href="https://www.moonwards.com/colonies.html#DomeCity">Lalande City</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/colonies.html#polar">Hinshelwood</a>
						<ul>
							<li><a href="https://www.moonwards.com/colonies.html#PolarFirstHab">First Polar Hab</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/colonies.html#orbital">Orbital</a></li>
				</ul>
			</li>
			<li><a href="https://www.moonwards.com/machines.html">Machines</a>
				<ul>
					<li><a href="https://www.moonwards.com/machines.html#robots">Robots</a></li>
					<li><a href="https://www.moonwards.com/machines.html#building">Building</a>
						<ul>
							<li><a href="https://www.moonwards.com/machines.html#BasaltFiberStation">Basalt Fiber</a></li>
							<li><a href="https://www.moonwards.com/machines.html#MIPstation">Melt-In-Place</a></li>
							<li><a href="https://www.moonwards.com/machines.html#HangarsOverview">Hangars</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/machinesPower.html">Power</a>
						<ul>
							<li><a href="https://www.moonwards.com/machinesPower.html#SolarThermal">Solar Thermal</a></li>
							<li><a href="https://www.moonwards.com/machinesPower.htmlNnuclearReactors">Nuclear Reactors</a></li>
							<li><a href="https://www.moonwards.com/machinesPower.html#SolarPV">Solar Photovoltaic</a></li>
							<li><a href="https://www.moonwards.com/machinesPower.html#SpaceSolar">Beamed Solar</a></li>
							<li><a href="https://www.moonwards.com/machinesPower.html#Flywheels">Flywheels</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/machinesMining.html">ISRU</a>
						<ul>
							<li><a href="https://www.moonwards.com/machinesMining.html#Minerals">Minerals</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#SolarFurnace">Solar Furnace</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#SolarReactor">Solar Reactor</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#MoltenElectrolysis">Molten Regolith Electrolysis</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#DustRoaster">Deflected Plasmas</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#Glass">Glass Production</a></li>
							<li><a href="https://www.moonwards.com/machinesMining.html#Excavation">Excavation</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/machinesTransport.html">Transport</a>
						<ul>
							<li><a href="https://www.moonwards.com/machinesTransport.html#nuclearShuttles">Nuclear Shuttles</a></li>
							<li><a href="https://www.moonwards.com/machinesTransport.html#PodShip">Pod Ships</a></li>
							<li><a href="https://www.moonwards.com/machinesTransport.html#ionDrive">IonDrives </a></li>
							<li><a href="https://www.moonwards.com/skyhooks.html">Skyhooks</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="https://www.moonwards.com/learn.html">Learn</a>
				<ul>
					<li><a href="https://www.moonwards.com/learn.html#tryit">Try It</a>
						<ul>
							<li><a href="https://www.moonwards.com/learn.html#PelletSim">Pellet Simulator</a></li>
							<li><a href="https://www.moonwards.com/learn.html#TetherTool">Tether Tool</a></li>
							<li><a href="https://www.moonwards.com/learn.html#SuborbitalHop">Suborbital Hop</a></li>
							<li><a href="https://www.moonwards.com/learn.html#LunarElevator">Lunar Elevator</a></li>
							<li><a href="https://www.moonwards.com/learn.html#MiscTools">Misc Tools</a></li>
						</ul>
					</li>
					<li><a href="https://www.moonwards.com/learn.html#lessons">Orbital Mechanics</a>
						<ul>
							<li><a href="https://www.moonwards.com/learn.html#TransferOrbits">Transfer Orbits</a></li>
							<li><a href="https://www.moonwards.com/learn.html#EscapeVelocity">Escape Velocity</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
