<h2>Suborbital Hop</h2>
<p>Click and drag!</p>
<img
	src="img/mapmini.jpg"
	style="display:none"
	width="512" height="256"
	id="moonMap">
<canvas
	id="subOrbitalCanvas"
	width="512" height="256"
	onmouseover="document.body.cursor='move'"
	onmouseout="document.body.cursor='auto'">
</canvas>
<p id="resultSH">&nbsp;</p>
<p>
	More about suborbital hops <a href="http://hopsblog-hop.blogspot.com/2015/08/lunar-pogo-hopper.html">here</a>
</p>
<script src="js/suborbital.js"></script>
<script>
	setTimeout(function(){subDraw()},2000)
//I can not remeber why this one is here, looks like bad hackery
</script>
<!--geogebra applet-->
<script type="text/javascript" src="https://www.geogebra.org/scripts/deployggb.js"></script>
<div id="applet_container1"></div>
<!--end geogebra applet-->
