<div class="container">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h2>Nuclear Shuttles</h2>
				<p>
					These were mentioned above in the Power section. The kind
					of nuclear ship that could make a big difference, and wouldn't be
					very hard to produce as we already had a working prototype in the 60s,
					is a ship that would be used only in space, preferably beyond Earth
					orbit. Launching a ship like that presents
					<a href="http://space.stackexchange.com/a/16609/4660">absolutely no radiation
					risk</a>. The fuel is not radioactive until you start to burn it, and
					since it is only for use in space, you simply don't turn the engines on until
					you are safely away from Earth. If this was commonly understood half
					a century ago, we'd be living in a completely different world.
				</p>
				<p>
					Nuclear ships could attain a specific impulse of 900 to 1000 seconds
					if we rebuilt that 1960s technology. That's a measure of fuel efficiency.
					Another way of saying it is that a nuclear engine could heat its
					fuel so hot it would be moving at 9000 to 10 000 m/s when it exited
					the rocket nozzles. That speed is what determines how hard the
					rocket is pushed in the opposite direction by that exhaust.
					The best chemical rockets have exhaust velocities
					of 4400 m/s in space, so a nuclear engine could speed up or slow
					down a ship by twice as much as the best high-thrust engines we have.
					The virtual colonies use them as shuttles from the lunar surface
					to lunar orbit.
				</p>
			</div>
		</div>
	</section>
	<aside>
	</aside>
</div>
