
	<section>
		<div class="outerDiv" >
			<div class="innerDiv">
				<h3>Excavation</h3>
				<p>
					Provisionally, the excavation for the habitats is planned to be done by blasting, just a teeny bit. The kind of blasting done in quarries on Earth wouldn't be safe unless all your machinery was moved quite a distance away. It would leave a lot of dust and debris to be cleaned up too. Since dust on moving parts is a serious problem on the Moon, you want to avoid anything that might lead to that. Instead, the idea is to bore holes into the ground with a sun gun, and place micro-charges of explosive that would be just enough to loosen the soil without throwing anything into the non-existent air. </p>
				<p>
					It would take experimentation to find the depth and explosive energy needed for the right result. To give the soil somewhere to expand into, a trench needs to be dug around the grid of boreholes. That way the energy of the blasts can be released as movement to the the side as well as movement upwards and compaction, resulting in loose soil. Boring by melting the ground with the sun is important. A conventional drill would heat up so fast in the vacuum and high-friction soil it would seize in no time. If that was overcome, there is an excellent chance dust would get into the moving parts and break them. </p>
				<p>
					Once the soil is broken up, a gantry crane like the one shown in the Construction section is used to clear the debris. To go deeper, a new trench is dug (or rather, mostly melted) and the process is repeated. If you reach bedrock, hopefully it will be composed of a useful mineral, or a strata not far down will be.
          <br><br>
					Boring and trenching becomes a different challenge at that point. Heat diffuses through solid rock many times faster than through the regolith. The sun gun won't be very effective any more. Quite possibly the thing to do then would be to clear the regolith from a large section of bedrock, cover the area well enough to fill the space with a very thin atmosphere, and switch to conventional drills and saws. </p>
				<p>
					When you need to do conventional digging, the machine will need to borrow mass from elsewhere by either being anchored to a cable set in something suitably immovable, or being loaded with ballast. </p>
			</div>
		</div>
	</section>
	<aside>

	</aside>
