	<section>
		<div class="blackDiv">
			<table>
				<caption>Chemical makeup of lunar regolith. HL = Highlands,
					LTB = Low-Ti Basalt, HTB = High-Ti Basalt. <br>From <a href="http://www.uapress.arizona.edu/onlinebks/ResourcesNearEarthSpace/resources11.pdf"> R. D. Waldron's </a>chapter in <a href="http://www.uapress.arizona.edu/onlinebks/ResourcesNearEarthSpace/contents.php"> Resources of Near-Earth Space</a> <details>
							<summary>Things to remember about lunar chemistry</summary>
							Because water was not involved in the Moon's formation, and exists only at the poles, and only as captured vapors from meteor impacts, the absence of water in lunar minerals gives them somewhat different properties than Earth equivalents. One anticipated effect is that glass made of lunar materials will have much greater tensile strength due to the absence of the microscopic flaws created by water molecules in the matrix.<br><br> All lunar minerals are highly reduced, meaning they tend to have extra electrons. This also changes their chemical properties, but it won't be clear how until we can experiment on-site. </details>
				</caption>
			  <tr>
			    <th rowspan="2" style="vertical-align: bottom;">
						Metal<br>Oxide</th>
			    <th colspan="3">Pyroxene
						<sup class="note tooltip" data-tooltip-content="#pyroxene">
						[?]</sup><br>
					(Ca,Fe,Mg)<sub>2</sub>Si<sub>2</sub>O<sub>6</sub>
					<sup class="note tooltip" data-tooltip-content="#pyr-formula">
					[?]</sup>
					</th>
			    <th colspan="3">Olivine<br>
					(Mg,Fe)<sub>2</sub>SiO<sub>4</sub></th>
			    <th colspan="3">Plagioclase<br>
					(Ca,Na)(Al,Si)<sub>4</sub>O<sub>8</sub></th>
			    <th colspan="3">Opaques<br>
					(mostly Ilmenite, FeTiO<sub>3</sub>)</th>
			  </tr>
			  <tr>
			    <td>HL<sup class="note tooltip" data-tooltip-content="#vol">
					[?]</sup>
						<br>(5 - 35)<sup class="note tooltip" data-tooltip-content="#volnum">
						[?]</sup>
					</td>
			    <td>LTB <br>(42 - 60)</td>
			    <td>HTB <br>(42 - 60)</td>
			    <td>HL <br>(0 - 35)</td>
			    <td>LTB <br>(0 - 36)</td>
			    <td>HTB <br>(0 - 10)</td>
			    <td>HL <br>(45 - 95)</td>
			    <td>LTB <br>(17 - 33)</td>
			    <td>HTB <br>(15 - 33)</td>
			    <td>HL <br>(0 - 5)</td>
			    <td>LTB<br> (1 - 11)</td>
			    <td>HTB <br>(10 - 34)</td>
			  </tr>
			  <tr>
			    <td>SiO<sub>2</sub>
						<sup class="note tooltip" data-tooltip-content="#SiO2">
						[?]</sup>
					</td>
			    <td>51 - 55</td>
			    <td>41 - 54</td>
			    <td>44 - 54</td>
			    <td>38 - 40</td>
			    <td>34 - 38</td>
			    <td>29 - 39</td>
			    <td>44 - 48</td>
			    <td>44 - 48</td>
			    <td>47 - 53</td>
			    <td>&le;0.1</td>
			    <td>&lt;1</td>
			    <td>&lt;1</td>
			  </tr>
				<tr>
			    <td>Al<sub>2</sub>O<sub>3</sub>
						<sup class="note tooltip" data-tooltip-content="#Al2O3">
						[?]</sup>
					</td>
			    <td>1 - 3</td>
			    <td>1 - 12</td>
			    <td>1 - 6</td>
			    <td>&le;0.1</td>
			    <td>0</td>
			    <td>0</td>
			    <td>32 - 36</td>
			    <td>32 - 35</td>
			    <td>29 - 35</td>
			    <td>1 - 65</td>
			    <td>&le;1.2</td>
			    <td>&le;2</td>
			  </tr>
				<tr>
			    <td>TiO<sub>2</sub></td>
			    <td>0.5 - 1.3</td>
			    <td>0.2 - 3</td>
			    <td>0.7 - 6</td>
			    <td>&le;0.1</td>
			    <td>0</td>
			    <td>0</td>
			    <td>&le;0.3</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.4 - 53</td>
			    <td>51 - 54</td>
			    <td>52 - 74</td>
			  </tr>
			  <tr>
			    <td>Cr<sub>2</sub>O<sub>3</sub></td>
			    <td>0.3 - 0.7</td>
			    <td>&le;1.5</td>
			    <td>&le;0.7</td>
			    <td>&le;0.1</td>
			    <td>0.3 - 0.7</td>
			    <td>0.1 - 0.2</td>
			    <td>trace</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.4 - 4</td>
			    <td>0.2 - 0.8</td>
			    <td>0.4 - 2.2</td>
			  </tr>
			  <tr>
			    <td>FeO</td>
			    <td>8 - 24</td>
			    <td>13 - 45</td>
			    <td>8 - 46</td>
			    <td>13 - 27</td>
			    <td>21 - 47</td>
			    <td>25 - 29</td>
			    <td>0.2 - 0.3</td>
			    <td>0.4 - 3</td>
			    <td>0.3 - 1.4</td>
			    <td>12 - 36</td>
			    <td>44 - 47</td>
			    <td>15 - 46</td>
			  </tr>
			  <tr>
			    <td>MnO</td>
			    <td>0</td>
			    <td>&le;0.6</td>
			    <td>&le;0.7</td>
			    <td>0</td>
			    <td>0.1 - 0.4</td>
			    <td>0.2 - 0.3</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.3 - 0.5</td>
			    <td>&lt;1</td>
			  </tr>
			  <tr>
			    <td>MgO</td>
			    <td>17 - 31</td>
			    <td>0.3 - 26</td>
			    <td>2 - 23</td>
			    <td>33 - 27</td>
			    <td>19 - 39</td>
			    <td>34 - 37</td>
			    <td>&le;0.2</td>
			    <td>0.1 - 1.2</td>
			    <td>&le;0.3</td>
			    <td>7.7 - 20</td>
			    <td>0.1 - 2.3</td>
			    <td>0.7 - 8.6</td>
			  </tr>
			  <tr>
			    <td>CaO</td>
			    <td>2 - 17</td>
			    <td>2 - 17</td>
			    <td>4 - 21</td>
			    <td>0.2 - 0.3</td>
			    <td>&le;0.3</td>
			    <td>0</td>
			    <td>19 - 20</td>
			    <td>17 - 19</td>
			    <td>14 - 19</td>
			    <td>&le;0.6</td>
			    <td>&lt;1</td>
			    <td>&lt;1</td>
			  </tr>
			  <tr>
			    <td>Na<sub>2</sub>O</td>
			    <td>0</td>
			    <td>&le;0.1</td>
			    <td>&le;0.2</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0.2 - 0.6</td>
			    <td>0.4 - 1.3</td>
			    <td>0.7 - 2.7</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			  </tr>
			  <tr>
			    <td>K<sub>2</sub>O</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			    <td>&le;0.15</td>
			    <td>&le;0.3</td>
			    <td>&le;0.4</td>
			    <td>0</td>
			    <td>0</td>
			    <td>0</td>
			  </tr>
			</table>
			<div class="tooltip_templates">
			<p id="pyroxene">
			On Earth this mineral is different. It often includes sodium (Na) or zinc(Zn), and aluminum is so typical it is part of its formula. </p>
			</div>
			<div class="tooltip_templates">
			<p id="pyr-formula">
			The formula means that 2 atoms that could be calcium, iron, or magnesium combine with 2 atoms of silicon and 6 atoms of oxygen. The crystal lattice of the rock alternates between oxygen atoms and the others. </p>
			</div>
			<div class="tooltip_templates">
			<p id="vol">
			Figures in this row are the percent of volume taken up by the mineral above in rocks and soil of each type. </p>
			</div>
			<div class="tooltip_templates">
			<p id="volnum">
			For instance, between 5 and 35 percent of the volume of highland rocks and soil are made of pyroxene. This covers a wide range of different rocks made of many different minerals that fall under the general category of pyroxenes. The usefulness of all these figures is to give a bit of an idea how much you can increase the content of desired elements in the rocks you gather by looking for ones mostly composed of certain minerals. Soil of preferred composition can also be collected by color or location. </p>
			</div>
			<div class="tooltip_templates">
			<p id="SiO2">
			Silicon dioxide, or silica - glass is mostly this. Pure, as a glass it is fused quartz, a stong, non-reactive glass that transmits most wavelengths - including ultraviolet light (for a tan, or a sunburn). It can withstand very high temperatures. It has an extremely low coefficient of thermal expansion, meaning it doesn't shrink when it gets cold or expand when it gets hot. So, glazing made of it won't develop leaks around the edges. Tubes made of it can run through heat exchangers and radiators, without cracking. At pressure of 1 atmosphere, it softens at 1665&deg;C. In vacuum that temperature will be lower by several hundred K, but it would still be high enough to serve well in the applications mentioned. It can be drawn into fibers with high optical quality (fiberoptics). </p>
			</div>
			<div class="tooltip_templates">
			<p id="Al2O3">
			Aluminum oxide, or alumina - in crystalline form, it is sapphire. It
			is very hard, and like silica very clear, transmitting light from
			150 t0 5500 nm.
			</p>
			</div>

		</div>
	</section>
