	<section>
		<div class="outerDiv" >
			<div class="innerDiv">
				<h3>Refining to get metals, oxygen, and metal oxides</h3>
				<p>
					The alternative to using chemicals for refining processes is using energy. It takes a lot of it and comes with challenges of its own. This is the approach taken by the dust roaster shown in the next section. This one device can do a lot. It produces a range of pure metals, pure oxygen, slag that makes good refractory materials, and a vapor byproduct that can be applied as a hard coating and sealant on objects placed at the machine's outlet. Because any kind of uprocessed regolith that is put into a dust roaster comes out as 100% useful products, it is reasonable to calculate it outcompetes batch methods based on chemicals despite using a lot of energy to do so. By filling its hopper with extra-hot lava melted in the MIP stations or from solar thermal power plants, its power needs can also be considerably reduced. </p>
				<p>
					What the dust roaster can't provide is pure metal oxides. That is the unresolved issue that really hangs in the air. Building big and beautiful on the Moon takes a lot of glass, and making glass takes a very specific mix of metal oxides. There are a range of formulas for different kinds of glass, and they can stand a small amount of impurities. None of those formulas are close to the mineral composition of anything found on the Moon. Getting from what there is to what is needed requires either heating a suitable feedstock so hot for so long that most of it evaporates, or using an awuful lot of water and chemicals. The consistent, strong sun can easily do the heating with simple mirrors or lenses. The challenge is figuring out how to control that so specific substances can be collected, and the infrastructure can handle the heat. </p>

			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/dustroasterSchematic.jpg" alt="Schematic of a dust roaster">
			<figcaption>All the parts of a dust roaster, from a
				<a href="http://enu.kz/repository/2010/AIAA-2010-8703.pdf">paper</a> presented
				at the AIAA space conference in 2010.
			</figcaption>
		</figure>
		<div class="sideDiv">
			The patent filing for the dust roaster:
			<a href="http://www.google.com.mx/patents/US7935176">'Oxygen extraction apparatus and
			process'</a>, patent US 7935176 B2
		</div>
	</aside>
</div>
<section class="frameContainer" id="Dustroaster">
 <div class="framePairTop">
		<div class="framewrap frame16x9">
						<iframe src="DustRoaster.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
	 </div>
 </div>
 <div class="framePairBottom">
  The dust roaster hasn't been labelled. It is an important piece.	It takes a molten regolith feed and super-heats it by induction, then passes	that through an electric field that causes different ions to deflect by	different amounts. You get a set of pure metals in the collector, neatly	separated. And you can also skim off pure oxygen during the process. This one	machine solves several problems. Even the slag is useful.
</div>
</section>
