	<section>
		<div class="outerDiv" >
			<div class="innerDiv">
				<h3>Refining to get metals, oxygen, and metal oxides</h3>
				<p>
					The alternative to using chemicals for refining processes is using energy. It takes a lot of it and comes with challenges of its own. This is the approach taken by the dust roaster shown in the next section. This one device can do a lot. It produces a range of pure metals, pure oxygen, slag that makes good refractory materials, and a vapor byproduct that can be applied as a hard coating and sealant on objects placed at the machine's outlet. Because any kind of regolith that is put into a dust roaster comes out as 100% useful products, it is reasonable to calculate it outcompetes batch methods based on chemicals despite using a lot of energy to do so. By filling its hopper with extra-hot lava melted in the MIP stations or from solar thermal power plants, its power needs can also be considerably reduced. </p>
				<p>
					What the dust roaster can't provide is pure metal oxides. That is the unresolved issue that really hangs in the air. Building big and beautiful on the Moon takes a lot of glass, and making glass takes a very specific mix of metal oxides. There are a range of formulas for different kinds of glass, and they can stand a small amount of impurities. None of those formulas are close to the mineral composition of anything found on the Moon. Getting from what there is to what is needed requires either heating a suitable feedstock so hot for so long that most of it evaporates, or using an awuful lot of water and chemicals. The consistent, strong sun can easily do the heating with simple mirrors or lenses. The challenge is figuring out how to control that so specific substances can be collected, and the infrastructure can handle the heat.
        </p>
        <p>
          Or, the process can be done in reverse - take pure metals and oxygen produced by the dust roaster, and combine them to produce metal oxides. That again requires a furnace, and mechanisms to properly mix the ingredients so they react completely, and then to shape them. It may be the most efficient method, if not in general than in certain cases. The process can be finely controlled which is a significant advantage, and heat is cheap as long as you get it by concentrating sunlight.
        </p>
			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/dustroasterSchematic.jpg" alt="Schematic of a dust roaster">
			<figcaption>All the parts of a dust roaster, from a
				<a href="http://enu.kz/repository/2010/AIAA-2010-8703.pdf">paper</a> presented
				at the AIAA space conference in 2010.
			</figcaption>
		</figure>
		<div class="sideDiv">
			A patent for the dust roaster:
			<a href="http://www.google.com.mx/patents/US7935176">'Oxygen extraction apparatus and
			process'</a>, patent US 7935176 B2
		</div>
    <div class="sideDiv">
      A second patent on the dust roaster: <a href="https://google.com/patents/US20050199797">'Isotope separation process and apparatus therefor'</a>
    </div>
	</aside>
</div>
<section class="frameContainer" id="Dustroaster">
 <div class="framePairTop">
		<div class="framewrap frame16x9">
						<iframe src="DustRoaster.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
	 </div>
 </div>
 <div class="framePairBottom">
The model notes go through each stage of processing. Production was estimated in <a href="http://enu.kz/repository/2010/AIAA-2010-8703.pdf">the AIAA paper</a> to be 20 metric tons of silicon per year. If the efficiency for other metals is similar, that means about 10 tons of aluminum, 8 tons of iron, and a ton or so of titanium, considering the average proportion of metals in the regolith of the maria. Output of a desired metal can be increased by selecting better feedstock or pre-processing it with other methods before putting it in the dust roaster. The paper postulated power needs of about 200 kW. If processing targets one or more specific metals, power needs could go up or down.
</div>
</section>
<section class="frameContainer" id="IlmeniteReactor">
 <div class="framePairTop">
		<div class="framewrap frame16x9">
						<iframe src="IlmeniteReactor.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
	 </div>
 </div>
 <div class="framePairBottom">
   This reactor uses the heat of the sunlight concentrated in the mirrors to melt the regolith loaded into the silo. Then hydrogen is bubbled through the mix. The reaction of hydrogen with the molten mix produces water and free metals. This model looks at processing ilmenite this way, but the process can be applied to many other mixtures. The hotter the contents can be made, the more can be done here. Pre-processing elsewhere can also make this unit more versatile. For instance, if fayalite can be sufficiently purified out of olivine, this reactor could be used to produce silica. The silica is then used to make glass, or panels of quartz. Even if the product is discolored by impurities, a bulk process like that would be invaluable. 
</div>
