<section>
  <div class="outerDiv" >
    <div class="innerDiv">
      <h3>Solar Thermal Reactor</h3>
      <p>If heating is combined with chemical reactions there are many ways to create one desired product and purify it. The processes that have been considered for the Moon have focused on the use of hydrogen or carbon chemicals as the reactants.
      </p>
      <p> Hydrogen is attractive for the processing of ilmenite (FeTiO<sub>3</sub>) to produce iron, water, and titanium dioxide. Simple pre-processing methods can be helpful - sieving to select the smallest particles, and use of magnets to draw out the ones with the most iron. This was proposed mostly to acquire oxygen by then splitting the water into hydrogen and oxygen, but since it is probably easier to get oxygen from water at the poles, it could ultimately find greater application in the production of iron. Titanium dioxide is also useful.
     </p>
     <p>There are a range of carbothermal reactions (ones that use carbon chemicals and heat) to refine metals. It has been considered for production of aluminum, silicon, magnesium, calcium, cobalt, nickel, and iron. Pure powdered carbon is usually used, or sometimes methane. The products if the reaction is complete are carbon monoxide and carbon dioxide, and hydrogen and water if methane was used. The process on Earth is often complicated by the production of carbides (such as Al<sub>4</sub>C<sub>3</sub>) and oxides being left over after the reaction. What is usually done to improve yields is to do the process in a vacuum furnace at higher heat. Once again, something that is greatly aided by doing it on the Moon. The key to making carbothermal processing attractive is almost complete recovery and recycling of the gases produced, through cheap processes.
     </p>
    </div>
  </div>
</section>
<aside>
  <figure class="sideDiv">
    <img src="img/PILOTreactor.jpg" alt="Schematic of a reactor with an auger that brings regolith into a rotating mixing drum, heated by concentrated sunlight through fiberoptic cables.">
    <figcaption>The Precursor In-situ Lunar Oxygen Testbed devleped by Lockheed Martin, from <a href="http://sci.esa.int/Conferences/ILC2005/Presentations/ClarkL-01-PPT.pdf">Integrated ISRU for Human Exploration – Propellant Production for the Moon and Beyond</a>, presentated to the International Lunar Conference of the ESA in 2005. Work by D. Larry Clark, Kevin Payne, Dr. B. Mishra, and Bob Gustafson.
    </figcaption>
  </figure>
  <figure class="sideDiv">
    <img src="img/ReactorsPSInc.jpg" alt="diagrams of a reactpr using concentrated sunlight delivered by fiberoptic cables melting regolith for hydrogen or carbothermal reactions">
    <figcaption>Reactors in which regolith is melted by focused sunlight delivered through fiber optic cables, and then reacts with a gas piped into the reactor. From <a href="https://www.lpi.usra.edu/meetings/leagilewg2008/presentations/oct29pm/Nakamura4011.pdf">Solar Thermal Power System for Oxygen Production from Lunar Regolith: Engineering System Development</a>, a presentation to the Joint Annual Meeting of LEAG, ICEUM, and SRR in 2008. Work by T. Nadamura, B. Smith, and B. Gustafson for Physical Sciences Inc and Orbital Technologies Corp.
    </figcaption>
</aside>
</div>
<section class="frameContainer" id="IlmeniteReactor">
	<div class="framePairTop">
		<div class="framewrap frame16x9">
			<iframe src="IlmeniteReactor.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
			</iframe>
		</div>
	</div>
	<div class="framePairBottom">
This reactor uses the heat of the sunlight concentrated in the mirrors to melt the regolith loaded into the silo. Then hydrogen is bubbled through the mix. The reaction of hydrogen with the molten mix produces water and free metals, mostly iron. This model looks at processing ilmenite this way. If the reactor's contents can be made hot enough, other metals can be purified this way. Pre-processing elsewhere can also make this unit more versatile.
	</div>
</section>
