		<aside>
			<figure class="sideDiv">
				<img src="img/PearyArea.jpg" alt="The region around Peary crater, at the
				lunar north pole">
				<figcaption>Peary is an old crater at the north pole largely filled in with regolith. It is about 75 km across. The LROC image collage at <a href="http://target.lroc.asu.edu/q3">Quickmap</a> show the region in high detail, but thanks to the sun's very low angle and the polar orbit of LROC, the images are very fragmented and full of solid black shadows.
				</figcaption>
			</figure>
			<figure class="sideDiv">
				<img src="img/PearyIllumination.jpg" alt="illumination map of sun at the north pole">
				<figcaption>The rims of Whipple and Hinshelwood craters, at the north end of Peary, could be the best places for habitats and infrastructure. This illumination map shows they have areas of near constant sun. For a better look, go to this <a href="http://bit.ly/2j3qNw9">Quickmap</a> link of the spot. Quickmap also has lots of other data you can see by playing with the menu that opens when you click the three diamonds in the top left corner.
				</figcaption>
			</figure>
		</aside>
