		<aside>
			<figure class="sideDiv">
				<img src="img/PearyArea.jpg" alt="The region around Peary crater, at the
				lunar north pole">
				<figcaption>Peary is an old crater at the north pole largely filled in with regolith. It is about 75 km across. The LROC image collage at <a href="http://target.lroc.asu.edu/q3">Quickmap</a> show the region in high detail, but thanks to the sun's very low angle and the polar orbit of LROC, the images are very fragmented and full of solid black shadows.
				</figcaption>
			</figure>
			<figure class="sideDiv">
				<img src="img/PearyIllumination.jpg" alt="illumination map of sun at the north pole">
				<figcaption>The rims of Hinshelwook and Whipple craters, at the north end of Peary, could be the best places for habitats and infrastructure. This illumination map shows both have areas of near constant sun. Hinshelwood Crater is on the Moon's near side, closer to the exact north pole, shallower, and seems to have a somewhat larger and flatter area in persistent sunlight (or from which the sun can be easily reached), so it will get the first polar colony. It's the one on the bottom left. For a better look, go to this <a href="http://bit.ly/2mU9Wja">Quickmap</a> link of the spot. Quickmap also has lots of other data you can see by playing with the menu bar.
				</figcaption>
			</figure>
		</aside>
