	<div class="container" id="polar">
		<section>
			<article class="outerDiv">
				<div class="innerDiv">
					<h1>Hinshelwood Crater: Water Inside, Eternal Sun Outide</h1>
					<p>
						Just a few years ago it was confirmed that in the deep constant shadow of the craters of the Moon's poles there is water. Plus a mix of other substances that were steamed out of the rest of the Moon eons ago - carbon dioxide, ammonia. There seem to be hundreds of millions of tons of it, perhaps billions. There ensued excitement about the new possibilities for settlement this creates - within a small community. Most of the world has already discarded the idea of settling the Moon and wants to press on to Mars, if they favor space settlement at all. We have fogotten the images of lunar bases and towns that were so common during the Apollo days.
					</p>
					<p>
						That small community noted that right beside those reserves of volatiles (being substances that normally evaporate away into space on the Moon), there are peaks on the crater rims that receive sunlight over 90% of the time. If you can raise solar panels on masts 30 m or so, in the right spots they would get sunlight virtually all the time. So you have solved energy and water, two really big challenges.
						<br><br>
						Thus most pushes for lunar bases these days focus on the poles. There is even a business model - turn the water into liquid hydrogen and liquid oxygen, and sell it as fuel for raising satellites, deep space missions, and space stations. Unlike putting a base on Mars, this is a space program we could undertake quickly, it is much safer, and it has practical payoffs here at home - space refeuling would allow much more space exploration.
						<br><br>
						It has been repeatedly debated whether in this project there should first be a base mining water at a pole, or the first missions should go to Lalande and expand to ice mining from there. The use of nuclear ships reduces the advantage of water at hand for fuel, and the early deployment of tethers reduces it even more. The choice of nuclear generators makes solar power unnecessary. The main business models all focus on early establishment of construction ability, and the construction technique did not seem viable at the poles.
					</p>
					<p>
						On further investigation, a version of the construction technique planned for Lalande would work with the minerals found in the highlands, where the poles are. That means a large habitat like proposed for Lalande could be made at the chosen polar site: Hinshelwood Crater, 89&deg;N. This allows the early research and development needed for the core business in this paradigm - construction - to be done there. The sale of places for international astronauts is what funds initial development, and for that you need to build lots of large habitats. After that construction for space is added - ships, satellites, space stations. That is the biggest industry the Moon can host. So it is quite significant to have a way to work at the pole on the core business, as well as volatile mining. In that case, the advantage of the machines not needing to deal with night also weighs in favor of going there first.
            <br><br>
            So, now the idea is that a small settlement is made at Hinshelwood Crater, and then the first crew sends machines to Lalande and makes the next hab. This base is being called Inukshuk, after the piled stone monuments made by Arctic peoples as landmarks. The idea is that during testing of the robotic equipment, the engineers operating them remotely build an Inukshuk. They do it to assess how to use several pieces of equipment jointly for a task, and to check performance of sensory systems by balancing the large stones in the Inukshuk. Then the name sticks.
						<br><br>
						The early robotic missions would focus on making the hab, not on volatile mining. It is much better for people to be nearby when undertaking something as tricky as extracting volatiles from one of the coldest places in the solar system. Since the focus is developing construction capability, the missions can take more time to perfect and ramp up production of water, carbon dioxide, and ammonia. At first the water that is obtained is only to supplement the fuel supply of the nuclear shuttles. Then it supplies their fuel entirely, and then also the fuel of the pod ship. After that the new colony has more and more freedom to use water for greenhouses. If there is a good market in cislunar space for water as rocket fuel or whatever else, all the better, but there is no particular need for that in this paradigm.
					</p>
					<p>
						Finally, Hinshelwood starts shipping water, carbon, and ammonia to Lalande in ever larger amounts. Most of the water stays on the Moon, to make ponds, then swimming pools, eventually even small lakes. Some continues to ship to orbit for fuel, or radiation shielding - unless there is no need. By this time asteroids will be mined for water, metals, and carbon and nitrogen too. They may be a better source for needs in open space.
					</p>
				</div>
			</article>
		</section>
{% include_relative _includes/colonies/asideInukshukColony.html %}
</div>
<section class="frameContainer" id="InukshukModels">
 <div class="framePairTop">
  <div class="framewrap frame16x9" id="PolarFirstHab">
						<iframe src="PolarHab.html" frameborder="0" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</div>
 </div>
 <div class="framePairBottom">
	An initial model of a permanent polar habitat. This hab is actually easier to	build than the ones at Lalande because the only tension loads that need to be	handled are on the ceiling, and that part will be a membrane shipped from
	Earth.
 </div>
</section>
