		<div class="container" id="orbital">
			<section>
			<article class="outerDiv">
				<div class="innerDiv">
					<h1>Orbital colonies - Now we travel the heavens at will</h1>
					<p>
						Orbital tethers need asteroids as their stabilizing central mass, and
						those asteroids are a great place to start a space station.
						
						A base in free space is fundamentally different from a surface colony. Without being located deep inside a gravity well
						it remains easily accessible and possible to move.
					</p>
					</div>
				</article>
			</section>
		</div>
