@charset "UTF-8";
html {
  margin: 0;
  color: #f7f7dc;
  font: 1rem/1.6rem "Titillium Web", sans-serif;
  background: #000 url(http://www.moonwards.com/img/tycho-mod.png) no-repeat fixed right 250px;
  padding: 0;
  background-size: 1600px; }
  @media only screen and (min-width: 1350px) {
    html {
      background-size: 100% auto; } }

/*All color, text styling, visual touches, and basic doc styles */
body, ul, figure {
  margin: 0; }

a {
  text-decoration: none;
  color: yellow; }
  a:visited {
    color: #beee32; }
  a:hover {
    background-color: #3c3c0a; }
  a:active {
    background-color: #3c3c0a; }

h1 {
  color: #96912d;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  padding: 15px 0 15px 45px;
  margin: 0;
  border-bottom: 2px solid #96912d; }

h2 {
  color: #96912d;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  padding: 15px 20px 12px 45px;
  margin: 0;
  border-bottom: 1px solid #96912d; }

h3 {
  color: #96912d;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  padding: 15px 4vw 0 8vw;
  margin: 0;
  border-bottom: 1px solid #96912d; }

h5 {
  color: #96912d;
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  padding: 4px 20px;
  margin: 20px 0 5px 0;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

.column h1 {
  font-weight: 400;
  letter-spacing: 1px; }

.column h2 {
  font-weight: 400;
  text-align: right;
  padding: 10px;
  margin: 5px auto; }

figcaption {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-align: right;
  width: 90%; }

.byline {
  border-top: 1px solid #96912d;
  margin-right: 20px;
  letter-spacing: 2px; }

.note {
  font-weight: 600;
  font-size: 0.6rem;
  color: yellow; }
  .note:hover {
    background-color: #3c3c0a;
    cursor: help; }

.note-inline {
  font-weight: 400;
  font-size: 1rem;
  color: yellow; }
  .note-inline:hover {
    background-color: #3c3c0a;
    cursor: help; }

ul {
  padding: 10px;
  padding-left: 35px; }

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #000; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #000; }
  nav a {
    text-decoration: none;
    font-weight: 300;
    color: #fac819; }
    nav a:visited {
      color: #fac819; }
    nav a:hover {
      color: yellow;
      background-color: inherit; }
    nav a:active {
      color: yellow;
      background-color: inherit; }

nav > ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  height: 33px;
  padding-left: 15px; }

nav > ul > li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100px;
  -moz-flex: 1 1 100px;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
  font-size: 18px;
  font-weight: 300;
  padding: 5px; }

/* Make dropdown menus:
 * ul that is a CHILD of li which is a DESCENDENT of nav */
nav li > ul {
  display: none;
  border-radius: 15px;
  border: 1px solid #666;
  border-top: none;
  padding: 10px;
  text-align: center;
  margin: 0; }

nav li > ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 300;
  padding: 5px; }

/* Statement applies only to
 * child ul, only when li is hovered */
nav li:hover > ul {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse wrap;
  -moz-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  padding: 35px 0 0 0;
  width: 100%; }

#Logo {
  -webkit-box-flex: 1.5;
  -moz-box-flex: 1.5;
  box-flex: 1.5;
  -webkit-flex: 1.5 1 250px;
  -moz-flex: 1.5 1 250px;
  -ms-flex: 1.5 1 250px;
  flex: 1.5 1 250px;
  padding: 1.5rem 3rem 4.5rem 3rem; }

.intro {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3 1 30%;
  -moz-flex: 3 1 30%;
  -ms-flex: 3 1 30%;
  flex: 3 1 30%;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: right;
  background: rgba(50, 50, 0, 0.7);
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 2rem 3rem 2rem 2rem;
  margin-left: auto; }

/*Block level elements, and non-text objects */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  width: 100%; }

section {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3 0 350px;
  -moz-flex: 3 0 350px;
  -ms-flex: 3 0 350px;
  flex: 3 0 350px;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 2rem; }

section .learn {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 350px;
  -moz-flex: 0 1 350px;
  -ms-flex: 0 1 350px;
  flex: 0 1 350px;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  width: 90%; }

aside {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 300px;
  -moz-flex: 1 1 300px;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  margin-top: 4rem; }
  @media only screen and (min-width: 1700px) {
    aside {
      flex: 2 0 400px; } }

.outerDiv {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
  background-color: rgba(50, 50, 0, 0.7); }

.innerDiv {
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-color: rgba(50, 50, 50, 0.7);
  margin: 15px; }
  .innerDiv p {
    padding: 0.5rem 1.2rem;
    margin: 0;
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start; }

.pixWrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 15px; }
  .pixWrap p {
    margin: 5px;
    padding: 10px; }

.pixHeader {
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 15px 15px 0 0;
  margin: 15px 15px 0 15px; }

.pixBody {
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 15px 15px 15px; }

.pix {
  margin: 15px;
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  box-flex: auto;
  -webkit-flex: auto;
  -moz-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border: 1px solid #50500f; }
  .pix img {
    width: 100%;
    height: auto; }

div .gallery {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  box-flex: auto;
  -webkit-flex: auto;
  -moz-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 500px;
  margin: 20px; }
  div .gallery img {
    width: 100%;
    height: auto; }

.imgResize {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  box-flex: auto;
  -webkit-flex: auto;
  -moz-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }
  .imgResize img {
    width: 90%;
    height: auto; }

.thumbs {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
  .thumbs img {
    padding: 10px;
    flex: 0 1 auto; }

.sideDiv {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1rem; }
  .sideDiv img {
    width: 90%;
    border: 1px solid #73730f; }

.sidePairTop {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1.5rem 0 0 0;
  padding: 1rem; }
  .sidePairTop img {
    width: 90%;
    border: 1px solid #73730f; }

.sidePairBottom {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0 1.5rem;
  padding: 0 15px 15px 15px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-align: right; }

.columnSet {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid black; }
  .columnSet article:nth-child(odd) {
    background-color: rgba(50, 50, 0, 0.7); }
  .columnSet article:nth-child(even) {
    background-color: rgba(50, 50, 50, 0.7); }
  @media only screen and (max-width: 1000px) {
    .columnSet {
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 30%;
  -moz-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  box-sizing: border-box;
  margin: 0;
  padding: 15px; }

/*This hides Tooltipster tooltips until hovered */
.tooltip_templates {
  display: none; }

/* This is the core CSS of Tooltipster */
.tooltipster-base {
  display: flex;
  pointer-events: none;
  position: absolute; }

.tooltipster-box {
  flex: 1 1 auto; }

.tooltipster-content {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: auto; }

.tooltipster-ruler {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden; }

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

.tooltipster-fade.tooltipster-show {
  opacity: 1; }

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden; }

.tooltipster-grow.tooltipster-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform; }

.tooltipster-swing.tooltipster-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4); }

.tooltipster-fall {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-fall.tooltipster-initial {
  top: 0 !important; }

/*.tooltipster-fall.tooltipster-show */
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0; }

.tooltipster-slide {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-slide.tooltipster-initial {
  left: -40px !important; }

/*.tooltipster-slide.tooltipster-show */
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0; }

@keyframes tooltipster-fading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.tooltipster-update-fade {
  animation: tooltipster-fading 200ms; }

@keyframes tooltipster-rotating {
  25% {
    transform: rotate(-2deg); }
  75% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(0); } }
.tooltipster-update-rotate {
  animation: tooltipster-rotating 600ms; }

@keyframes tooltipster-scaling {
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.tooltipster-update-scale {
  animation: tooltipster-scaling 600ms; }

.tooltipster-sidetip .tooltipster-box {
  background: black;
  border: 2px solid #96912d;
  border-radius: 4px; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  margin-top: 8px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
  margin-right: 8px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-left: 8px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 8px; }

.tooltipster-sidetip .tooltipster-content {
  color: #f7f7dc;
  line-height: 18px;
  padding: 6px 14px; }

.tooltipster-sidetip .tooltipster-arrow {
  overflow: hidden;
  position: absolute; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  height: 10px;
  margin-left: -10px;
  top: 0;
  width: 20px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  right: 0;
  top: 0;
  width: 10px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 0;
  width: 10px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 0;
  height: 10px;
  margin-left: -10px;
  width: 20px; }

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
  height: 0;
  position: absolute;
  width: 0; }

.tooltipster-sidetip .tooltipster-arrow-background {
  border: 10px solid transparent; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: black;
  left: 0px;
  top: 3px; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  border-left-color: black;
  left: -3px;
  top: 0px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  border-right-color: black;
  left: 3px;
  top: 0px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: black;
  left: 0px;
  top: -3px; }

.tooltipster-sidetip .tooltipster-arrow-border {
  border: 10px solid transparent;
  left: 0;
  top: 0; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #96912d; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #96912d; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #96912d; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #96912d; }

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -10px; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
  left: -10px; }

/*This part is from tyleruebele/details-shim */
details,
summary {
  display: block; }

details.details_shim_closed > * {
  display: none; }

details.details_shim_closed > summary {
  display: block; }

details.details_shim_open > summary {
  display: block; }

details.details_shim_closed > summary:before {
  display: inline-block;
  content: "▶";
  padding: 0 0.1em;
  margin-right: 0.4em;
  font-size: 0.9em; }

details.details_shim_open > summary:before {
  display: inline-block;
  content: "▼";
  padding: 0;
  margin-right: 0.35em; }

/*--- */
summary {
  outline: none;
  cursor: help; }

summary:hover {
  background-color: #3c3c0a; }

table {
  border-collapse: collapse;
  border: 1px solid #50500f;
  font-size: 0.8rem; }

th, td {
  padding: 5px 10px;
  border: 1px solid #50500f; }

th {
  background: rgba(50, 50, 0, 0.7);
  letter-spacing: 1px; }

tr:nth-child(2n) {
  background: rgba(50, 50, 0, 0.7); }

tr:nth-child(odd) {
  background: rgba(50, 50, 50, 0.7); }

.frameContainer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  width: 90%; }

.SF-Div {
  background-color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
  padding: 15px;
  margin-bottom: 30px; }

.framePairTop {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1rem; }

.framePairBottom {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0 15px 15px 15px;
  letter-spacing: 1px;
  line-height: 1.1rem;
  text-align: right;
  margin-bottom: 20px; }

.framewrap {
  position: relative;
  height: 0;
  overflow: hidden; }
  .framewrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #73730f; }

.frame16x9 {
  padding-bottom: 56.25%; }

.frame4x3 {
  padding-bottom: 75%; }

@media (min-height: 1000px) {
  .goodHeight {
    height: 950px; } }
@media (min-height: 900px) {
  .goodHeight {
    height: 850px; } }
@media (min-height: 800px) {
  .goodHeight {
    height: 750px; } }
@media (min-height: 700px) {
  .goodHeight {
    height: 650px; } }
@media (min-height: 600px) {
  .goodHeight {
    height: 550px; } }

input, button {
  padding: 5px;
  margin-right: 1rem; }

input[type="text"] {
  margin-bottom: 0;
  padding-bottom: 0; }
