	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3>Nuclear Reactors</h3>
				<p>
					Unless you go back to plans from the 70s, reference to nuclear power has completely disappeared from proposals for the Moon. This is unfortunate, as the reality is, everywhere except the poles, when you start development in a new area, you need mobile nuclear power plants so you can work through the night.
				</p>
				<p>Nuclear safety is quite easy on the Moon. The absence of air and water on the Moon really simplifies the use of nuclear power. There is no need to think about radioactive waste leaking over the long term because there is no water table or air to carry radioactive particles away from a waste dump. In fact, putting radiation shielding around a reactor is just a matter of piling up a sufficient thickness of the surrounding regolith, or digging a deep enough pit. There is no biosphere to protect, no weather to think about.
				</p>
				<p>
					If it is new and has never been used, the radiation from nuclear fuel isn't dangerous at all. It's only once it has been 'burned' in a reactor that it becomes dangerous, because at that point it is full of the products of the fission that occurred during that burning. Those are super radioactive. Plain old uranium is stuff you can safely hold in your hands. The overview linked to in the sidebar makes a great comparison on slide 35 that gets this across: "Standing next to a NTP [Nuclear Thermal Propulsion] engine before launch for one year is less radiation than a diagnostic x-ray".
				</p>
				<p>The wiki page for <a href="https://github.com/briligg/moonwards/wiki/Nuclear-Reactors------Kilopower-(KRUSTY)">Nuclear Reactors</a> on the Github repo summarizes several papers on the Kilopower project at NASA's Glenn Research Center. These designs aim at creating small nuclear reactors that are easy to set up and maintain because the rate of fission reactions passively corrects itself, eliminating risk of melt-down. The reactor model for the early construction phase of Cernan's Promise will be based on that design. The closed Brayton cycle reactor design shown in the sidebar will also be modeled later.
				</p>
				<p>The fuel rods for reactors weigh so little compared to the vast energy that can be tapped from them, it will be a long time before it is cheaper to fabricate fuel rods on the Moon than to import them for Earth. One ton of fuel from Earth could power a 30 MW reactor for 6 years. The soil around Lalande Crater has the Moon's highest contents of thorium, and it is reasonable to suppose that once excavation was done, deposits with much higher thorium and uranium contents would probably be found in that region. Since these deposits are also associated with a high content of many rare earth elements, it may prove economical sooner to process them if all of those elements are thus extracted. Thoria and urania, the oxides of thorium and uranium, are useful for other things besides nuclear fuel, which also improves the argument for mining them. The development that justifiees nuclear fuel production on-site in our timeline is on-site manufacture of nuclear thermal rocket engines.
				</p>

			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/NuclearSlidesHouts.jpg">
			<figcaption>
				<a href="https://ntrs.nasa.gov/search.jsp?R=20160004957&hterms=nuclear+fission+generator&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dnuclear%2Bfission%2Bgenerator">
					An overview of the science and history of nuclear power and propulsion for space</a>. This slide show was for the Kilopower
					project, which is working on a modern compact nuclear plant.
			</figcaption>
		</figure>
	</aside>
