<div class="container" id="solarThermal">
	<section>
		<div class="outerDiv">
			<div class="innerDiv">
				<h3 id="TESS">Solar Thermal Melt and Power - STeMP units</h3>
				<p>Once Lalande has a genuine town, and later for the city, generators running on stored solar heat are a significant source of power. They power Stirling engines with a gaseous working fluid, heated by a mass of molten regolith, which in turn is heated by tubes filled with molten sodium that circulate through parabolic mirrors.
				</p>
				<p>Chemicals that boil off the lava are collected for use elsewhere. These are chemicals such as oxides of phosphorus, potassium, and sulfur, and minute amounts of hydrogen, carbon, and nitrogen. The plant is sized with extra capacity so that some molten rock can be drawn off and used to produce things like glass and basalt fiber materials. That lava needs to be processed further in most such cases.
				</p>
				<p>Some of the components for STeMP units are simple and can be produced on-site early in colony development - mirrors, the tanks, pipes. With 3d printing of parts out of sintered metal powder and casting of molten minerals, most of the radiators, pumps, and generators can also be made.
				</p>
			</div>
		</div>
	</section>
	<aside>
		<figure class="sideDiv">
			<img src="img/ThermalStorePaper.jpg">
			<figcaption><a href="https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/19920005262.pdf">
				Analysis of Lunar Regolith Thermal Energy Storage</a>, a paper by Anthony Colozza for the Lewis Research Center under contract to NASA, 1991. It examines running pipes into the ground on the Moon and heating it - how the heat moves, the temperature fluctuations over a full day, and system efficiency.
			</figcaption>
		</figure>
		<figure class="sideDiv">
			<img src="img/BraytonTurbineForSpace.png">
			<figcaption><a href="https://ntrs.nasa.gov/search.jsp?R=20100026654&hterms=brayton+generator&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dbrayton%2Bgenerator">Closed Brayton Cycle Power Conversion Unit for Fission Surface Power</a> by Robert L Fuller, a paper for the Glenn Research Center under contract to NASA, 2010. This was based on the heat source being a small nuclear reactor, for the early days of Cernan's Promise, it would need to be much bigger. This paper has good illustrations for the connected turbine, as shown above. Possibly a Stirling engine version would be preferable later, as that is the generator favored for the subsequent solar thermal system.
			</figcaption>
		</figure>
	</aside>
</div>
<section class="frameContainer">
 <div class="framePairTop" id="STePP">
		<div class="framewrap frame16x9">
						<iframe src="STePP.html" frameborder="0" allowfullscreen
						mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
						</iframe>
		</div>
 </div>
 <div class="framePairBottom">
	 This shows a single mirror unit, tank complex, Stirling engine, and radiator unit, for the sake of a clear explanation. Units placed in the colonies will have as many mirror, generator, and radiator units as the tank can support, and be scaled as large as simulations indicate would work well enough. That simulating remains to be done, but guesstimating from what we have now, this concept is a good option for units producing up to 10 MW of electricity, steadily day and night.
 </div>
</section>
