<div class="outerDiv" id="LunarElevator">
	<div class="innerDiv">
		<h2>Lunar Elevator</h2>
		<p>Start distance: (From the centre of the Moon towards Earth)</p>
		<input type="text" placeholder="(km)" value="" id="start">
		<span>use lunar surface<input type="checkbox" id="surface"></span>
		<p>End distance:</p>
		<input type="text" placeholder="(km)" value="" id="end">
		<span>use <abbr title="Earth-Moon lagrange point 1">EML1</abbr><input type="checkbox" id="eml1"></span>
		<p>Material strength:</p>
		<input type="text" placeholder="(Yuri)" value="" id="material">
		<span>use Zylon<input type="checkbox" id="zylon"></span>
		<span>I want the mass of the elevator too!<input type="checkbox" id="tethermass"></span>
		<p>Parameters required to calculate elevator mass:</p>
		<p class="formBuffer">Payload mass:</p>
		<input type="text" placeholder="(kg)" value="" id="payloadmass">
		<p class="formBuffer">Safety factor:</p>
		<input type="text" value="1.1" id="safety">
		<button onclick="tether()">Calculate!</button>
		<canvas id="tetherCanvas" width="400" height="100"></canvas>
		<script src="js/tether.js"></script>
		<p id="resultLE">&nbsp;</p>
		<p id="resultLE2">&nbsp;</p>
		<p id="resultLE3">&nbsp;</p>
	</div>
</div>
