<div class="innerDiv">
	<p>[Experimental!] A list of data. Here are some numbers we have found useful during the development of the project.</p>
	<p>The data is also available in json format, found at <a href="http://moonwards.com/json/">moonwards.com/json/</a></p>
		<h3>List of numbers</h3>
{% for planet in site.data.planets %}
		<details>
			<summary>{{planet.name}}</summary>
			<table>
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>Mass:</td>
					<td>{{planet.mass}} kg</td>
				</tr>
				<tr>
					<td>Radius:</td>
					<td>{{planet.radius}} m</td>
				</tr>
				<tr>
					<td>Gravitational prameter:</td>
					<td>{{planet.gm}} kg<sup>-1</sup> m<sup>3</sup> s<sup>2</sup></td>
				</tr>
			</table>
			<details class="orbit"><summary>Orbit:</summary>
				<table>
					<tr>
						<th>Property</th>
						<th>Value</th>
					</tr>
					<tr>
						<td>Parent:</td>
						<td>{{planet.parent}}</td>
					</tr>
					<tr>
						<td>Semi-major axis:</td>
						<td>{{planet.semiMajor}} m</td>
					</tr>
					<tr>
						<td>Period:</td>
						<td>{{planet.period}} s</td>
					</tr>
				</table>
			</details>
		</details>
{% endfor %}
</div>
