<div class="columnSet">
<div class="spanAll">
  <p>By the end of this phase:</p>
  <ul>
  <li>the Pod ships have made around 100 trips to lunar orbit, most of them carrying crew for Crossroads.</li>
  <li> The last trips bring crew for First Hab at the polar base, now dubbed Inukshuk Colony<sup class="note tooltip" data-tooltip-content="#inukshuk">[?]</sup>.</li>
  <li> First Hab is a permanent structure that houses 40 crew from the ISA nations. That crew is composed of married couples on extended missions of at least 5 years.</li>
  <li> The ice mines are producing 20 kilotons of water per year. This water supplies all the fuel for the LNCs, the Pod Ships, and the EESS. It has been used to augment the shielding of Crossroads Station and First Hab, and to supply a large fuel depot at the EESS.</li>
  <li> There were about 200 to 250 launches from Earth lifting a total of 10 kilotons of payload to accomplish all this - an average of 13 to 17 launches per year.</li>
  <li> The ISA nations have withdrawn from the Outer Space Treaty and signed a new Space Treaty governing their actions in space. That treaty evolved from the agreements they set up to cover the EESS and their joint lunar ventures, including the amendments that were enacted over the course of this phase.</li>
  </ul>
  <div class="tooltip_templates">
    <span id="inukshuk">
      While the crew tested the upgraded and new robots on their first sortie at the polar base, they used them to construct several inukshuks - stacks of balanced stones traditionally used as landmarks among Arctic peoples. They made one particularly large one, liked it, and left it standing. Thus the colony acquired its name.
    </span>
  </div>
  <h2>Phase 2 - duration 15 years</h2>
</div>

</div>
