<div class="columnSet">
<div class="spanAll">
  <details id="ph2summary">
  <summary>Status by the end of this phase:</summary>
  <ul>
    <li>There are 250 people living on the Moon - 200 First Rounders and 50 ISA staff.</li>
    <li>By mass, they get about two-thirds of their food from the Greenhouse and the Long Hab gardens.</li>
    <li>The ice mines produce 100 kilotons of ice per year</li>
    <li>100 people live and work on the EESS</li>
    <li>50 people staff Crossroads.</li>
    <li>There have been 200 launches to the EESS carrying a total of 8 kilotons of payload. Almost all of them have carried crew, as well as equipment and supplies for the various stations and Inukshuk.</li>
    <li>Most of those launches had an upper stage that was refueled with fuel from the Moon, and returned to Earth for reuse.</li>
    <li>Scalable manufacturing processes, using purely materials acquired on the Moon or from asteroids, have been developed for the following goods: steel, topsoil, Zylon, a range of silicone polymers, transparent glass, structural glass composites, high explosives, sapphire, quartz, and pure metals including iron, aluminum, silicon, magnesium, titanium, calcium, and manganese. </li>
  </ul>
</details>
</div>
</div>
