

 <article class="column" id="ResidenceProgramBegins">
  <h5>The Residence Program Begins</h5>

  <ul>
   <li>Long Hab houses the first 200 astronauts of the program. Each is a married couple selected by their countries to go to the Moon permanently - to live out the rest of their lives there. For this privilege, these nations pay $150 million per astronaut. All astronauts must meet stiff criteria agreed upon by all the nations:
   <ul>
    <li><h6>Stable Married Couples</h6>They must be a married couple with no children under the age of 18, married at least 10 years, and at least 40 years of age. </li>
    <li><h6>Scientists and Engineers</h6> who can play an active role in studying and developing the Moon. Minimum qualification is both have at least a bachelor's degree in the sciences or engineering, one has a more advanced degree or outstanding professional career in a relevant area.</li>
    <li><h6>Good for Shows</h6>They must participate regularly in programming broadcast back to Earth, both by appearing on camera, and by coming up with content for such programming. There are many options - arts, sports, educational content, conversational content, games. Ability in an art or a sport will be part of the criteria by which they are selected.</li>
    <li><h6>Science and Safety</h6>They must donate their bodies to science upon death.</li>
    <li>As it is so important, might as well just say that they all must have had a vasectomy or a tubal ligation</li>
    <li>They must be in excellent health</li>
    </ul>
    </li>
   <li><h6>Broad International Population</h6>Nations may send a number of representatives, but at the same time, there is a deliberate effort to send a group that truly represents all the races, religions, language groups, regions, and ways of life of humanity.</li>
   <li>The crew of First Hab is expanded to 50 when the RP starts. They are the senior staff, who come from the ISA nations. As the Residence Program is the main initial revenue stream, it is made of people from other nations. There is overlap due to, for instance, the many nations of the European Union wishing to have nationals in the settlement, as only a few would have nationals in First Hab. Other space-faring nations may also forego recuperation of their investment in order to have a few more citizens on the Moon. Still, the bulk of the people in RP Round 1 come from places other than the founder nations.</li>
   <li><h6>Affordable Entry</h6>Payment for each spot may be made over 5 years. Today, there are 63 countries in the world with annual national budgets over US$30 billion. Examples of countries at that US$30 billion level include Slovakia, Vietnam, Bangladesh, Morocco, and Luxembourg. By the time the program began there would be a number of others.</li>
   <li>Most of the astronauts would probably be in their mid-40s. They would probably be able to actively participate in colony life for at least 30 years. So, those countries in the list in the point above, for 1% of one year's national budget, would get 2 national superstars on the Moon, that can do way more to inspire national pride and collective interest in science and progress than anything they could do at home, for 30 or 40 years.</li>
  </ul>
   <p><b>There will be 7 rounds to this program. The second one goes partly to Inukshuk, and partly to Lalande. The table shows the main aspects of each round.</b></p>
  </article>
</div>
