  <article class="column">
    <details>
      <summary><h5>End-to-End Robots</h5></summary>

    </details>
    <details>
      <summary><h5>Lalande City</h5></summary>
    </details>
    <details>
      <summary><h5>Power Supply</h5></summary>
    </details>
    <details>
      <summary><h5>Anshar Station</h5></summary>
      Much of it arrives as rubble - fragile rubble pile asteroids were intentionally allowed to disintegrate during transport so they could be formed into a desirable shape for the station.
    </details>
    <details>
      <summary><h5>Cylinders</h5></summary>
    </details>
  </article>
