<div class="columnSet" id="ph4-trans">
  <article class="column" id="bigTrans">
    <details>
      <summary><h5>Fleet Expansion - The Terran Fleet, Toss Ships, Busy Skies</h5></summary>

    </details>
    <details>
      <summary><h5>Coil Guns and Slide Strips</h5></summary>
    </details>
    <details>
      <summary><h5>The Interplanetary Network</h5></summary>
    </details>
    <details>
      <summary><h5>Great Sailing Ships</h5></summary>
    </details>
    <details>
      <summary><h5>Anshar Skyhook</h5></summary>
    </details>
    <details>
      <summary><h5>Earth Skyhook Constellation</h5></summary>
    </details>
  </article>
