<div class="columnSet">
<article class="spanAll" id="residenceProgramChart">
  <h2>The Residence Program - Basic structure and rules</h2>
  <p>A lot happens during the course of the 7 rounds of the RP. By the time the last round is complete, Lalande and Inukshuk have both reached the full extent shown in Phase 1 of the virtual colonies. Although the residents must qualify, and sign a contract stipulating their duties and obligations, they are free to pursue their own projects as time permits. In later rounds residents will have more free time and greater discretion to pursue activities aside from their official duties on the colony. For more detail on qualifications see the previous section.</p>
  <table>
  <tr>
  <th>Round</th><th>Spaces</th><th>Price</th><th>Total Revenue</th>
  </tr>
  <tr>
  <td>1</td><td>200</td><td>$150 million US</td><td>$30 billion US</td>
  </tr>
  <tr>
  <td colspan="4">Only couples married >10 yr, over 40, no kids under 18, min. B.Sc. or B.Eng but higher preferred, one of couple post-doc or experienced pro, arts or sports ability. Note: Qualifications for all rounds are announced several years before it begins, leaving plenty of time for interested people to upgrade skills so they can apply.</td>
  </tr>
  <tr>
  <td>2</td><td>400</td><td>$75 million US</td><td>$30 billion US</td>
  </tr>
  <tr>
  <td colspan="4">Same conditions hold as previous round, greater focus on establishing a truly representative population. The ISA nations add another 50 astronauts, who continue to be the senior staff.</td>
  </tr>
  <tr>
  <td>3</td><td>800</td><td>$40 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">Same conditions as previous rounds, advanced degrees in the humanities now an alternative possible qualification for one member of each couple, other still must be a post-doc or expert pro in the sciences or engineering. The ISA nations add a final 100 astronauts to manage the settlements.</td>
  </tr>
  <tr>
  <td>4</td><td>1600</td><td>$20 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">Some single people now accepted, other conditions remain the same. Birth control policies remain the same. Administration is transferred to the Moon Agency and some RP astronauts are promoted into administrative posts. </td>
  </tr>
  <tr>
  <td>5</td><td>3200</td><td>$10 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">Greater proportion of singles accepted. Residents may now be sponsored by groups other than nations, but not by commercial entities. Some residents arrive representing foundations, professional associations, and universities. Corporate interests may provide funding, but may not directly sponsor a resident. The Moon Agency becomes more mixed between the ISA nations and RP astronauts from other countries.</td>
  </tr>
  <tr>
  <td>6</td><td>6400</td><td>$5 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">The Anshar skyhook orbiting Earth is finished, and because this makes transport so much cheaper, about 1000 of these astronauts are younger married couples around age 30 who have no children but plan to have some. As it is not yet clear how pregnancy and childhood on the Moon will play out, these couples are advised that should they become pregnant, they must return to Earth for the pregnancy and the first years of the child's life. They may then return to the Moon. The child will be carefully monitored and the family will return to Earth if a threat to the child's health is detected. Qualification still based on education - seeking a majority of people with strong science and engineering backgrounds, but a significant minority with superlative humanities backgrounds. </td>
  </tr>
  <tr>
  <td>7</td><td>12800</td><td>$5 million US</td><td>$64 billion US</td>
  </tr>
  <tr>
  <td colspan="4">The requirement of sterility is eliminated, and the average age of the astronauts drops to near 30. Risks regarding pregnancy and growing children living in space are significant, but have solutions. For the sake of argument, we shall assume the first 2 months of pregnancy is not affected by conditions in the lunar colonies, and that children over three can be healthy there if a careful program is followed.</td>
  </tr>
 </table>
<p>Price for a residential spot when the Moon opens to the public:<h6> $250,000</h6>. Population when the opening occurs: <h6>25,600 souls</h6>. Though the duration of the program could be drawn out by difficult techical hurdles, since energetic investment is being assumed, we shall estimate the whole thing is completed in <h6>50 years</h6>.
 </article>
</div>
