<div class="columnSet">
<article class="spanAll" id="residenceProgramChart">
  <details>
  <summary><h2>The Residence Program - Structure and rules of the 7 rounds</h2></summary>
  <p> Although the residents must qualify, and sign a contract stipulating their duties and obligations, they are free to pursue their own projects as time permits. In later rounds residents will have more free time and greater discretion to pursue activities aside from their official duties on the colony.</p>
  <table>
  <tr>
  <th>Round</th><th>Spaces</th><th>Price</th><th>Total Revenue</th>
  </tr>
  <tr>
  <td>1</td><td>200</td><td>$150 million US</td><td>$30 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>Only couples married >10 yr, over 40, no kids under 18, min. B.Sc. or B.Eng but higher preferred, one of couple post-doc or experienced pro, arts or sports ability. Note: Qualifications for all rounds are announced several years before it begins, leaving plenty of time for interested people to upgrade skills so they can apply.
    </details></td>
  </tr>
  <tr>
  <td>2</td><td>400</td><td>$75 million US</td><td>$30 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>Same conditions hold as previous round, greater focus on establishing a truly representative population. The ISA nations add another 50 astronauts, who continue to be the senior staff.
    </details></td>
  </tr>
  <tr>
  <td>3</td><td>800</td><td>$40 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>Same conditions as previous rounds, advanced degrees in the humanities now an alternative possible qualification for one member of each couple, other still must be a post-doc or expert pro in the sciences or engineering. The ISA nations add a final 100 astronauts to manage the settlements.
    </details></td>
  </tr>
  <tr>
  <td>4</td><td>1600</td><td>$20 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>Some single people now accepted, other conditions remain the same. Birth control policies remain the same. The requirement that only nations may sponsor residents is dropped. Many residents now arrive representing foundations, professional associations, and universities.<br><br>
      Administration is transferred to the Moon Agency and some RP astronauts are promoted into administrative posts.
    </details></td>
  </tr>
  <tr>
  <td>5</td><td>3200</td><td>$10 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>Greater proportion of singles accepted. Private citizens may now apply, but must qualify, including training, and may not be more than a third of the group. Business interests may provide funding, but may not directly sponsor a resident. Contracts between accepted residents and businesses must be for a fixed time period and be reviewed by the Moon Agency.<br><br> The Moon Agency becomes more mixed between the ISA nations and RP astronauts from other countries.
    </details></td>
  </tr>
  <tr>
  <td>6</td><td>6400</td><td>$5 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>The Anshar skyhook orbiting Earth is finished, and because this makes transport so much cheaper, about 2000 of these astronauts are younger married couples around age 30 who have no children but plan to have some. As it is not known how pregnancy and childhood on the Moon will play out, but danger is probable, these couples are advised that should they become pregnant, they must return to Earth for the pregnancy and the first years of the child's life. They may then return to the Moon. The child will be carefully monitored and the family will return to Earth if a threat to the child's health is detected.<br><br> Private citizens may form up to half the group, but must qualify, including training. Qualification in education may now be an advanced degree of any kind, or a successful career in the arts or sports. Private applicants are permitted to have only an undergraduate degree.
    </details></td>
  </tr>
  <tr>
  <td>7</td><td>12800</td><td>$2.5 million US</td><td>$32 billion US</td>
  </tr>
  <tr>
  <td colspan="4">
    <details>
      <summary>Conditions</summary>The requirement of sterility is eliminated, and the average age of the astronauts drops to near 30. Risks regarding pregnancy and growing children living in space are significant, but have solutions. For the sake of argument, we shall posit the first 6 weeks of pregnancy is not affected by conditions in the lunar colonies, and that children over three can be healthy there, if a careful program is followed that involves extensive centrifuge use, a carefully designed exercise program, and possibly supplements and medication. This is simply an educated guess as to what might be sufficient.<br><br>There is now no limit on how many private citizens may apply, but applicants backed by a recognized group get priority. All applicants must have at least an undergraduate degree.
  </details></td>
  </tr>
 </table>
 <br>
 <div>
Price for a residential spot when the Moon opens to the public:<h6> $250,000</h6>. Population when the opening occurs: <h6>25,600 souls</h6>. Total revenue from the Residence Program: <h6>$220 billion US</h6> Though the duration of the program could be drawn out by difficult techical hurdles, since energetic investment is being assumed, we shall estimate the whole thing is completed in <h6>30 years</h6>.
</div>
</details>
 </article>
</div>
<div class="columnSet" id="ph3">
  <div class="spanAll">
    <h2>Phase 3 - duration 10 years. Residence Program Rounds 2, 3, and 4</h2>
  </div>
</div>
