<div class="columnSet" id="shipsRobotsISA">
 <article class="column" id="FirstTransportShips">
  <h5><a href="machines2.html#AsteroidAnchors">First Asteroid Retrieval Mission</a></h5>
  <ul>
   <li>Based on the <a href="http://sites.nationalacademies.org/cs/groups/depssite/documents/webpage/deps_083266.pdf">ARM</a> mission design scaled by a factor of 10, aiming for an asteroid massing 7.5 metric kilotons</li>
   <li>This needs to launch first so it can get the asteroid to lunar orbit by the time the infrastructure to do something with it is ready.</li>
   <li>This asteroid will be the anchor for the first skyhook from lunar orbit to the lunar surface. Want a good reason to conduct the ARM mission? This is it.</li>
  </ul>
 <h5><a href="machines2.html#ionDrive">Ion Drive Asteroid Retrieval Ship</a></h5>
  <ul>
   <li>This will require on-orbit assembly due to the size of the solar panels and the scale of the bag that will enclose the asteroid. It can probably be done in 2 pieces.
   </li>
   <li>To work well its solar panels need to generate roughly 1 MW of power, and it needs an array of <a href="https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/20040139476.pdf">HiPEP ion drives</a>. The ISS panels generate about 100 KW, so 10 times that much. One might hope to get 15 N of thrust from such a system. </li>
   <li>The ship is reused to retrieve a series of asteroids over time. It will need  refurbishment and upgrading over time to get the 5 asteroids for the complete lunar skyhook system, and then the Earth skyhook asteroid.</li>
 </ul>
  <h5><a href="machines2.html#nuclearShuttles">Nuclear Thermal Shuttles</a></h5>
  <ul>
   <li>Flies between the lunar surface and lunar orbit</li>
   <li>May be practical to connect its engines to turbine generators when not flying</li>
   <li>Uses water for a higher-thrust fuel, which is more efficient, once the skyhook is in place, because most of the fuel is for launch and landing, when high thrust is the priority. Thus the base does not need to split water into hydrogen and oxygen, or to store cryogenic hydrogen.</li>
   <li>A barrier needs to be between the shuttle and human habs so that people aren't exposed to its radiation when working outside</li>
   <li>To design the model, better data is needed on radiation shield design. </li>
  </ul>
 <h5><a href="machines2.html#PodShip">Pod ship from Low Earth Orbit to Medium Lunar Orbit</a></h5>
 <ul>
  <li>uses next generation hydrolox upper stages capable of many restarts</li>
  <li>On the LEO end, it meets a space station, loads the cargo pods waiting there and gets servicing</li>
  <li>On the MLO end, it hands off its load to the nuclear shuttle, and later to the skyhooks</li>
  <li>When crew come, they arrive in pods outfitted for transporting people.</li>
  <li>This ship is almost completely automatic, no pilots.</li>
  </ul>
  <h5>Expansion of the International Space Station</h5>
  <p>We shall assume the ISS becomes a public-private entity under some arrangement and continues to fly. To handle the LEO end of missions from here out to RP round 5, it needs a lot of upgrading.</p>
  <ul>
    <li>An area for on-orbit assembly of the ships listed above. That needs trusses for mooring components, robotic arms for assembly, and a bigger reaction-wheel system to keep the station oriented properly.</li>
    <li>A berthing area for the pod ship, and tanks and infrastructure to refuel it. (Later those tanks can be for the water the pod ship brings from the Moon.)</li>
    <li>A berthing area for the ships filling the fuel tanks that will later fuel the pod ship.</li>
    <li>The on-orbit assembly area can later be used for storage of the cargo pods for the pod ship, and for loading it when it arrives.</li>
    <li>Equipment to crack the water brought from the Moon into hydrogen and oxygen, and then liquify that, so it can then be loaded back onto the pod ship as fuel.</li>
    <li>The crews that are sent will stay mostly in the passenger pods that get loaded on the pod ship, but the station will still need extra life support capacity and one or two large modules for crew quarters.</li>
    <li>All of which implies also some more solar panels, and sundry electo-mechancal infrastructure to support it all.</li>
  </ul>
  <p>The cargo pods are delivered by reusable upper stages that get them to the mooring area and then return to Earth, so no berths for them are needed. </p>
  <p><b>10 to 15 missions to the Moon occur during this phase. The pod ship and nuclear shuttle both can take a maximum payload of 40 tons. The payload landed on the Moon is 300 tons or more. </b></p>
 </article>
 <article class="column" id="RobotRoverTests">
  <h5><a href="machines.html#robots">Robot and Rover Test Missions</a></h5>
<p>These can't start until the pod ship and shuttle are running and have delivered their first payload to the site of the future base. The goal would be to have robotic machinery on the surface capable of performing the complex work of construction and volatile extraction by the time the asteroid for the first skyhook arrives in orbit.</p>
  <ul>
  <li><h6>Mission 1</h6> After the pod ship deploys the nuclear shuttle, on the next trip it brings rovers, robots, equipment and supplies. The nuclear shuttle delivers them to the base site on the west rim of Whipple crater. The battery banks of the shuttle (charged from its nuclear reactor), and its robotic arm, are helpful in providing the robots their initial charge and getting the solar cell arrays and microwave power transmitters set up. </li>
  <li><h6>Small initial tasks for robots</h6> The remotely operated equipment excavates a trench, places an inflatable hab for the crew in it, makes arches that cover it, and cover them over with enough regolith to form a good radiation barrier. If there are problems with this process, the human crew can complete it. They also do scouting, testing, and experiments.</li>
  <li><h6>Paving</h6>A rover using simple Fresnel lenses fuses surface regolith near the hab construction site. The thin layer created will tend to break up and shift, but by driving a grid of fused regolith stakes into the ground before passing the lens over an area, the melted surface fuses with the stakes into one piece. The cracking then doesn't lead to shifting. Thickening the fused layer by spreading more regolith overtop and heating it can also be done. </li>
  <li><h6>Mission 2 - with Crew</h6> a crew is delivered to orbit by the pod ship in a crew pod. They are picked up by the nuclear shuttle and landed at the base site.</li>
  <li>The crew spends a few weeks on site:
   <ul>
    <li>Testing and prepping the prototype robots that will be used for more complex remote work after the crew leave, and setting up initial infrastructure for them: rails they move on, bases for arms, anchor points for cables, stations for basic maintenance and repairs or for installing drop-in replacement parts.</li>
    <li>Assisting in the initial melt-boring and micro-charge excavation for the first constructed hab.</li>
    <li>Testing fabrication of building materials out of melted regolith using melt-in-place stations.</li>
    <li>Sending robots into the permanent shadow of Whipple Crater to take measurements, probe the ground, collect samples, and test robot performance in that enviroment.</li>
    <li>Surveying the locale, doing experiments on the soil and samples from the permanently shadowed craters</li>
   </ul>
  </li>
  <li><h6>Hab Construction</h6>When the crew leave, the robots continue with the construction of the first hab and related infrastructure.</li>
  <li><h6>Extra Crew Missions</h6>One or two additional crew expeditions may be sent if the robots have problems to upgrade, test, and assist them. The robots must be capable of doing all the complex tasks of construction, excavation, extraction of volatile ices, and miscellaneous duties, by remote operation from Earth. The emphasis is very much on the creation of equipment that can do that work without people on site. Further missions to that end would also be of relatively short duration, on the order of a few weeks.</li>
  <li><h6>Melted Regolith Construction Technique</h6>Construction relies on fabricating simple materials by melting tamped soil with lenses at <a href="machines.html#MIPstation">MIP stations</a>, and joining them using more melted regolith. It does not require precision or complex tools. It does require simple tools that can handle temperatures in the range of 1200 to 1400 &deg;C, and robots that can handle the radiated heat and withstand the occasional splash or drip. The MIP stations are deployed in Mission 2 and are very simple systems, they are the key to the feasibility of this.
  </li>
  <li><h6>Melt-Bore and Micro-Charge Excavation</h6>Excavation is done in two steps that are simple and very effective. First, by boring a grid of holes by melting the ground using a sun gun. It is based very closely on the work of <a href="http://www.psicorp.com/pdf/library/VG09-193.pdf">Nakamura and Smith</a> through Physical Sciences Inc. Second, by laying micro-charges in those holes and detonating them to <a href="https://books.google.com.mx/books?id=rOg6B38bunIC&pg=PA235&lpg=PA235&dq=explosives+regolith&source=bl&ots=0YL6xrfyup&sig=d_DOCyBJTkkGCfuNIe4VsSQ0esY&hl=en&sa=X&ved=0ahUKEwjhl-nZkazSAhUGllQKHRoDDUgQ6AEIIDAB#v=onepage&q=explosives%20regolith&f=false">loosen the soil</a>. Further depth is achieved by repeating this process.
  </li>
  <li>The loose rocks, gravel, and soil hauled up during excavation are used as fill and feedstock elsewhere.</li>
  </ul>
 </article>
 <article class="column" id="InternationalSpaceAgency">
  <h5>Creation of the International Space Agency</h5>
  <p>The agencies of most of the major space-faring nations cooperated in the construction of the International Space Station: ESA, JAXA, Roscosmos, NASA, and CSA. This is the best precedent but is a minor collaboration compared to what would be involved in settling the Moon.</p>
  <p>So the ISA is created and has its own staff, taken from all the member agencies. The founders are the United States, Russia, China, the European Union, India, Japan, and Canada. The agency creates the overall plan and parcels out the work on it. As the United States remains the country with the largest space industry and the most launch facilities, it is headquartered in Florida not far from Kennedy Space Center. </p>
  <p>Many questions of jurisdiction, ownership, information sharing, and legal responsibility would need to be settled. Again the agreements covering the ISS are the model that would need to be built on.</p>
  <p>A shift to an open-source model regarding the technology developed for the project could reduce tensions on several of those issues. The application of international law might help in questions of  administration.</p>
  <p>As the project would be underway for a number of years before it involved a permanent human settlement, and a number of years more before there was profit, the scale of cooperation needed to continue working together would only slowly need to grow, and be tested many times before issues of serious consequence needed to be settled.</p>
  <p>For this reason, such an endeavor provides the ideal way to develop the broad international collaboration needed to address long-term peace and prosperity on Earth.</p>
 </article>
</div>
