<div class="columnSet" id="shipsRobotsISA">
  <article class="column" id="FirstTransportShips">
    <h5>Construction of the Earth Equatorial Space Station</h5>
    <p>Because of the scale and nature of the work that happens on this station, it is built in an equatorial orbit. These orbits never pass through the South Atlantic Anomaly, so the radiation exposure of people on the station is a fraction of what crews on the ISS get. This architecture has been extensively explored by <a href="http://alglobus.net/">Al Globus et al.</a>. The station is the proving grounds for tele-operated robotic construction. Successful development of that and cost savings from reusable launch vehicles allows creation of a space station on a much grander scale than the current International Space Station. </p>
    <details>
      <summary>What the EESS includes</summary>
      <ul>
        <li>An area for on-orbit assembly of the ships that will go to the Moon (the Pod Ships and the Lunar Nuclear Shuttles). This area is also the base for assembling the Station modules and components delivered from Earth. It is the first thing built
          - a hexagon of trusses all connected to a central module, that gets longer as further modules and components are added to it. </li>
        <li>Aside from being the construction area, the hexagonal truss area is where automated ships berth, cargo pods are moored, and robots are stored. Bits and pieces get tacked onto it while things are being built or repaired, satellites or probes are
          being prepared for deployment, or equipment flying experiments do their work. We shall call it the Hexagon.</li>
        <li>The Hub starts as the initial module at the center of the Hexagon and then grows outwards in one direction. Large tanks for water brought from the Moon, and equipment to crack it into hydrogen and oxygen, liquify that, and store it until it is
          used to fill the fuel tanks of ships, is clustered around that module.</li>
        <li>Further modules extending the Hub house all the key infrastructure for the Station - power conversion and distribution, cooling, air tanks, air scrubbers, airlocks and docks for crewed ships, tools, sensors, comms equipment, and initial crew quarters.
          </li>
        <li>Then, a rotating flattened Torus is added, for a simulated gravity environment. The torus is large enough to accommodate both crew quarters and labs doing a range of research on low-gravity. It has several greenhouse spaces and sections for animal
          experiments. The hub contains a lab for micro-gravity experiments.</li>
        <li>Finally, 4 Teardrops are added to the torus, spaced 90&deg; apart, each across from one of the tubes connecting the Torus to the Hub. The shallow bowls at the bottom of the cones connecting them to the Torus experience centrifugal force of nearly
          one gravity. </li>
        <li>The solar panels need to be quite extensive for the Station to do its construction and processing work, and to supply the labs with all the power they need. They extend from the end of the hub opposite the hexagon of trusses, together with the
        radiator panels. </li>
        <li>The final components built, including internal elements of the Torus and the Teardrops, are made with materials from the Moon</li>
      </ul>
    </details>
    <h5><a href="machines2.html#PodShip">Pod Ships start shuttling between Earth orbit and Lunar Orbit</a></h5>
    <p>The Pod Ships are operated remotely. They are capable of doing rendezvous and docking maneuvers on their own. Basically they are a nose with all the operating systems, a robotic arm, and a pair of solar panel wings, then a long truss with racks for the pods, and then the fuel tanks and engines on the far end.</p>
    <p>The pods are the space equivalent of shipping containers - tubes with rounded ends covered in insulation and whipple shielding, a sliding door, internal structures for holding things, and connectors if items need power or a comms connection. A Pod Ship can take 8 small ones or 4 long ones. Crew are transported in pods adapted for life support and basic accommodations. Some pods are  water tanks, returning mined water from the Moon to the EESS. Pod Ships are designed for a maximum payload of 80 tons to the lunar orbit when operations begin.
    </p>
    <details>
      <summary>Pod Ship Operations and Early Missions</summary>
    <ul>
      <li>These ships have next gen hydrolox engines capable of many restarts. They get serviced between trips at the EESS.</li>
      <li>Early missions are all to a polar orbit. Once tether construction begins, they all enter a circular orbit riding the Moon's terminus (between the night side and the day side), at an altitude of 5000 km. The first tether complex goes there so it has constant sunlight on its solar panels. </li>
      <li>The 1st and 2nd missions deliver 2 Lunar Nuclear Craft (LNCs, pronounces 'links'), extra fuel, and initial equipment for surface operations.</li>
      <li>There are 15 missions to deliver the equipment and components to build the first polar tether. The Pod Ship that delivers the first one stays in orbit so its solar arrays can power the construction equipment, plus it provides a comms link, orbital maintenance, and a stable construction platform. The other in operation at this point delivers goods every 2 weeks.</li>
      <li>On the 3rd one, a crew pod is dropped off and connected to the Pod Ship staying in orbit, with a crew of 4 that stay for 4 weeks. They oversee initial deployment and testing of the skyhook construction equipment, and remotely operate equipment at the lunar pole. The 6th one delivers the superstructure of the future Crossroads Station, and the Pod Ship leaves, handing off its duties to that skeletal Station. The role of the Station after this is outlined it its section below.</li>
      <li>After a few months of lunar surface operations, there are 2 further missions delivering equipment, fuel, and materials which the LNCs transfer to polar ops. The LNCs deliver a few tons of lunar material that the Pod Ships return to the EESS for analysis.</li>
      <li>By the end of this phase, the Pod Ships have delivered many loads of equipment and supplies, and have rotated many crews. They return to the EESS carrying water, lunar dust that goes to soil beneficiation projects in its greenhouses, and initial in situ processed materials for testing and incorporation into internal elements of the EESS.</li>
    </ul>
  </details>
    <h5><a href="machines2.html#nuclearShuttles">Lunar Nuclear Craft</a></h5>
    <p>These craft use nuclear thermal engines with a bipropellant design, known as a <a href="https://ntrs.nasa.gov/search.jsp?R=20170004744&hterms=lantr+nuclear+thermal&qs=N%3D0%26Ntk%3DAll%26Ntx%3Dmode%2Bmatchallany%26Ntt%3Dlantr%2Bnuclear%2Bthermal">LANTR design</a>. They get thrust by superheating hydrogen, and during launch and landing, can greatly augment that thrust by injecting oxygen into the engine nozzle, basically like an afterburner. They are designed for vertical landing and takeoff.
    </p>
    <p>The LNCs are similar in architecture to the the Pod Ships, including being self-piloting. The difference is their engines are nuclear, which means they include heavy shielding, and they don't have solar panels, as they draw their electrical power from the nuclear reactor as well. Their racks have space for up to 4 small pods or 2 large ones. Thanks to their bipropellant capability, they are able to launch and land about 20 tons of payload even before there is a tether reducing the delta V required, though it takes a lot more fuel to do so. Once the tether is in place, they are designed to move loads up to 40 tons to and from the tether foot.
    </p>
    <details>
      <summary>LNC Operations and Early Missions</summary>
      <ul>
        <li>Initially the LNCs help the surface rovers set up operations by providing supplemental power from their onboard reactors, acting as a comms link, and using their robotic arms</li>
        <li>Once water production allows supplementing of their fuel supply, and the growing tether lowers delta V requirements, they shuttle loads of lunar rock to the tether foot. This is taken up to the tether anchor to increase its mass. They do this as often as possible.</li>
        <li>With further increases in water production, they begin delivering tanks of water to the tether foot as well, as often as possible.</li>
        <li>They do a series of sortie missions to the lunar maria and areas of interest, collecting samples for analysis and experimentation, and surveying.</li>
        <li>Before people can be landed on the surface, a well needs to be excavated in the LNC landing pad, so that before people exit the craft, the engine section is unclamped and lowered into it, keeping them safe from its radiation. This unclamping and lowering system must be built into the craft from the beginning, and probably should be used always as soon as the well is built, though people won't arrive for a few years more.</li>
      </ul>
  </details>
  <h5>Crossroads Skyhook and Anchor Station Construction</h5>
  <p>Once the superstructure for Crossroads is delivered, it is continuously occupied by crews of 8, who stay for 4 weeks at a time. Further deliveries by the Pod Ships build up its capacity, and the rock the LNCs send up establish good shielding. Once there is enough shielding over key areas such as sleeping berths, crews begin to extend their stays. By the end of this phase a crew of 12 is always aboard, and people stay for up to a year at a time.
  </p>
  <p>The crew of Crossroads can operate the robots on the lunar surface, and on the skyhook, without the significant delay during transmissions which slow and complicate tele-operation from Earth. Much more complex and dynamic robotic work can be done in this situation. That is explained in the next column.
  </p>
  <p>By the end of this phase, the lower tether is equiped with a foot platform that can berth a fully loaded LNC, a tip platform that can berth a fully loaded Pod Ship, and climbers that can transfer the full payloads of both. This requires a total of 1000 tons of Zylon woven into a ribbon extending 5000 km downwards and another reaching 4500 km upwards, which can carry the load of the platforms, climbers, maintenance and motion control systems, berthed ships, and cargo, with a safety factor of 2.</p>
  <details>
    <summary>Crossroads Systems and Operations</summary>
    <ul>
      <li>The climbers are nuclear</li>
      <li>The Anchor Station runs on solar power</li>
      <li>Orbital control is mostly achieved through passive momentum transfer, by dropping and retrieving weights.</li>
    </ul>
  </details>
    <p><b>The Pod Ships make  </b></p>
  </article>
  <article class="column" id="RobotRoverTests">
    <h5><a href="machines.html#robots">Robot and Rover Test Missions</a></h5>
    <p>These can't start until the pod ship and shuttle are running and have delivered their first payload to the site of the future base. The goal would be to have robotic machinery on the surface capable of performing the complex work of construction and
      volatile extraction by the time the asteroid for the first skyhook arrives in orbit.</p>
    <ul>
      <li>
        <h6>Mission 1</h6> After the pod ship deploys the nuclear shuttle, on the next trip it brings rovers, robots, equipment and supplies. The nuclear shuttle delivers them to the base site on the west rim of Whipple crater. The battery banks of the shuttle (charged
        from its nuclear reactor), and its robotic arm, are helpful in providing the robots their initial charge and getting the solar cell arrays and microwave power transmitters set up. </li>
      <li>
        <h6>Small initial tasks for robots</h6> The remotely operated equipment excavates a trench, places an inflatable hab for the crew in it, makes arches that cover it, and cover them over with enough regolith to form a good radiation barrier. If there are problems with this process, the
        human crew can complete it. They also do scouting, testing, and experiments.</li>
      <li>
        <h6>Paving</h6>A rover using simple Fresnel lenses fuses surface regolith near the hab construction site. The thin layer created will tend to break up and shift, but by driving a grid of fused regolith stakes into the ground before passing the lens over an area,
        the melted surface fuses with the stakes into one piece. The cracking then doesn't lead to shifting. Thickening the fused layer by spreading more regolith overtop and heating it can also be done. </li>
      <li>
        <h6>Mission 2 - with Crew</h6> a crew is delivered to orbit by the pod ship in a crew pod. They are picked up by the nuclear shuttle and landed at the base site.</li>
      <li>The crew spends a few weeks on site:
        <ul>
          <li>Testing and prepping the prototype robots that will be used for more complex remote work after the crew leave, and setting up initial infrastructure for them: rails they move on, bases for arms, anchor points for cables, stations for basic maintenance
            and repairs or for installing drop-in replacement parts.</li>
          <li>Assisting in the initial melt-boring and micro-charge excavation for the first constructed hab.</li>
          <li>Testing fabrication of building materials out of melted regolith using melt-in-place stations.</li>
          <li>Sending robots into the permanent shadow of Whipple Crater to take measurements, probe the ground, collect samples, and test robot performance in that enviroment.</li>
          <li>Surveying the locale, doing experiments on the soil and samples from the permanently shadowed craters</li>
        </ul>
      </li>
      <li>
        <h6>Hab Construction</h6>When the crew leave, the robots continue with the construction of the first hab and related infrastructure.</li>
      <li>
        <h6>Extra Crew Missions</h6>One or two additional crew expeditions may be sent if the robots have problems to upgrade, test, and assist them. The robots must be capable of doing all the complex tasks of construction, excavation, extraction of volatile ices, and miscellaneous
        duties, by remote operation from Earth. The emphasis is very much on the creation of equipment that can do that work without people on site. Further missions to that end would also be of relatively short duration, on the order of a few weeks.</li>
      <li>
        <h6>Melted Regolith Construction Technique</h6>Construction relies on fabricating simple materials by melting tamped soil with lenses at <a href="machines.html#MIPstation">MIP stations</a>, and joining them using more melted regolith. It does not require precision or complex tools. It does
        require simple tools that can handle temperatures in the range of 1200 to 1400 &deg;C, and robots that can handle the radiated heat and withstand the occasional splash or drip. The MIP stations are deployed in Mission 2 and are very simple systems,
        they are the key to the feasibility of this.
      </li>
      <li>
        <h6>Melt-Bore and Micro-Charge Excavation</h6>Excavation is done in two steps that are simple and very effective. First, by boring a grid of holes by melting the ground using a sun gun. It is based very closely on the work of <a href="http://www.psicorp.com/pdf/library/VG09-193.pdf">Nakamura and Smith</a>        through Physical Sciences Inc. Second, by laying micro-charges in those holes and detonating them to <a href="https://books.google.com.mx/books?id=rOg6B38bunIC&pg=PA235&lpg=PA235&dq=explosives+regolith&source=bl&ots=0YL6xrfyup&sig=d_DOCyBJTkkGCfuNIe4VsSQ0esY&hl=en&sa=X&ved=0ahUKEwjhl-nZkazSAhUGllQKHRoDDUgQ6AEIIDAB#v=onepage&q=explosives%20regolith&f=false">loosen the soil</a>.
        Further depth is achieved by repeating this process.
      </li>
      <li>The loose rocks, gravel, and soil hauled up during excavation are used as fill and feedstock elsewhere.</li>
    </ul>
  </article>
  <article class="column" id="InternationalSpaceAgency">
    <h5>Creation of the International Space Agency</h5>
    <p>The agencies of most of the major space-faring nations cooperated in the construction of the International Space Station: ESA, JAXA, Roscosmos, NASA, and CSA. This is the best precedent but is a minor collaboration compared to what would be involved
      in settling the Moon.</p>
    <p>So the ISA is created and has its own staff, taken from all the member agencies. The founders are the United States, Russia, China, the European Union, India, Japan, and Canada. The agency creates the overall plan and parcels out the work on it. As
      the United States remains the country with the largest space industry and the most launch facilities, it is headquartered in Florida not far from Kennedy Space Center. </p>
    <p>Many questions of jurisdiction, ownership, information sharing, and legal responsibility would need to be settled. Again the agreements covering the ISS are the model that would need to be built on.</p>
    <p>A shift to an open-source model regarding the technology developed for the project could reduce tensions on several of those issues. The application of international law might help in questions of administration.</p>
    <p>As the project would be underway for a number of years before it involved a permanent human settlement, and a number of years more before there was profit, the scale of cooperation needed to continue working together would only slowly need to grow,
      and be tested many times before issues of serious consequence needed to be settled.</p>
    <p>For this reason, such an endeavor provides the ideal way to develop the broad international collaboration needed to address long-term peace and prosperity on Earth.</p>
  </article>
</div>
