<div class="columnSet">
 <article class="column">
  <h1>Transport Systems</h1>
  <details id='TransportIntro'>
  <summary>The key to success</summary>
   <p>
    Human expansion is bound by the limits and capabilities of the transportation systems of the time. The great sailing ships of Europe led to their conquest of large parts of the globe. Modern container ships have unified the world economy, allowing producers to compete globally.   No investment in transport infrastructure is too great  if it secures long-term access to a place of sufficient potential; and the Solar System dwarfs the potential of any resource humanity has ever accessed before.
   </p>
   <p>Currently, transport accounts for a substantial percentage of the total cost of a space mission. Additional costs arise from mission failures (5% of all missions to Earth orbit are lost  to launch failures, 10% or more of missions beyond Earth orbit  are lost), and long delays due to extensive preparation and launch procedures. A transport system based on alternatives to chemical rockets, as outlined below, is analogous to modernizing access to the frontier with an upgrade from wagons and pack animals to steam locomotives, and will be as integral to realizing the potential of space.
   </p>
  </details>
 </article>
 <article class="column" >
  <h1>Colony Development</h1>
  <details id="ColonyDevIntro">
   <summary>Go big, go robotic</summary>
   <p>
    Once construction of a base can be done in situ, utilizing lunar materials, it should be expanded to the extent feasibility allows, until transport between the Earth and Moon is routine and the colonies are well established. Redundancy and extra capacity are valued asset to outposts. Most initial pursuits by space colonies will also tend to benefit from economies of scale–infrastructure  development, heavy machinery, and facilities for broadcasting, sports, research, and tourism. </p>
    <p>The Moon is an ideal setting to contemplate the workings of such a system. It allows for modelling without raising any immediate or alarming questions related to employment, environmental impact, or power shifts. The undertaking of construction or industrial processes on the Moon only makes sense if carried out by robots, operated either remotely or autonomously. The initial success of such a system will be a process in itself, requiring refinement and adaptation as challenges arise. However, extrapolating from recent and ongoing advances in robotics paints a picture of a future in which robots are the vehicles of dramatic growth. Once mastery is achieved, the infamous linear growth of the current era's slow and grinding development of space will be replaced by an era characterized by the steepest growth curve ever known.
   </p>
   <p>The robots make a world of difference. </p>
  </details>
 </article>
 <article class="column" >
  <h1>Socio-Economic Development</h1>
  <details id="SocioEconomicIntro">
   <summary>A bridge to a new era</summary>
   <p>Everything here is predicated on the idea that a group of nations decide together to colonize the Moon and devote the funds necessary to do so properly without question. So, let the model be that the first missions are funded and carried out jointly by the nations with well-established space agencies - the United States, Russia, the European Union, China, India, Japan, and Canada. Once the Residence Program (explained below) begins, all nations participate.
   </p>
   <p>This is, of course, the arena where Moonwards leaves reality aside. A case can be made that until we undertake something together on the scale imagined here, and thus establish a sense of common cause, the world will not have peace. If so, contemplating it is helpful to reaching such peace, however remote it is from the world we live in. </p>
   <p>The rosy, cozy view envisioned below also maximizes the scope of activity the project can ponder. In many places it's even simply convenient for organizing people into groups within the virtual world. Please bear in mind it is deliberately Utopian for all these reasons, and is not meant to endorse any political policy in the real world.
   </p>
   <p>Consequently, it doesn't make sense to predict exact schedules. The timelines below are rough estimates of duration and deliberately exclude exact start dates.</p>
  </details>
 </article>
</div>
