<div class="columnSet">
 <article class="column" id='TransportIntro'>
  <h1>Transport Systems</h1>
  <details>
  <summary>The key to success</summary>
   <p>
    Europeans colonized the world thanks to their great sailing ships. Railroads were vital to expansion across the North American continent. Almost any level of investment is justfied if it secures you access long-term to a large enough place. When that new place is the rest of the solar system? Bet the bank on it.
    The difference between reliance on chemical rockets and reliance on the system below is like the difference between wagon trains and steam locomotives. Railroads completely changed what was possible, this is the same thing.
   </p>
   <p>The cost of transport is currently a high percentage of the total cost of space missions. Total loss of missions due to launch failure, engine failure in space, or landing failure is frequent. Long delays due to the time it takes to prepare and launch rockets slow everything down. Any serious undertaking in space needs to address these issues before it does anything else. The road to profitability can be made much shorter thanks to proper design here.
   </p>
  </details>
 </article>
 <article class="column" id="ColonyDevIntro">
  <h1>Colony Development</h1>
  <details>
   <summary>Go big, go robotic</summary>
   <p>
    Our position is it doesn't make sense to undertake construction or any industrial process on the Moon unless it can be done by robots that are operated remotely, or that operate themselves. It will be difficult to get this right at first, but once achieved then the slow, grinding, linear growth of projects in space up to now - is gone. In its place is a growth curve steeper than anything we have ever known. So to contemplate the workings of such a system, you might as well model it on the Moon, where there are no immediate and rather alarming questions about the resulting unemployment, or environmental impact, or power shifts, or anything like that. The reason this timeline forecasts such dramatic growth is because the robots make a world of difference. Advances along these lines have been impressive recently. This is a future we have to expect. </p>
    <p>Also, once a base is being built of lunar materials, it should be as big as possible. Most things should be made as large as they reasonably can be, until transport between Earth and the Moon has become routine and the colonies are very well established. Redundancy and extra capacity tend to come in handy at an outpost. The kind of businesses the colony will pursue first also tend to benefit from economies of scale - real estate, heavy machinery manufacture, facilities for tourism, sports, and broadcasting.
   </p>
  </details>
 </article>
 <article class="column" id="SocioEconomicIntro">
  <h1>Socio-Economic Development</h1>
  <details>
   <summary>A bridge to a new era</summary>
   <p>Everything here is predicated on the idea that a group of nations decide together to colonize the Moon and devote the funds necessary to do so properly without question. So, let the model be that the first missions are funded and carried out jointly by the nations with well-established space agencies - the United States, Russia, the European Union, China, India, Japan, and Canada. Once the Residence Program (explained below) begins, all nations participate.
   </p>
  </details>
 </article>
</div>
