<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{page.stylesheet}}">
		<style>
.overlay {
	border: 5px solid transparent;
	border-width: 5px;
	border-radius: 5px;
}
.overlay:hover {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255,200,0);
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}
		</style>
	</head>
	<body>
		{%include nav.html%}
		<a href="{{page.modelPath}}" style="padding:5px;">
			<img src="{{page.linkImagePath}}" class="overlay" alt="Link to 3D model of the Lalande crater">
		</a>
	</body>
</html>
