
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
		<meta name="theme-color" content="#ffffff">
		<meta name="description" content="{{page.description}}">
		<link rel="stylesheet" href="https://www.moonwards.com/css/posts.nest.sass.css">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.moonwards.com/js/tooltipster.bundle.min.js"></script>
		<!--<script type="text/javascript" src="js/iframeResizer.contentWindow.min.js"></script>-->
		<script>
$(document).ready(function() {
	 $('.tooltip').tooltipster({
		interactive: true
	});
});
		</script>
	</head>
<body>
<div class="back2index">
 <a href="https://www.moonwards.com/blogMain.html">Return to post index</a>
</div>
	<header>
		<p>
     What if a group of nations was determined to
     colonize the Moon, and they based their decisions only on
     technical and economic merit?
		</p>
	</header>
	<div class="container">
		<h1>{{page.title}}</h1>
{{content | remove: 'end-excerpt'}}
	</div>
</body>
</html>
